Repository vesperfi/vesper-contracts: changes, and which lint-staged commands are due for each by the changed paths.
All: solhint, eslint --cache --fix

stETH strategy for Maker
  vesper-commons/config/mainnet/address.js
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-commons/utils/gemJoins.js
  vesper-commons/utils/setup.js
  vesper-strategies/contracts/interfaces/external/lido/IWstETH.sol
  vesper-strategies/contracts/interfaces/vesper/ICollateralManager.sol
  vesper-strategies/contracts/strategies/maker/MakerStrategy.sol
  vesper-strategies/contracts/strategies/maker/MakerVesperStETH.sol
  vesper-strategies/contracts/strategies/maker/VesperMakerStrategy.sol
  vesper-strategies/test/mainnet/maker/vesper/vasteth.spec.js
Due: solhint, eslint --cache --fix

Removed unused function, fixed GH path
  .github/workflows/mainnet-compound-earn.yml
  vesper-strategies/contracts/strategies/compound/Compound.sol
  vesper-strategies/contracts/strategies/compound/avalanche/CompoundLike.sol
Due: solhint

Added AaveV2 Earn strategy
  .github/workflows/mainnet-aaveV2-earn.yml
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-strategies/contracts/strategies/aave/v2/AaveV2.sol
  vesper-strategies/contracts/strategies/aave/v2/earn/AaveEarn.sol
  vesper-strategies/test/mainnet/aave/v2/earn/veeth-dai.spec.js
Due: solhint, eslint --cache --fix

Deploy maker strategy for vaSTETH pool
  vesper-commons/config/mainnet/address.js
  vesper-deployments/contracts/test/Imports.sol
  vesper-deployments/deploy/deploy-strategy.js
  vesper-deployments/deployments/mainnet/global/CollateralManager.json
  vesper-deployments/deployments/mainnet/vasteth/Maker_Vesper_STETH.json
  vesper-deployments/deployments/mainnet/vasteth/solcInputs/63d1bb18c7242570ed79e59689e3fe5f.json
  vesper-deployments/releases/5.0.2/contracts.json
  vesper-deployments/tasks/strategy-configuration.js
Due: solhint, eslint --cache --fix

Added redeemLocal option
  vesper-strategies/contracts/strategies/stargate/Stargate.sol
Due: solhint

Added Aave V2 leverage
  .github/workflows/mainnet-aaveV2-leverage.yml
  package.json
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-strategies/contracts/strategies/aave/v2/AaveV2Leverage.sol
  vesper-strategies/hardhat.config.js
  vesper-strategies/test/behavior/aave-leverage.js
  vesper-strategies/test/behavior/strategy.js
  vesper-strategies/test/mainnet/aave/v2/leverage/vadai.spec.js
Due: solhint, eslint --cache --fix

Amend oracles setup
  vesper-commons/utils/setup.js
Due: eslint --cache --fix

Added Euler strategy
  .github/workflows/mainnet-euler.yml
  vesper-commons/config/mainnet/address.js
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-commons/utils/strategyTypes.js
  vesper-strategies/contracts/interfaces/euler/IEuler.sol
  vesper-strategies/contracts/strategies/euler/Euler.sol
  vesper-strategies/test/mainnet/euler/vaeth.spec.js
  vesper-strategies/test/mainnet/euler/vausdc.spec.js
Due: solhint, eslint --cache --fix

Fixed minor audit issues
  vesper-strategies/contracts/strategies/aave/v3/AaveV3.sol
  vesper-strategies/contracts/strategies/aave/v3/AaveV3Xy.sol
  vesper-strategies/contracts/strategies/maker/MakerStrategy.sol
Due: solhint

Configuration and deployment of AaveV2_Vesper_Xy_LINK_USDC strategy for vaLINK pool
  .github/workflows/mainnet-aaveV2-xy.yml
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-deployments/deployments/mainnet/valink/AaveV2_Vesper_Xy_LINK_USDC.json
  vesper-deployments/deployments/mainnet/valink/solcInputs/1a89df90f0d531ba39cd97ac3d73fb47.json
  vesper-deployments/releases/5.0.2/contracts.json
  vesper-strategies/test/mainnet/aave/v2/xy/vesper/valink.spec.js
Due: eslint --cache --fix

deploy Aave_V2_ETH for vETH back pool
  .github/workflows/mainnet-aaveV2.yml
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-deployments/contracts/test/Imports.sol
  vesper-deployments/deployments/mainnet/veth/Aave_V2_ETH.json
  vesper-deployments/deployments/mainnet/veth/solcInputs/14d008c3c1d3ad58729812cf4060964d.json
  vesper-deployments/releases/5.0.2/contracts.json
  vesper-strategies/test/mainnet/aave/v2/veth.spec.js
Due: solhint, eslint --cache --fix

Fix increments
  vesper-strategies/contracts/strategies/convex/ConvexBase.sol
  vesper-strategies/contracts/strategies/curve/CurvePoolBase.sol
Due: solhint

CRV as immutable
  vesper-commons/config/avalanche/strategyConfig.js
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-strategies/contracts/strategies/convex/Convex.sol
  vesper-strategies/contracts/strategies/convex/ConvexForFrax.sol
  vesper-strategies/contracts/strategies/curve/Curve.sol
  vesper-strategies/contracts/strategies/curve/CurveAaveLendingPool.sol
  vesper-strategies/contracts/strategies/curve/earn/CurveEarn.sol
Due: solhint, eslint --cache --fix

Implement Convex for FRAX strategy
  vesper-commons/config/mainnet/address.js
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-commons/utils/poolOps.js
  vesper-commons/utils/setup.js
  vesper-commons/utils/strategyTypes.js
  vesper-deployments/tasks/strategy-configuration.js
  vesper-strategies/contracts/interfaces/convex/IConvexForCurve.sol
  vesper-strategies/contracts/interfaces/convex/IConvexForFrax.sol
  vesper-strategies/contracts/interfaces/convex/IConvexToken.sol
  vesper-strategies/contracts/strategies/convex/Convex.sol
  vesper-strategies/contracts/strategies/convex/ConvexForFrax.sol
  vesper-strategies/contracts/strategies/curve/Curve.sol
  vesper-strategies/contracts/strategies/curve/CurveAaveLendingPool.sol
  vesper-strategies/test/behavior/convex-for-frax.js
  vesper-strategies/test/behavior/strategy-migration.js
  vesper-strategies/test/behavior/strategy.js
  vesper-strategies/test/behavior/vesper-pool.js
  vesper-strategies/test/mainnet/convex/convex_for_frax/2pool/fraxusdc-frax.spec.js
Due: solhint, eslint --cache --fix

Address review requests
  vesper-strategies/contracts/strategies/convex/ConvexForFrax.sol
Due: solhint

Amend Curve Aave pool strategy
  vesper-commons/config/mainnet/address.js
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-strategies/contracts/strategies/curve/3Pool/Curve3LendingPool.sol
  vesper-strategies/contracts/strategies/curve/3Pool/Curve3LendingPoolAave.sol
  vesper-strategies/test/behavior/crv-strategy.js
Due: solhint, eslint --cache --fix

Address review requests
  vesper-strategies/contracts/strategies/convex/ConvexForFrax.sol
  vesper-strategies/contracts/strategies/curve/Curve.sol
Due: solhint

Fix avalanche curve tests
  vesper-commons/utils/setup.js
Due: eslint --cache --fix

Added new vesper contract module for revenue splitter
  .github/workflows/mainnet-revenue-splitter.yml
  lerna.json
  vesper-commons/utils/balance.js
  vesper-contracts/contracts/Governable.sol
  vesper-contracts/contracts/Pausable.sol
  vesper-contracts/contracts/RevenueSplitter.sol
  vesper-contracts/contracts/interfaces/IToken.sol
  vesper-contracts/contracts/interfaces/chainlink/IAggregatorV3.sol
  vesper-contracts/contracts/interfaces/vesper/IGovernable.sol
  vesper-contracts/contracts/interfaces/vesper/IPausable.sol
  vesper-contracts/contracts/interfaces/vesper/IVesperPool.sol
  vesper-contracts/contracts/test/IUniswapRouterTest.sol
  vesper-contracts/contracts/utils/tokenSwapper.js
  vesper-contracts/hardhat.config.js
  vesper-contracts/package-lock.json
  vesper-contracts/package.json
  vesper-contracts/test/revenue-splitter.js
  vesper-contracts/utils/tokenSwapper.js
Due: solhint, eslint --cache --fix

Fix review comments and name packge as misc
  .github/workflows/mainnet-revenue-splitter.yml
  lerna.json
  packages/misc/contracts/Governable.sol
  packages/misc/contracts/Pausable.sol
  packages/misc/contracts/RevenueSplitter.sol
  packages/misc/contracts/interfaces/IToken.sol
  packages/misc/contracts/interfaces/chainlink/IAggregatorV3.sol
  packages/misc/contracts/interfaces/vesper/IGovernable.sol
  packages/misc/contracts/interfaces/vesper/IPausable.sol
  packages/misc/contracts/interfaces/vesper/IVesperPool.sol
  packages/misc/contracts/test/IUniswapRouterTest.sol
  packages/misc/hardhat.config.js
  packages/misc/package-lock.json
  packages/misc/package.json
  packages/misc/test/revenue-splitter.js
  packages/misc/utils/util.js
  vesper-commons/utils/balance.js
  vesper-contracts/contracts/test/IUniswapRouterTest.sol
  vesper-contracts/contracts/utils/tokenSwapper.js
  vesper-contracts/utils/tokenSwapper.js
Due: solhint, eslint --cache --fix

Added revenue transfer to partner address
  packages/misc/contracts/RevenueSplitter.sol
  packages/misc/test/revenue-splitter.js
Due: solhint, eslint --cache --fix

Deploy Compound_Leverage_DAI for vaDAI pool
  .github/workflows/mainnet-compound-leverage.yml
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-deployments/contracts/test/Imports.sol
  vesper-deployments/deployments/mainnet/vadai/Compound_Leverage_DAI.json
  vesper-deployments/deployments/mainnet/vadai/solcInputs/68abbcf3bee6889cfcfd9070eda48f2d.json
  vesper-deployments/releases/5.0.2/contracts.json
  vesper-strategies/test/mainnet/compound/leverage/vadai.spec.js
Due: solhint, eslint --cache --fix

Amend Curve lending pools support
  vesper-commons/config/avalanche/address.js
  vesper-commons/config/avalanche/strategyConfig.js
  vesper-commons/config/mainnet/address.js
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-commons/utils/setup.js
  vesper-strategies/contracts/interfaces/curve/IDeposit.sol
  vesper-strategies/contracts/strategies/curve/2Pool/Curve2LendingPool.sol
  vesper-strategies/contracts/strategies/curve/4Pool/Curve4LendingPool.sol
  vesper-strategies/contracts/strategies/curve/CurvePoolBase.sol
  vesper-strategies/hardhat.config.js
  vesper-strategies/test/avalanche/curve/2pool/ren-pool-wbtce.spec.js
  vesper-strategies/test/avalanche/curve/3pool/aave-pool-daie.spec.js
  vesper-strategies/test/avalanche/curve/3pool/aave-pool-usdce.spec.js
  vesper-strategies/test/mainnet/curve/2pool/compound-dai.spec.js
  vesper-strategies/test/mainnet/curve/3pool/usdt-pool-dai.spec.js
  vesper-strategies/test/mainnet/curve/4pool/busd-pool-dai.spec.js
  vesper-strategies/test/mainnet/curve/4pool/pax-pool-dai.spec.js
  vesper-strategies/test/mainnet/curve/4pool/y-pool-dai.spec.js
Due: solhint, eslint --cache --fix

Amend tests
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-commons/utils/setup.js
Due: eslint --cache --fix

Deploy stargate strategy for vaUSDC
  vesper-deployments/contracts/test/Imports.sol
  vesper-deployments/deployments/mainnet/vausdc/Stargate_USDC.json
  vesper-deployments/deployments/mainnet/vausdc/solcInputs/39fe80dc5249af09a0f1d25645484b43.json
  vesper-deployments/releases/5.0.2/contracts.json
  vesper-deployments/tasks/strategy-configuration.js
Due: solhint, eslint --cache --fix

Updated hardhat dependencies and patch
  package-lock.json
  package.json
  patches/hardhat+2.11.2.patch
Due: none

Updated Euler strategy and its configuration
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-strategies/contracts/strategies/euler/Euler.sol
Due: solhint, eslint --cache --fix

Added Euler borrow strategy
  .github/workflows/mainnet-euler-xy.yml
  vesper-commons/config/mainnet/address.js
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-commons/utils/strategyTypes.js
  vesper-strategies/contracts/interfaces/euler/IEuler.sol
  vesper-strategies/contracts/strategies/euler/EulerVesperXy.sol
  vesper-strategies/contracts/strategies/euler/EulerXy.sol
  vesper-strategies/test/behavior/euler-vesper-xy.js
  vesper-strategies/test/behavior/strategy.js
  vesper-strategies/test/mainnet/euler/xy/vesper/vaeth.spec.js
  vesper-strategies/test/mainnet/euler/xy/vesper/vausdc.spec.js
Due: solhint, eslint --cache --fix

Fix Curve/Convex tests
  vesper-commons/config/avalanche/address.js
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-commons/utils/balance.js
  vesper-commons/utils/setup.js
Due: eslint --cache --fix

Fixed BenqiXy liquidity check
  vesper-strategies/contracts/interfaces/compound/ICompound.sol
  vesper-strategies/contracts/strategies/compound/CompoundXyCore.sol
  vesper-strategies/contracts/strategies/compound/avalanche/BenqiXy.sol
Due: solhint

Commented tests as market is frozen in Aave
  vesper-strategies/test/mainnet/aave/v2/xy/vesper/vaeth.spec.js
  vesper-strategies/test/mainnet/aave/v2/xy/vesper/vawbtc.spec.js
Due: eslint --cache --fix

Updated patch
  package-lock.json
  package.json
  patches/hardhat-deploy+0.11.16.patch
Due: none

Updated tests to not create contract obj if address is 0x
  vesper-strategies/test/behavior/earn-vesper-strategy.js
  vesper-strategies/test/behavior/vesper-pool.js
Due: eslint --cache --fix

Added Compound V3 supply strategy
  .github/workflows/mainnet-compoundV3.yml
  package-lock.json
  packages/misc/package-lock.json
  vesper-commons/config/mainnet/address.js
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-commons/package-lock.json
  vesper-commons/utils/setup.js
  vesper-commons/utils/strategyTypes.js
  vesper-deployments/package-lock.json
  vesper-pools/package-lock.json
  vesper-strategies/contracts/interfaces/compound/ICompoundV3.sol
  vesper-strategies/contracts/strategies/compound/v3/CompoundV3.sol
  vesper-strategies/package-lock.json
  vesper-strategies/test/mainnet/compound/v3/vausdc.spec.js
Due: solhint, eslint --cache --fix

Rebase token should report correct profit
  package-lock.json
  package.json
  vesper-strategies/contracts/strategies/maker/Maker.sol
  vesper-strategies/test/mainnet/maker/vesper/vasteth.spec.2.js
Due: solhint, eslint --cache --fix

Fixed Xy core logic(#237)
  vesper-strategies/contracts/strategies/compound/CompoundVesperXy.sol
  vesper-strategies/contracts/strategies/compound/CompoundXyCore.sol
  vesper-strategies/contracts/strategies/compound/avalanche/BenqiVesperXy.sol
  vesper-strategies/contracts/strategies/compound/avalanche/TraderJoeVesperXy.sol
Due: solhint

Deployed maker strategy for vaSTETH pool
  vesper-deployments/deploy/migrate-strategy.js
  vesper-deployments/deployments/mainnet/.migrations.json
  vesper-deployments/deployments/mainnet/vasteth/Maker_Vesper_STETH.json
  vesper-deployments/deployments/mainnet/vasteth/solcInputs/185b7744f8a2fa8a675d90dc27e32331.json
  vesper-deployments/releases/5.0.2/contracts.json
Due: eslint --cache --fix

Curve-Convex DOLA-3pool stragegy deployment
  .github/workflows/mainnet-convex-4pool.yml
  package-lock.json
  package.json
  vesper-commons/config/mainnet/address.js
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-commons/utils/setup.js
  vesper-deployments/contracts/test/Imports.sol
  vesper-deployments/deployments/mainnet/vadai/Convex_dola_DAI.json
  vesper-deployments/deployments/mainnet/vadai/solcInputs/f2a67b8ea7c8f4f3c24f0dad32579148.json
  vesper-deployments/releases/5.0.2/contracts.json
  vesper-strategies/test/mainnet/convex/4pool/dola-pool-dai.spec.js
Due: solhint, eslint --cache --fix

Path conditions:
  solhint: any of: *.sol
  eslint --cache --fix: any of: *.js
