Repository vesperfi/vesper-contracts: changes, and which lint-staged commands are due for each by the changed paths.
All: solhint, eslint --cache --fix

Deployed Convex_musd_MUSD strategy
  vesper-deployments/contracts/test/Imports.sol
  vesper-deployments/deployments/mainnet/vamusd/Convex_musd_MUSD.json
  vesper-deployments/deployments/mainnet/vamusd/solcInputs/ca0be09fa0c34adaa1f50ed9a412c49c.json
  vesper-deployments/releases/5.0.2/contracts.json
Due: solhint

Added Compound V3 XY strategy
  .github/workflows/mainnet-compoundV3-xy.yml
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-commons/utils/strategyTypes.js
  vesper-strategies/contracts/interfaces/compound/ICompoundV3.sol
  vesper-strategies/contracts/strategies/compound/v3/CompoundV3VesperXy.sol
  vesper-strategies/contracts/strategies/compound/v3/CompoundV3Xy.sol
  vesper-strategies/test/mainnet/compound/v3/xy/vesper/vaeth.spec.js
Due: solhint, eslint --cache --fix

Fixed tvl in Compound V3 supply
  vesper-strategies/contracts/strategies/compound/v3/CompoundV3.sol
Due: solhint

Updated dependencies and patches
  package-lock.json
  package.json
  patches/hardhat+2.12.0.patch
  patches/hardhat-deploy+0.11.18.patch
  vesper-pools/package-lock.json
Due: none

Fixed an edge case scenario
  vesper-strategies/contracts/strategies/aave/v3/AaveV3Xy.sol
Due: solhint

Fixed GH action compiler download issue
  .github/actions/setup-env/action.yml
Due: none

Added tests for Aave V3 vesper xy
  .github/workflows/avalanche-aaveV3-xy.yml
  vesper-commons/config/avalanche/strategyConfig.js
  vesper-commons/utils/strategyTypes.js
  vesper-strategies/test/behavior/aavev3-vesper-xy.js
  vesper-strategies/test/behavior/strategy.js
Due: eslint --cache --fix

Updated code comment
  vesper-strategies/contracts/strategies/euler/EulerXy.sol
Due: solhint

Fixed contract interface for test
  vesper-commons/utils/setup.js
Due: eslint --cache --fix

Fixed current borrow assertion, #266
  vesper-strategies/test/behavior/compound-vesper-xy.js
Due: eslint --cache --fix

Fixed GH action path
  .github/workflows/avalanche-benqi-xy.yml
  .github/workflows/avalanche-traderjoe-xy.yml
Due: none

Ported alpha homora strategies
  .github/workflows/mainnet-alpha-earn.yml
  .github/workflows/mainnet-alpha.yml
  vesper-commons/config/avalanche/address.js
  vesper-commons/config/mainnet/address.js
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-commons/utils/strategyTypes.js
  vesper-strategies/contracts/interfaces/alpha/IMerkleDistributor.sol
  vesper-strategies/contracts/interfaces/alpha/ISafeBox.sol
  vesper-strategies/contracts/strategies/alpha/AlphaHomora.sol
  vesper-strategies/contracts/strategies/alpha/AlphaHomoraETH.sol
  vesper-strategies/contracts/strategies/alpha/earn/AlphaHomoraEarn.sol
  vesper-strategies/contracts/strategies/alpha/earn/AlphaHomoraEarnETH.sol
  vesper-strategies/test/mainnet/alpha/earn/veeth-dai.spec.js
  vesper-strategies/test/mainnet/alpha/vadpi.spec.js
  vesper-strategies/test/mainnet/alpha/vaeth.spec.js
  vesper-strategies/test/mainnet/alpha/vausdc.spec.js
Due: solhint, eslint --cache --fix

Added Venus strategy and tests
  .github/workflows/bsc-venus.yml
  vesper-commons/config/bsc/address.js
  vesper-commons/config/bsc/poolConfig.js
  vesper-commons/config/bsc/strategyConfig.js
  vesper-commons/utils/balance.js
  vesper-commons/utils/chains.js
  vesper-commons/utils/setup.js
  vesper-strategies/contracts/interfaces/compound/ICompound.sol
  vesper-strategies/contracts/strategies/compound/bsc/Venus.sol
  vesper-strategies/contracts/strategies/compound/bsc/VenusBNB.sol
  vesper-strategies/test/behavior/convex.js
  vesper-strategies/test/bsc/venus/vabnb.spec.js
  vesper-strategies/test/bsc/venus/vabusd.spec.js
Due: solhint, eslint --cache --fix

Added stargate config for bsc
  .github/workflows/bsc-stargate.yml
  vesper-commons/config/bsc/address.js
  vesper-commons/config/bsc/strategyConfig.js
  vesper-strategies/test/bsc/stargate/vabusd.spec.js
Due: eslint --cache --fix

WBNB pool deployment with Venus strategy
  vesper-commons/config/bsc/address.js
  vesper-deployments/contracts/test/Imports.sol
  vesper-deployments/deployments/bsc/.chainId
  vesper-deployments/deployments/bsc/.migrations.json
  vesper-deployments/deployments/bsc/.versionInfo.json
  vesper-deployments/deployments/bsc/global/0x76d266DFD3754f090488ae12F6Bd115cD7E77eBD/PoolAccountantUpgrader.json
  vesper-deployments/deployments/bsc/global/0x76d266DFD3754f090488ae12F6Bd115cD7E77eBD/VPoolUpgrader.json
  vesper-deployments/deployments/bsc/global/PoolAccountant_Implementation.json
  vesper-deployments/deployments/bsc/global/VETH_Implementation.json
  vesper-deployments/deployments/bsc/vabnb/PoolAccountant.json
  vesper-deployments/deployments/bsc/vabnb/PoolAccountantUpgrader.json
  vesper-deployments/deployments/bsc/vabnb/PoolAccountant_Implementation.json
  vesper-deployments/deployments/bsc/vabnb/PoolAccountant_Proxy.json
  vesper-deployments/deployments/bsc/vabnb/VETH.json
  vesper-deployments/deployments/bsc/vabnb/VETH_Implementation.json
  vesper-deployments/deployments/bsc/vabnb/VETH_Proxy.json
  vesper-deployments/deployments/bsc/vabnb/VPoolUpgrader.json
  vesper-deployments/deployments/bsc/vabnb/Venus_BNB.json
  vesper-deployments/deployments/bsc/vabnb/solcInputs/0e89febeebc7444140de8e67c9067d2c.json
  vesper-deployments/deployments/bsc/vabnb/solcInputs/af61f2ef9792d0c44529c70788b48fbf.json
  vesper-deployments/deployments/bsc/vabnb/solcInputs/f2a67b8ea7c8f4f3c24f0dad32579148.json
  vesper-deployments/hardhat.config.js
  vesper-deployments/releases/5.0.2/contracts.json
  vesper-pools/hardhat.config.js
  vesper-strategies/hardhat.config.js
Due: solhint, eslint --cache --fix

Deployed BUSD pool
  vesper-deployments/deployments/bsc/.migrations.json
  vesper-deployments/deployments/bsc/.versionInfo.json
  vesper-deployments/deployments/bsc/global/VPool_Implementation.json
  vesper-deployments/deployments/bsc/vabusd/PoolAccountant.json
  vesper-deployments/deployments/bsc/vabusd/PoolAccountant_Proxy.json
  vesper-deployments/deployments/bsc/vabusd/VPool.json
  vesper-deployments/deployments/bsc/vabusd/VPool_Proxy.json
  vesper-deployments/deployments/bsc/vabusd/Venus_BUSD.json
  vesper-deployments/deployments/bsc/vabusd/solcInputs/0e89febeebc7444140de8e67c9067d2c.json
  vesper-deployments/deployments/bsc/vabusd/solcInputs/af61f2ef9792d0c44529c70788b48fbf.json
  vesper-deployments/deployments/bsc/vabusd/solcInputs/f2a67b8ea7c8f4f3c24f0dad32579148.json
  vesper-deployments/releases/5.0.2/contracts.json
Due: none

Resolved and fixed issues after merge
  package-lock.json
  package.json
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-pools/package-lock.json
  vesper-strategies/test/behavior/convex-for-frax.js
Due: eslint --cache --fix

Removed temporary getGauge logic from Curve
  vesper-strategies/contracts/strategies/curve/Curve.sol
Due: solhint

Added Ellipsis strategy
  .github/workflows/bsc-ellipsis.yml
  vesper-commons/config/avalanche/strategyConfig.js
  vesper-commons/config/bsc/address.js
  vesper-commons/config/bsc/strategyConfig.js
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-commons/utils/balance.js
  vesper-commons/utils/curvePoolTypes.js
  vesper-commons/utils/setup.js
  vesper-commons/utils/strategyTypes.js
  vesper-strategies/contracts/interfaces/ellipsis/IEllipsisLp.sol
  vesper-strategies/contracts/interfaces/ellipsis/IEllipsisLpStaking.sol
  vesper-strategies/contracts/interfaces/ellipsis/IEllipsisRegistry.sol
  vesper-strategies/contracts/strategies/ellipsis/Ellipsis.sol
  vesper-strategies/test/behavior/ellipsis.js
  vesper-strategies/test/behavior/strategy.js
  vesper-strategies/test/bsc/ellipsis/3pool/tripool-busd.spec.js
Due: solhint, eslint --cache --fix

Added DotDot strategy
  .github/workflows/bsc-dot-dot.yml
  vesper-commons/config/bsc/address.js
  vesper-commons/config/bsc/strategyConfig.js
  vesper-commons/utils/setup.js
  vesper-commons/utils/strategyTypes.js
  vesper-strategies/contracts/interfaces/dot-dot/ILpDepositor.sol
  vesper-strategies/contracts/strategies/dot-dot/DotDot.sol
  vesper-strategies/test/behavior/dot-dot.js
  vesper-strategies/test/behavior/strategy.js
  vesper-strategies/test/bsc/dot-dot/3pool/tripool-busd.spec.js
Due: solhint, eslint --cache --fix

Updated oracle setup for tests
  vesper-commons/config/mainnet/address.js
  vesper-commons/utils/setup.js
  vesper-strategies/test/behavior/vesper-pool.js
Due: eslint --cache --fix

Amend oracle setup
  vesper-commons/config/avalanche/address.js
  vesper-commons/config/mainnet/address.js
  vesper-commons/utils/setup.js
Due: eslint --cache --fix

Updated test oracle setup according to bsc chain
  vesper-commons/utils/setup.js
Due: eslint --cache --fix

Commented out QI tests
  vesper-strategies/test/avalanche/benqi/vaqi.spec.js
Due: eslint --cache --fix

Added Wombat strategy
  .github/workflows/bsc-wombat.yml
  vesper-commons/config/bsc/address.js
  vesper-commons/config/bsc/strategyConfig.js
  vesper-commons/utils/poolOps.js
  vesper-commons/utils/strategyTypes.js
  vesper-strategies/contracts/interfaces/wombat/IWombat.sol
  vesper-strategies/contracts/strategies/wombat/Wombat.sol
  vesper-strategies/test/behavior/strategy.js
  vesper-strategies/test/behavior/vesper-pool.js
  vesper-strategies/test/behavior/wombat.js
  vesper-strategies/test/bsc/wombat/vabusd.spec.js
Due: solhint, eslint --cache --fix

Audit fixes
  vesper-strategies/contracts/strategies/euler/Euler.sol
  vesper-strategies/contracts/strategies/stargate/Stargate.sol
Due: solhint

ConvexForFrax rewards migration
  vesper-strategies/contracts/strategies/convex/ConvexForFrax.sol
  vesper-strategies/test/behavior/convex-for-frax.js
Due: solhint, eslint --cache --fix

Check if unlockTime passed before unstake
  vesper-strategies/contracts/strategies/convex/ConvexForFrax.sol
Due: solhint

Remove pool's gauges TODO comment
  vesper-strategies/contracts/strategies/curve/Curve.sol
Due: solhint

Fix unit tests
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-strategies/test/behavior/convex-for-frax.js
Due: eslint --cache --fix

Updated test config for oracle
  vesper-commons/config/mainnet/address.js
  vesper-commons/utils/setup.js
Due: eslint --cache --fix

Updated test config, skipped some tests
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-commons/utils/balance.js
  vesper-strategies/contracts/interfaces/compound/ICompound.sol
  vesper-strategies/test/avalanche/traderjoe/leverage/vaavax.spec.js
  vesper-strategies/test/avalanche/traderjoe/leverage/vadaie.spec.js
  vesper-strategies/test/avalanche/traderjoe/leverage/vausdc.spec.js
  vesper-strategies/test/avalanche/traderjoe/leverage/vausdce.spec.js
  vesper-strategies/test/avalanche/traderjoe/leverage/vawbtce.spec.js
  vesper-strategies/test/avalanche/traderjoe/leverage/vawethe.spec.js
  vesper-strategies/test/avalanche/traderjoe/xy/vesper/vaavax.spec.js
  vesper-strategies/test/avalanche/traderjoe/xy/vesper/vawbtce.spec.js
  vesper-strategies/test/behavior/compound.js
  vesper-strategies/test/behavior/vesper-pool.js
  vesper-strategies/test/mainnet/convex/3pool/d3pool-alusd.spec.js
  vesper-strategies/test/mainnet/convex/3pool/d3pool-fei.spec.js
  vesper-strategies/test/mainnet/convex/3pool/d3pool-frax.spec.js
Due: solhint, eslint --cache --fix

Deploy Euler Borrow Strategy to vaETH
  vesper-deployments/contracts/test/Imports.sol
  vesper-deployments/deployments/mainnet/vaeth/Euler_ETH.json
  vesper-deployments/deployments/mainnet/vaeth/solcInputs/0477a5c3a218ea5c70393c1ae2c211e7.json
  vesper-deployments/releases/5.0.2/contracts.json
  vesper-deployments/tasks/strategy-configuration.js
Due: solhint, eslint --cache --fix

Deployed Euler Borrow USDC strategy to vaDAI pool
  .github/workflows/mainnet-euler-xy.yml
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-deployments/contracts/test/Imports.sol
  vesper-deployments/deployments/mainnet/vadai/Euler_Vesper_Xy_DAI_USDC.json
  vesper-deployments/deployments/mainnet/vadai/solcInputs/265a3dd7cc28d808e4e1218c8b3e1cfe.json
  vesper-deployments/releases/5.0.2/contracts.json
  vesper-strategies/test/mainnet/euler/xy/vesper/vadai.spec.js
Due: solhint, eslint --cache --fix

Deploy Compound v2 Borrow USDC to vaDAI pool
  .github/workflows/mainnet-compound-xy.yml
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-deployments/contracts/test/Imports.sol
  vesper-deployments/deployments/mainnet/vadai/Compound_Vesper_Xy_DAI_USDC.json
  vesper-deployments/deployments/mainnet/vadai/solcInputs/2d832c037722430ea96bb09a62c27427.json
  vesper-deployments/releases/5.0.2/contracts.json
  vesper-strategies/test/mainnet/compound/xy/vesper/vadai.spec.js
Due: solhint, eslint --cache --fix

Deploy Stargate to Avax USDC.n Pool
  .github/workflows/avalanche-stargate.yml
  vesper-commons/config/avalanche/address.js
  vesper-commons/config/avalanche/strategyConfig.js
  vesper-deployments/deployments/avalanche/vausdc/Stargate_USDC.json
  vesper-deployments/deployments/avalanche/vausdc/solcInputs/7d6bb5f169322e6777d8d29bf2217e7a.json
  vesper-deployments/releases/5.0.2/contracts.json
  vesper-strategies/test/avalanche/stargate/vausdc.spec.js
Due: eslint --cache --fix

Deploy BenQi to vaAVAX Pool
  vesper-deployments/contracts/test/Imports.sol
  vesper-deployments/deployments/avalanche/vaavax/Benqi_AVAX.json
  vesper-deployments/deployments/avalanche/vaavax/solcInputs/9ab0331fc96e624a5af1043883147780.json
  vesper-deployments/releases/5.0.2/contracts.json
Due: solhint

Path conditions:
  solhint: any of: *.sol
  eslint --cache --fix: any of: *.js
