Repository vesperfi/vesper-contracts: changes, and which lint-staged commands are due for each by the changed paths.
All: solhint, eslint --cache --fix

Migrated AaveV3XY for vaSTETH pool
  vesper-deployments/deploy/migrate-strategy.js
  vesper-deployments/deployments/mainnet/.migrations.json
  vesper-deployments/deployments/mainnet/vasteth/AaveV3_Vesper_Xy_STETH_USDC.json
  vesper-deployments/deployments/mainnet/vasteth/solcInputs/dabe89a4c96c0d1bf7031bf45407e0d8.json
  vesper-deployments/releases/5.1.0/contracts.json
Due: eslint --cache --fix

Moved upgraders under correct admin directory
  vesper-deployments/deployments/optimism/global/0x32934AD7b1121DeFC631080b58599A0eaAB89878/PoolAccountantUpgrader.json
  vesper-deployments/deployments/optimism/global/0x32934AD7b1121DeFC631080b58599A0eaAB89878/PoolRewardsUpgrader.json
  vesper-deployments/deployments/optimism/global/0x32934AD7b1121DeFC631080b58599A0eaAB89878/VPoolUpgrader.json
Due: none

Deployed vaUSDCn pool on Optimism
  vesper-commons/config/optimism/address.js
  vesper-commons/config/optimism/poolConfig.js
  vesper-deployments/deployments/optimism/.migrations.json
  vesper-deployments/deployments/optimism/global/0x169e2FfC1c6b229b04E65A431434bF0e8eD9563d/PoolAccountantUpgrader.json
  vesper-deployments/deployments/optimism/global/0x169e2FfC1c6b229b04E65A431434bF0e8eD9563d/PoolRewardsUpgrader.json
  vesper-deployments/deployments/optimism/global/0x169e2FfC1c6b229b04E65A431434bF0e8eD9563d/VPoolUpgrader.json
  vesper-deployments/deployments/optimism/vausdcn/PoolAccountant.json
  vesper-deployments/deployments/optimism/vausdcn/PoolAccountant_Proxy.json
  vesper-deployments/deployments/optimism/vausdcn/PoolRewards.json
  vesper-deployments/deployments/optimism/vausdcn/PoolRewards_Proxy.json
  vesper-deployments/deployments/optimism/vausdcn/VPool.json
  vesper-deployments/deployments/optimism/vausdcn/VPool_Proxy.json
  vesper-deployments/deployments/optimism/vausdcn/solcInputs/0e89febeebc7444140de8e67c9067d2c.json
  vesper-deployments/deployments/optimism/vausdcn/solcInputs/38c03949f5e2239532d8d2b553f0f692.json
  vesper-deployments/releases/5.1.0/contracts.json
Due: eslint --cache --fix

Added Extra fi tests for USDCn
  .github/workflows/optimism-extra-finance.yml
  vesper-commons/config/optimism/address.js
  vesper-commons/config/optimism/strategyConfig.js
  vesper-commons/utils/balance.js
  vesper-commons/utils/swapHelper.js
  vesper-strategies/test/behavior/extra-finance.js
  vesper-strategies/test/optimism/extra-finance/vausdcn.spec.js
Due: eslint --cache --fix

Deployed Extra fi strategies for vaUSDCn on OP
  vesper-deployments/deployments/optimism/vausdcn/ExtraFinance_USDCn_1.json
  vesper-deployments/deployments/optimism/vausdcn/ExtraFinance_USDCn_2.json
  vesper-deployments/deployments/optimism/vausdcn/solcInputs/8136dcb21d7390d8577bc24eeecfa835.json
  vesper-deployments/releases/5.1.0/contracts.json
Due: none

Deployed AaveV3 deposit for vaUSDCe on OP chain
  vesper-commons/config/optimism/strategyConfig.js
  vesper-commons/utils/strategyTypes.js
  vesper-deployments/contracts/test/Imports.sol
  vesper-deployments/deployments/optimism/vausdc/AaveV3_USDCe.json
  vesper-deployments/deployments/optimism/vausdc/solcInputs/bbf2686b33ec0c22901479a4256bc3b7.json
  vesper-deployments/releases/5.1.0/contracts.json
  vesper-strategies/test/optimism/aave/v3/vausdce.spec.js
Due: solhint, eslint --cache --fix

Deployed AaveV3 borrow for vawstETH on OP chain
  vesper-commons/config/optimism/strategyConfig.js
  vesper-deployments/deployments/optimism/vawsteth/AaveV3_Vesper_Xy_wstETH_ETH.json
  vesper-deployments/deployments/optimism/vawsteth/solcInputs/8136dcb21d7390d8577bc24eeecfa835.json
  vesper-deployments/releases/5.1.0/contracts.json
  vesper-strategies/test/optimism/aave/v3/xy/vesper/vawsteth.spec.js
Due: eslint --cache --fix

Updated slot and whale mapping to fix address collision
  vesper-commons/utils/balance.js
Due: eslint --cache --fix

Added core config for Base chain
  vesper-commons/config/base/address.js
  vesper-commons/utils/balance.js
  vesper-commons/utils/chains.js
  vesper-strategies/hardhat.config.js
Due: eslint --cache --fix

Deployed Keeper and Maintainer contracts on Base
  vesper-commons/config/base/address.js
  vesper-utils/deployments/base/.chainId
  vesper-utils/deployments/base/DefaultProxyAdmin.json
  vesper-utils/deployments/base/Keeper_Implementation.json
  vesper-utils/deployments/base/Maintainer_Implementation.json
  vesper-utils/deployments/base/PoolKeeper.json
  vesper-utils/deployments/base/PoolKeeper_Proxy.json
  vesper-utils/deployments/base/PoolMaintainer.json
  vesper-utils/deployments/base/PoolMaintainer_Proxy.json
  vesper-utils/deployments/base/StrategyKeeper.json
  vesper-utils/deployments/base/StrategyKeeper_Proxy.json
  vesper-utils/deployments/base/solcInputs/0e89febeebc7444140de8e67c9067d2c.json
  vesper-utils/deployments/base/solcInputs/c745659820ec28dca70f24297155efd0.json
  vesper-utils/hardhat.config.js
  vesper-utils/releases/contracts.json
Due: eslint --cache --fix

OP retro funding
  funding.json
Due: none

Create LICENSE
  LICENSE
Due: none

Deployed strategies for vaUSDC on Base
  vesper-commons/config/base/address.js
  vesper-commons/config/base/strategyConfig.js
  vesper-deployments/deploy/deploy-strategy.js
  vesper-deployments/deployments/base/vaUSDC/AaveV3_USDC.json
  vesper-deployments/deployments/base/vaUSDC/CompoundV3_USDC.json
  vesper-deployments/deployments/base/vaUSDC/ExtraFinance_USDC_1.json
  vesper-deployments/deployments/base/vaUSDC/ExtraFinance_USDC_2.json
  vesper-deployments/releases/5.1.0/contracts.json
Due: eslint --cache --fix

Minor update in strategy
  vesper-strategies/contracts/strategies/Strategy.sol
Due: solhint

Added config and tests for vaUSDC on Base
  vesper-commons/config/base/address.js
  vesper-commons/config/base/poolConfig.js
  vesper-commons/config/base/strategyConfig.js
  vesper-commons/utils/swapHelper.js
  vesper-strategies/test/base/aave/v3/vausdc.spec.js
  vesper-strategies/test/base/compound/v3/vausdc.spec.js
  vesper-strategies/test/base/extra-finance/vausdc.spec.js
  vesper-strategies/test/base/live/extra-finance-id.js
Due: eslint --cache --fix

Deployed vaUSDC on Base
  vesper-deployments/deploy/deploy-vpool.js
  vesper-deployments/deployments/base/.chainId
  vesper-deployments/deployments/base/.migrations.json
  vesper-deployments/deployments/base/.versionInfo.json
  vesper-deployments/deployments/base/global/0x169e2FfC1c6b229b04E65A431434bF0e8eD9563d/PoolAccountantUpgrader.json
  vesper-deployments/deployments/base/global/0x169e2FfC1c6b229b04E65A431434bF0e8eD9563d/VPoolUpgrader.json
  vesper-deployments/deployments/base/global/PoolAccountant_Implementation.json
  vesper-deployments/deployments/base/global/VPool_Implementation.json
  vesper-deployments/deployments/base/vaUSDC/PoolAccountant.json
  vesper-deployments/deployments/base/vaUSDC/PoolAccountant_Proxy.json
  vesper-deployments/deployments/base/vaUSDC/VPool.json
  vesper-deployments/deployments/base/vaUSDC/VPool_Proxy.json
  vesper-deployments/deployments/base/vaUSDC/solcInputs/0e89febeebc7444140de8e67c9067d2c.json
  vesper-deployments/deployments/base/vaUSDC/solcInputs/45bd265ee3f486fa02ae36d639b3e4c6.json
  vesper-deployments/hardhat.config.js
  vesper-deployments/releases/5.1.0/contracts.json
Due: eslint --cache --fix

Added config and tests for vaETH on Base
  vesper-commons/config/base/address.js
  vesper-commons/config/base/poolConfig.js
  vesper-commons/config/base/strategyConfig.js
  vesper-commons/utils/balance.js
  vesper-commons/utils/swapHelper.js
  vesper-strategies/test/base/extra-finance/vaeth.spec.js
  vesper-strategies/test/base/stargate/vaeth.spec.js
Due: eslint --cache --fix

Deployed vaETH and strategies on Base
  vesper-deployments/deployments/base/.migrations.json
  vesper-deployments/deployments/base/.versionInfo.json
  vesper-deployments/deployments/base/global/VETH_Implementation.json
  vesper-deployments/deployments/base/vaeth/ExtraFinance_ETH_1.json
  vesper-deployments/deployments/base/vaeth/ExtraFinance_ETH_LRT.json
  vesper-deployments/deployments/base/vaeth/PoolAccountant.json
  vesper-deployments/deployments/base/vaeth/PoolAccountant_Proxy.json
  vesper-deployments/deployments/base/vaeth/Stargate_ETH.json
  vesper-deployments/deployments/base/vaeth/VETH.json
  vesper-deployments/deployments/base/vaeth/VETH_Proxy.json
  vesper-deployments/deployments/base/vaeth/solcInputs/0e89febeebc7444140de8e67c9067d2c.json
  vesper-deployments/deployments/base/vaeth/solcInputs/45bd265ee3f486fa02ae36d639b3e4c6.json
  vesper-deployments/releases/5.1.0/contracts.json
Due: none

Added GH actions for Base
  .github/workflows/base-aaveV3.yml
  .github/workflows/base-compoundV3.yml
  .github/workflows/base-extra-finance.yml
  .github/workflows/base-stargate.yml
Due: none

Deployed vacbETH and strategies on Base
  vesper-deployments/deployments/base/.migrations.json
  vesper-deployments/deployments/base/vacbeth/CompoundV3_Vesper_Xy_cbETH_ETH.json
  vesper-deployments/deployments/base/vacbeth/CompoundV3_Vesper_Xy_cbETH_USDC.json
  vesper-deployments/deployments/base/vacbeth/PoolAccountant.json
  vesper-deployments/deployments/base/vacbeth/PoolAccountant_Proxy.json
  vesper-deployments/deployments/base/vacbeth/VPool.json
  vesper-deployments/deployments/base/vacbeth/VPool_Proxy.json
  vesper-deployments/deployments/base/vacbeth/solcInputs/0e89febeebc7444140de8e67c9067d2c.json
  vesper-deployments/deployments/base/vacbeth/solcInputs/45bd265ee3f486fa02ae36d639b3e4c6.json
  vesper-deployments/releases/5.1.0/contracts.json
Due: none

Added config and tests for vacbETH on Base
  .github/workflows/base-compoundV3-xy.yml
  vesper-commons/config/base/address.js
  vesper-commons/config/base/poolConfig.js
  vesper-commons/config/base/strategyConfig.js
  vesper-commons/utils/balance.js
  vesper-commons/utils/swapHelper.js
  vesper-strategies/test/base/compound/v3/xy/vesper/vacbeth.spec.js
  vesper-strategies/test/utils/testRunner.js
Due: eslint --cache --fix

Added config and test for vawstETH on Base
  .github/workflows/base-aaveV3-xy.yml
  vesper-commons/config/base/address.js
  vesper-commons/config/base/poolConfig.js
  vesper-commons/config/base/strategyConfig.js
  vesper-commons/utils/balance.js
  vesper-commons/utils/swapHelper.js
  vesper-strategies/test/base/aave/v3/xy/vesper/vawsteth.spec.js
  vesper-strategies/test/behavior/aavev3-vesper-xy.js
Due: eslint --cache --fix

Deployed vawstETH and strategies on Base
  vesper-deployments/deployments/base/.migrations.json
  vesper-deployments/deployments/base/vawsteth/AaveV3_Vesper_Xy_wstETH_ETH.json
  vesper-deployments/deployments/base/vawsteth/AaveV3_Vesper_Xy_wstETH_USDC.json
  vesper-deployments/deployments/base/vawsteth/PoolAccountant.json
  vesper-deployments/deployments/base/vawsteth/PoolAccountant_Proxy.json
  vesper-deployments/deployments/base/vawsteth/VPool.json
  vesper-deployments/deployments/base/vawsteth/VPool_Proxy.json
  vesper-deployments/deployments/base/vawsteth/solcInputs/0e89febeebc7444140de8e67c9067d2c.json
  vesper-deployments/deployments/base/vawsteth/solcInputs/45bd265ee3f486fa02ae36d639b3e4c6.json
  vesper-deployments/releases/5.1.0/contracts.json
Due: none

Removed unused curve/convex tests
  .github/workflows/mainnet-convex-3pool.yml
  .github/workflows/mainnet-convex-4pool.yml
  .github/workflows/mainnet-curve-4pool.yml
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-strategies/test/mainnet/convex/3pool/d3pool-alusd.spec.js
  vesper-strategies/test/mainnet/convex/3pool/d3pool-fei.spec.js
  vesper-strategies/test/mainnet/convex/4pool/mim-pool-mim.spec.js
  vesper-strategies/test/mainnet/convex/4pool/musd-pool-musd.spec.js
Due: eslint --cache --fix

Updated logic to read vault registy operator on the fly
  vesper-strategies/contracts/interfaces/convex/IConvexForFrax.sol
  vesper-strategies/contracts/strategies/convex/ConvexForFrax.sol
Due: solhint

Updated Curve strategy to use MetaRegistry
  vesper-strategies/contracts/interfaces/curve/IMetaRegistry.sol
  vesper-strategies/contracts/interfaces/curve/IRegistry.sol
  vesper-strategies/contracts/strategies/curve/CurveBase.sol
Due: solhint

Add dynamic array support in Curve strategy
  vesper-commons/config/mainnet/address.js
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-commons/utils/curvePoolTypes.js
  vesper-strategies/contracts/interfaces/curve/IDepositZap.sol
  vesper-strategies/contracts/strategies/convex/ConvexForFrax.sol
  vesper-strategies/contracts/strategies/curve/CurveBase.sol
  vesper-strategies/test/mainnet/convex/convex_for_frax/3pool/vafrax.spec.js
Due: solhint, eslint --cache --fix

Deployed ConvexForFrax strategy for vaFRAX
  vesper-deployments/deployments/mainnet/vafrax/ConvexForFrax_DolaFraxPyusd_FRAX.json
  vesper-deployments/deployments/mainnet/vafrax/solcInputs/575058d47a2314af543255825b02081a.json
  vesper-deployments/releases/5.1.0/contracts.json
Due: none

Deleted Euler strategy and tests
  .github/workflows/mainnet-euler-xy.yml
  .github/workflows/mainnet-euler.yml
  vesper-commons/config/mainnet/address.js
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-commons/utils/balance.js
  vesper-commons/utils/strategyTypes.js
  vesper-commons/utils/swapHelper.js
  vesper-deployments/contracts/test/Imports.sol
  vesper-strategies/contracts/interfaces/euler/IEuler.sol
  vesper-strategies/contracts/strategies/euler/Euler.sol
  vesper-strategies/contracts/strategies/euler/EulerSTETH.sol
  vesper-strategies/contracts/strategies/euler/EulerVesperXy.sol
  vesper-strategies/contracts/strategies/euler/EulerXy.sol
  vesper-strategies/test/behavior/euler-vesper-xy.js
  vesper-strategies/test/behavior/strategy.js
  vesper-strategies/test/mainnet/euler/vacbeth.spec.js
  vesper-strategies/test/mainnet/euler/vaeth.spec.js
  vesper-strategies/test/mainnet/euler/vasteth.spec.js
  vesper-strategies/test/mainnet/euler/vausdc.spec.js
  vesper-strategies/test/mainnet/euler/xy/vesper/vacbeth.spec.js
  vesper-strategies/test/mainnet/euler/xy/vesper/vadai.spec.js
  vesper-strategies/test/mainnet/euler/xy/vesper/vaeth.spec.js
  vesper-strategies/test/mainnet/euler/xy/vesper/vausdc.spec.js
Due: solhint, eslint --cache --fix

Updated stkAave holder for test
  vesper-commons/utils/balance.js
Due: eslint --cache --fix

Updated node version and dependencies
  .nvmrc
  package-lock.json
  package.json
Due: none

Updated admin address in release for vaUSDCn pool
  vesper-deployments/releases/5.1.0/contracts.json
Due: none

Removed deprecated tests and configs
  .github/workflows/mainnet-convex-3pool.yml
  .github/workflows/mainnet-convex-for-frax-3pool.yml
  .github/workflows/mainnet-curve-4pool.yml
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-strategies/test/mainnet/convex/3pool/dolafraxbp-frax.spec.js
  vesper-strategies/test/mainnet/convex/3pool/dolafraxbp-usdc.spec.js
  vesper-strategies/test/mainnet/convex/convex_for_frax/3pool/dolafraxbp-frax.spec.js
  vesper-strategies/test/mainnet/convex/convex_for_frax/3pool/dolafraxbp-usdc.spec.js
  vesper-strategies/test/mainnet/curve/4pool/gusd-pool-dai.spec.js
  vesper-strategies/test/mainnet/curve/4pool/susd-pool-dai.spec.js
Due: eslint --cache --fix

Deleted Sonne strategy and tests
  .github/workflows/optimism-sonne-leverage.yml
  .github/workflows/optimism-sonne-xy.yml
  vesper-commons/config/optimism/strategyConfig.js
  vesper-deployments/contracts/test/Imports.sol
  vesper-strategies/contracts/strategies/compound/optimism/Sonne.sol
  vesper-strategies/contracts/strategies/compound/optimism/SonneLeverage.sol
  vesper-strategies/contracts/strategies/compound/optimism/SonneVesperXy.sol
  vesper-strategies/test/optimism/sonne/leverage/vaeth.spec.js
  vesper-strategies/test/optimism/sonne/leverage/vaop.spec.js
  vesper-strategies/test/optimism/sonne/leverage/vausdc.spec.js
  vesper-strategies/test/optimism/sonne/vaeth.spec.js
  vesper-strategies/test/optimism/sonne/vausdc.spec.js
  vesper-strategies/test/optimism/sonne/xy/vesper/vaeth.spec.js
  vesper-strategies/test/optimism/sonne/xy/vesper/vaop.spec.js
  vesper-strategies/test/optimism/sonne/xy/vesper/vawsteth.spec.js
Due: solhint, eslint --cache --fix

Update Curve address provider
  vesper-strategies/contracts/strategies/curve/CurveBase.sol
Due: solhint

Fixed stkAave redeem call in Curve strategy
  vesper-strategies/contracts/strategies/curve/CurveAaveLendingPool.sol
Due: solhint

Updated pyUSD stale period for tests
  vesper-commons/utils/setup.js
Due: eslint --cache --fix

Deployed Sommelier strategy for vaETH on ETH chain
  vesper-deployments/contracts/test/Imports.sol
  vesper-deployments/deployments/mainnet/vaeth/Sommelier_ETH.json
  vesper-deployments/deployments/mainnet/vaeth/solcInputs/aa29ad0a07c7a6158851675a4261c547.json
  vesper-deployments/releases/5.1.0/contracts.json
Due: solhint

Added StargateV2 strategy
  vesper-commons/utils/strategyTypes.js
  vesper-strategies/contracts/interfaces/stargate/v2/IMultiRewarder.sol
  vesper-strategies/contracts/interfaces/stargate/v2/IStargatePoolV2.sol
  vesper-strategies/contracts/interfaces/stargate/v2/IStargateStaking.sol
  vesper-strategies/contracts/strategies/stargate/v2/StargateV2.sol
  vesper-strategies/contracts/strategies/stargate/v2/StargateV2ETH.sol
  vesper-strategies/test/behavior/stargatev2-rewards.js
  vesper-strategies/test/behavior/strategy.js
Due: solhint, eslint --cache --fix

Added strategy config and test for Eth StargateV2
  .github/workflows/mainnet-stargateV2.yml
  vesper-commons/config/mainnet/address.js
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-commons/utils/swapHelper.js
  vesper-strategies/test/mainnet/stargate/v2/vausdc.spec.js
Due: eslint --cache --fix

Path conditions:
  solhint: any of: *.sol
  eslint --cache --fix: any of: *.js
