Repository vesperfi/vesper-contracts: changes, and which lint-staged commands are due for each by the changed paths.
All: solhint, eslint --cache --fix

.lintstagedrc.json:

{
  "*.sol": [
    "solhint"
  ],
  "*.js": [
    "eslint --cache --fix"
  ]
}

Changed constructor argument validation
  vesper-deployments/deploy/deploy-strategy.js
  vesper-deployments/tasks/strategy-configuration.js
Due: eslint --cache --fix

Added external function to claim rewards
  vesper-strategies/contracts/strategies/Strategy.sol
  vesper-strategies/contracts/strategies/compound/Compound.sol
  vesper-strategies/contracts/strategies/compound/CompoundLeverage.sol
  vesper-strategies/contracts/strategies/compound/avalanche/CompoundLike.sol
  vesper-strategies/contracts/strategies/compound/avalanche/CompoundLikeLeverage.sol
  vesper-strategies/contracts/strategies/compound/bsc/Venus.sol
  vesper-strategies/contracts/strategies/compound/earn/CompoundEarn.sol
  vesper-strategies/contracts/strategies/convex/Convex.sol
  vesper-strategies/contracts/strategies/convex/ConvexForFrax.sol
  vesper-strategies/contracts/strategies/curve/Curve.sol
  vesper-strategies/contracts/strategies/curve/CurveAaveLendingPool.sol
  vesper-strategies/contracts/strategies/curve/earn/CurveEarn.sol
  vesper-strategies/contracts/strategies/dot-dot/DotDot.sol
  vesper-strategies/contracts/strategies/ellipsis/Ellipsis.sol
Due: solhint

Updated tests as per new claimAndSwap logic
  vesper-strategies/test/behavior/compound-leverage.js
  vesper-strategies/test/behavior/compound.js
  vesper-strategies/test/behavior/convex.js
  vesper-strategies/test/behavior/dot-dot.js
  vesper-strategies/test/behavior/ellipsis.js
Due: eslint --cache --fix

Fixed issue with AAVE rewards swap, updated tests
  vesper-commons/utils/balance.js
  vesper-commons/utils/setup.js
  vesper-strategies/contracts/strategies/curve/Curve.sol
  vesper-strategies/contracts/strategies/curve/CurveAaveLendingPool.sol
  vesper-strategies/test/behavior/curve.js
Due: solhint, eslint --cache --fix

Removed unnecessary check in claimRewards, updated tests
  vesper-strategies/contracts/strategies/convex/ConvexForFrax.sol
  vesper-strategies/test/behavior/convex-for-frax.js
Due: solhint, eslint --cache --fix

Updates based on review
  vesper-strategies/contracts/strategies/Strategy.sol
  vesper-strategies/contracts/strategies/convex/Convex.sol
  vesper-strategies/contracts/strategies/convex/ConvexForFrax.sol
  vesper-strategies/contracts/strategies/curve/Curve.sol
  vesper-strategies/contracts/strategies/dot-dot/DotDot.sol
  vesper-strategies/contracts/strategies/ellipsis/Ellipsis.sol
Due: solhint

Improved claimAndSwap logic
  vesper-strategies/contracts/interfaces/convex/IConvexForCurve.sol
  vesper-strategies/contracts/strategies/Strategy.sol
  vesper-strategies/contracts/strategies/compound/avalanche/CompoundLike.sol
  vesper-strategies/contracts/strategies/compound/avalanche/CompoundLikeLeverage.sol
  vesper-strategies/contracts/strategies/convex/Convex.sol
  vesper-strategies/contracts/strategies/convex/ConvexForFrax.sol
  vesper-strategies/contracts/strategies/curve/Curve.sol
  vesper-strategies/contracts/strategies/curve/earn/CurveEarn.sol
  vesper-strategies/contracts/strategies/dot-dot/DotDot.sol
  vesper-strategies/contracts/strategies/ellipsis/Ellipsis.sol
  vesper-strategies/test/behavior/convex.js
Due: solhint, eslint --cache --fix

Updated claim logic for Aave strategies
  vesper-strategies/contracts/strategies/aave/v2/AaveV2.sol
  vesper-strategies/contracts/strategies/aave/v2/AaveV2Core.sol
  vesper-strategies/contracts/strategies/aave/v2/AaveV2Leverage.sol
  vesper-strategies/contracts/strategies/aave/v2/AaveV2VesperXy.sol
  vesper-strategies/contracts/strategies/aave/v2/AaveV2Xy.sol
  vesper-strategies/contracts/strategies/aave/v2/earn/AaveEarn.sol
  vesper-strategies/contracts/strategies/aave/v3/AaveV3.sol
  vesper-strategies/contracts/strategies/aave/v3/AaveV3VesperXy.sol
  vesper-strategies/contracts/strategies/aave/v3/AaveV3Xy.sol
  vesper-strategies/test/behavior/aave-leverage.js
  vesper-strategies/test/behavior/aave-vesper-xy.js
  vesper-strategies/test/behavior/aavev3-vesper-xy.js
  vesper-strategies/test/behavior/curve.js
  vesper-strategies/test/behavior/stk-aave-rewards.js
Due: solhint, eslint --cache --fix

Compound related gas saving fix
  vesper-strategies/contracts/strategies/compound/Compound.sol
  vesper-strategies/contracts/strategies/compound/avalanche/CompoundLike.sol
  vesper-strategies/contracts/strategies/compound/avalanche/CompoundLikeLeverage.sol
  vesper-strategies/contracts/strategies/compound/bsc/Venus.sol
  vesper-strategies/test/behavior/compound.js
Due: solhint, eslint --cache --fix

Updated claim logic for Compound like strategies
  vesper-strategies/contracts/strategies/compound/CompoundVesperXy.sol
  vesper-strategies/contracts/strategies/compound/CompoundXy.sol
  vesper-strategies/contracts/strategies/compound/CompoundXyCore.sol
  vesper-strategies/contracts/strategies/compound/avalanche/BenqiVesperXy.sol
  vesper-strategies/contracts/strategies/compound/avalanche/BenqiXy.sol
  vesper-strategies/contracts/strategies/compound/avalanche/TraderJoeVesperXy.sol
  vesper-strategies/contracts/strategies/compound/avalanche/TraderJoeXy.sol
  vesper-strategies/contracts/strategies/compound/bsc/VenusXy.sol
  vesper-strategies/contracts/strategies/compound/v3/CompoundV3.sol
  vesper-strategies/contracts/strategies/compound/v3/CompoundV3VesperXy.sol
  vesper-strategies/contracts/strategies/compound/v3/CompoundV3Xy.sol
  vesper-strategies/test/avalanche/traderjoe/xy/vesper/vaavax.spec.js
  vesper-strategies/test/avalanche/traderjoe/xy/vesper/vawbtce.spec.js
  vesper-strategies/test/behavior/compound-rewards.js
  vesper-strategies/test/behavior/compound-vesper-xy.js
  vesper-strategies/test/behavior/compound-xy.js
Due: solhint, eslint --cache --fix

Updated claim logic for Alpaca, Alpha and Euler
  vesper-commons/utils/balance.js
  vesper-strategies/contracts/strategies/alpaca/Alpaca.sol
  vesper-strategies/contracts/strategies/alpha/AlphaHomora.sol
  vesper-strategies/contracts/strategies/alpha/AlphaHomoraETH.sol
  vesper-strategies/contracts/strategies/alpha/earn/AlphaHomoraEarn.sol
  vesper-strategies/contracts/strategies/alpha/earn/AlphaHomoraEarnETH.sol
  vesper-strategies/contracts/strategies/euler/Euler.sol
  vesper-strategies/contracts/strategies/euler/EulerVesperXy.sol
  vesper-strategies/contracts/strategies/euler/EulerXy.sol
  vesper-strategies/test/behavior/alpaca.js
  vesper-strategies/test/behavior/alpha-homora-rewards.js
  vesper-strategies/test/behavior/euler-vesper-xy.js
  vesper-strategies/test/behavior/strategy.js
Due: solhint, eslint --cache --fix

Updated claim logic for Maker strategies
  vesper-strategies/contracts/strategies/maker/Maker.sol
  vesper-strategies/contracts/strategies/maker/MakerVesper.sol
  vesper-strategies/contracts/strategies/maker/MakerVesperStETH.sol
  vesper-strategies/test/behavior/maker-common.js
  vesper-strategies/test/behavior/maker-strategy.js
Due: solhint, eslint --cache --fix

Updated claim logic for Stargate strategy
  vesper-commons/utils/balance.js
  vesper-commons/utils/setup.js
  vesper-strategies/contracts/strategies/stargate/Stargate.sol
  vesper-strategies/test/behavior/stargate-rewards.js
  vesper-strategies/test/behavior/strategy.js
Due: solhint, eslint --cache --fix

Updated claim logic for Wombat strategy
  vesper-strategies/contracts/strategies/wombat/Wombat.sol
  vesper-strategies/test/behavior/wombat.js
Due: solhint, eslint --cache --fix

Added Vesper Earn tests
  .github/workflows/mainnet-vesper.yml
  vesper-strategies/test/mainnet/vesper/earn/vedai-wbtc.spec.js
  vesper-strategies/test/mainnet/vesper/earn/veeth-dai.spec.js
  vesper-strategies/test/mainnet/vesper/earn/vefrax-fraxbp.spec.js
  vesper-strategies/test/mainnet/vesper/earn/vewbtc-dai.spec.js
Due: eslint --cache --fix

Updated claim logic for Vesper Earn strategy
  vesper-commons/utils/poolOps.js
  vesper-strategies/contracts/strategies/Earn.sol
  vesper-strategies/contracts/strategies/vesper/Vesper.sol
  vesper-strategies/contracts/strategies/vesper/earn/VesperEarn.sol
  vesper-strategies/test/behavior/earn-vesper-strategy.js
  vesper-strategies/test/behavior/vesper-pool.js
Due: solhint, eslint --cache --fix

Added config for rETH pool tests
  vesper-commons/config/mainnet/address.js
  vesper-commons/config/mainnet/poolConfig.js
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-commons/utils/balance.js
  vesper-commons/utils/setup.js
  vesper-strategies/test/behavior/maker.js
  vesper-strategies/test/behavior/strategy.js
  vesper-strategies/test/mainnet/maker/vesper/vareth.spec.js
Due: eslint --cache --fix

Added GH action for Maker
  .github/workflows/mainnet-maker.yml
  vesper-strategies/test/behavior/maker.js
Due: eslint --cache --fix

Fixes for tests failing in GH actions
  vesper-commons/utils/poolOps.js
  vesper-strategies/test/behavior/compound-vesper-xy.js
  vesper-strategies/test/behavior/strategy-migration.js
  vesper-strategies/test/behavior/vesper-pool.js
Due: eslint --cache --fix

Updated strategy version
  vesper-strategies/contracts/strategies/aave/v2/AaveV2.sol
  vesper-strategies/contracts/strategies/aave/v2/AaveV2Leverage.sol
  vesper-strategies/contracts/strategies/aave/v2/AaveV2Xy.sol
  vesper-strategies/contracts/strategies/aave/v3/AaveV3.sol
  vesper-strategies/contracts/strategies/aave/v3/AaveV3Xy.sol
  vesper-strategies/contracts/strategies/alpaca/Alpaca.sol
  vesper-strategies/contracts/strategies/alpha/AlphaHomora.sol
  vesper-strategies/contracts/strategies/compound/Compound.sol
  vesper-strategies/contracts/strategies/compound/CompoundLeverageBase.sol
  vesper-strategies/contracts/strategies/compound/CompoundXyCore.sol
  vesper-strategies/contracts/strategies/compound/v3/CompoundV3.sol
  vesper-strategies/contracts/strategies/compound/v3/CompoundV3Xy.sol
  vesper-strategies/contracts/strategies/curve/Curve.sol
  vesper-strategies/contracts/strategies/ellipsis/Ellipsis.sol
  vesper-strategies/contracts/strategies/euler/Euler.sol
  vesper-strategies/contracts/strategies/euler/EulerXy.sol
  vesper-strategies/contracts/strategies/maker/Maker.sol
  vesper-strategies/contracts/strategies/stargate/Stargate.sol
  vesper-strategies/contracts/strategies/vesper/Vesper.sol
  vesper-strategies/contracts/strategies/wombat/Wombat.sol
Due: solhint

Deployed vaRETH pool
  vesper-deployments/deployments/mainnet/.migrations.json
  vesper-deployments/deployments/mainnet/.versionInfo.json
  vesper-deployments/deployments/mainnet/global/0x76d266DFD3754f090488ae12F6Bd115cD7E77eBD/PoolAccountantUpgrader.json
  vesper-deployments/deployments/mainnet/global/0x76d266DFD3754f090488ae12F6Bd115cD7E77eBD/PoolRewardsUpgrader.json
  vesper-deployments/deployments/mainnet/global/0x76d266DFD3754f090488ae12F6Bd115cD7E77eBD/VPoolUpgrader.json
  vesper-deployments/deployments/mainnet/global/PoolAccountant_Implementation.json
  vesper-deployments/deployments/mainnet/global/PoolRewards_Implementation.json
  vesper-deployments/deployments/mainnet/vareth/Maker_Vesper_RETH.json
  vesper-deployments/deployments/mainnet/vareth/PoolAccountant.json
  vesper-deployments/deployments/mainnet/vareth/PoolAccountant_Proxy.json
  vesper-deployments/deployments/mainnet/vareth/PoolRewards.json
  vesper-deployments/deployments/mainnet/vareth/PoolRewards_Proxy.json
  vesper-deployments/deployments/mainnet/vareth/VPool.json
  vesper-deployments/deployments/mainnet/vareth/VPool_Proxy.json
  vesper-deployments/deployments/mainnet/vareth/solcInputs/0e89febeebc7444140de8e67c9067d2c.json
  vesper-deployments/deployments/mainnet/vareth/solcInputs/57d8d4de6de4c51891db3a907f2b9273.json
  vesper-deployments/releases/5.0.2/contracts.json
Due: none

Fix test runner
  vesper-strategies/test/utils/testRunner.js
Due: eslint --cache --fix

Added config for cbETH pool tests
  vesper-commons/config/mainnet/address.js
  vesper-commons/config/mainnet/poolConfig.js
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-commons/utils/balance.js
  vesper-commons/utils/setup.js
  vesper-strategies/test/mainnet/euler/vacbeth.spec.js
  vesper-strategies/test/mainnet/euler/xy/vesper/vacbeth.spec.js
Due: eslint --cache --fix

Implement _getRewardTokens for Curve
  vesper-commons/config/mainnet/address.js
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-strategies/contracts/interfaces/curve/ILiquidityGauge.sol
  vesper-strategies/contracts/strategies/convex/Convex.sol
  vesper-strategies/contracts/strategies/convex/ConvexForFrax.sol
  vesper-strategies/contracts/strategies/curve/Curve.sol
  vesper-strategies/contracts/strategies/curve/CurveAaveLendingPool.sol
  vesper-strategies/test/behavior/curve.js
  vesper-strategies/test/mainnet/curve/3pool/msusd-pool-usdc.spec.js
Due: solhint, eslint --cache --fix

Address review requests
  vesper-deployments/deploy/deploy-strategy.js
  vesper-strategies/contracts/strategies/convex/Convex.sol
  vesper-strategies/contracts/strategies/convex/ConvexForFrax.sol
  vesper-strategies/contracts/strategies/curve/Curve.sol
  vesper-strategies/contracts/strategies/curve/CurveAaveLendingPool.sol
  vesper-strategies/contracts/strategies/curve/CurveBase.sol
  vesper-strategies/contracts/strategies/curve/earn/CurveEarn.sol
  vesper-strategies/contracts/strategies/dot-dot/DotDot.sol
  vesper-strategies/contracts/strategies/ellipsis/Ellipsis.sol
  vesper-strategies/contracts/strategies/ellipsis/EllipsisBase.sol
  vesper-strategies/test/behavior/convex-for-frax.js
  vesper-strategies/test/behavior/convex.js
  vesper-strategies/test/behavior/dot-dot.js
Due: solhint, eslint --cache --fix

Remove deprecated Convex pool
  .github/workflows/mainnet-convex-4pool.yml
  vesper-strategies/test/mainnet/convex/4pool/ibbtc-pool-wbtc.spec.js
Due: eslint --cache --fix

Implement _getRewardTokens for Ellipsis
  vesper-strategies/contracts/interfaces/ellipsis/IEllipsisLp.sol
  vesper-strategies/contracts/strategies/dot-dot/DotDot.sol
  vesper-strategies/contracts/strategies/ellipsis/Ellipsis.sol
Due: solhint

Simplify logic
  vesper-commons/utils/setup.js
  vesper-strategies/contracts/strategies/curve/Curve.sol
  vesper-strategies/contracts/strategies/ellipsis/Ellipsis.sol
  vesper-strategies/contracts/strategies/ellipsis/EllipsisBase.sol
  vesper-strategies/test/behavior/curve.js
Due: solhint, eslint --cache --fix

Removed unnecessary functions
  vesper-pools/contracts/interfaces/vesper/IVesperPool.sol
  vesper-pools/contracts/pool/VETH.sol
  vesper-pools/contracts/pool/VPool.sol
  vesper-strategies/test/behavior/vesper-pool.js
Due: solhint, eslint --cache --fix

Added pool unit tests, removed same from strategy
  .github/workflows/pool.yml
  vesper-commons/utils/sign.js
  vesper-pools/contracts/test/MockToken.sol
  vesper-pools/gas-report.txt
  vesper-pools/hardhat.config.js
  vesper-pools/test/live/strategy-test.js
  vesper-pools/test/vesper-pool-behavior.js
  vesper-pools/test/vesper-pool-vadai.spec.js
  vesper-pools/test/vesper-pool-vaeth.spec.js
  vesper-pools/test/vesper-pool-vausdc.spec.js
  vesper-strategies/test/behavior/vesper-pool.js
Due: solhint, eslint --cache --fix

Gas saving changes
  vesper-pools/contracts/pool/VPool.sol
  vesper-pools/gas-report.txt
Due: solhint

Gas saving updates in pool rewards
  vesper-pools/contracts/pool/PoolRewards.sol
  vesper-pools/gas-report.txt
Due: solhint

Fixed failed tests
  vesper-strategies/contracts/interfaces/alpaca/IFairLaunch.sol
  vesper-strategies/test/behavior/alpaca.js
  vesper-strategies/test/mainnet/compound/xy/vesper/vaeth.spec.js
  vesper-strategies/test/mainnet/compound/xy/vesper/vawbtc.spec.js
Due: solhint, eslint --cache --fix

Added Aave V3 borrow strategy for vaETH pool
  .github/workflows/mainnet-aaveV3-xy.yml
  vesper-commons/config/mainnet/address.js
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-strategies/test/mainnet/aave/v3/xy/vesper/vaeth.spec.js
Due: eslint --cache --fix

Updates in PoolAccountant
  vesper-pools/contracts/pool/PoolAccountant.sol
  vesper-pools/gas-report.txt
Due: solhint

Deployed Aave V3 strategy for vaETH pool
  vesper-deployments/deployments/mainnet/vaeth/AaveV3_Vesper_Xy_ETH_DAI.json
  vesper-deployments/deployments/mainnet/vaeth/solcInputs/9a057f4e03bcd37a5b962431b9d113eb.json
  vesper-deployments/releases/5.0.2/contracts.json
Due: none

Updates related to rewards
  vesper-pools/contracts/pool/PoolRewards.sol
  vesper-pools/contracts/pool/earn/VesperEarnDrip.sol
Due: solhint

Updated contract layout as per new design rule
  vesper-pools/contracts/pool/PoolAccountant.sol
  vesper-pools/contracts/pool/PoolRewards.sol
  vesper-pools/contracts/pool/VETH.sol
  vesper-pools/contracts/pool/VPool.sol
  vesper-pools/contracts/pool/earn/VesperEarnDrip.sol
Due: solhint

Using underscore as suffix in function params
  vesper-pools/contracts/interfaces/vesper/IEarnDrip.sol
  vesper-pools/contracts/interfaces/vesper/IPoolAccountant.sol
  vesper-pools/contracts/interfaces/vesper/IPoolRewards.sol
  vesper-pools/contracts/interfaces/vesper/IVesperPool.sol
  vesper-pools/contracts/pool/PoolAccountant.sol
  vesper-pools/contracts/pool/PoolRewards.sol
  vesper-pools/contracts/pool/VETH.sol
  vesper-pools/contracts/pool/VPool.sol
  vesper-pools/contracts/pool/earn/VesperEarnDrip.sol
Due: solhint

Added swapToCollateral function
  vesper-strategies/contracts/strategies/Strategy.sol
Due: solhint
