Repository vesperfi/vesper-contracts: changes, and which lint-staged commands are due for each by the changed paths.
All: solhint, eslint --cache --fix

Fixed stkAave redeem call
  vesper-strategies/contracts/strategies/aave/v2/AaveV2Core.sol
Due: solhint

Fixed approveToken logic
  vesper-strategies/contracts/strategies/aave/v3/AaveV3Xy.sol
Due: solhint

Added default swap path for wstETH for tests
  vesper-commons/utils/swapHelper.js
Due: eslint --cache --fix

Fixed logic to swap correct amount of borrowToken
  vesper-strategies/contracts/strategies/aave/v2/AaveV2VesperXy.sol
  vesper-strategies/contracts/strategies/aave/v3/AaveV3SommelierXy.sol
  vesper-strategies/contracts/strategies/aave/v3/AaveV3VesperXy.sol
  vesper-strategies/contracts/strategies/compound/CompoundXyCore.sol
Due: solhint

Fixed logic to handle deposit of very small amount
  vesper-strategies/contracts/interfaces/sommelier/ISommelier.sol
  vesper-strategies/contracts/strategies/sommelier/SommelierBase.sol
Due: solhint

Migrate AaveV3 borrow strategies
  vesper-deployments/deployments/mainnet/.migrations.json
  vesper-deployments/deployments/mainnet/vacbeth/AaveV3_Sommelier_Xy_CBETH_WETH.json
  vesper-deployments/deployments/mainnet/vacbeth/AaveV3_Vesper_Xy_CBETH_WETH.json
  vesper-deployments/deployments/mainnet/vacbeth/solcInputs/77230d6f25d32c3719cd3ce494f7e8c9.json
  vesper-deployments/deployments/mainnet/vareth/solcInputs/77230d6f25d32c3719cd3ce494f7e8c9.json
  vesper-deployments/deployments/mainnet/vasteth/AaveV3_Sommelier_Xy_STETH_WETH.json
  vesper-deployments/deployments/mainnet/vasteth/solcInputs/77230d6f25d32c3719cd3ce494f7e8c9.json
  vesper-deployments/deployments/mainnet/vawbtc/AaveV3_Sommelier_Xy_WBTC_WETH.json
  vesper-deployments/deployments/mainnet/vawbtc/solcInputs/77230d6f25d32c3719cd3ce494f7e8c9.json
  vesper-deployments/deployments/optimism/.migrations.json
  vesper-deployments/deployments/optimism/vawsteth/AaveV3_Vesper_Xy_wstETH_ETH.json
  vesper-deployments/deployments/optimism/vawsteth/AaveV3_Vesper_Xy_wstETH_USDC.json
  vesper-deployments/deployments/optimism/vawsteth/solcInputs/77230d6f25d32c3719cd3ce494f7e8c9.json
  vesper-deployments/releases/5.1.0/contracts.json
  vesper-strategies/contracts/strategies/aave/v2/AaveV2Xy.sol
  vesper-strategies/contracts/strategies/aave/v3/AaveV3Xy.sol
Due: solhint

Oracle price check for slippage
  .github/workflows/mainnet-aaveV2-leverage.yml
  .github/workflows/mainnet-aaveV2-xy.yml
  .github/workflows/mainnet-aaveV2.yml
  vesper-commons/utils/swapHelper.js
  vesper-deployments/contracts/test/Imports.sol
  vesper-strategies/contracts/strategies/aave/v2/AaveV2.sol
  vesper-strategies/contracts/strategies/aave/v2/AaveV2Core.sol
  vesper-strategies/contracts/strategies/aave/v2/AaveV2Leverage.sol
  vesper-strategies/contracts/strategies/aave/v2/AaveV2VesperXy.sol
  vesper-strategies/contracts/strategies/aave/v2/AaveV2Xy.sol
  vesper-strategies/contracts/strategies/aave/v2/earn/AaveEarn.sol
  vesper-strategies/contracts/strategies/aave/v3/AaveV3SommelierXy.sol
  vesper-strategies/contracts/strategies/aave/v3/AaveV3VesperXy.sol
  vesper-strategies/contracts/strategies/aave/v3/AaveV3Xy.sol
  vesper-strategies/test/mainnet/aave/v2/leverage/vadai.spec.js
  vesper-strategies/test/mainnet/aave/v2/vadai.spec.js
  vesper-strategies/test/mainnet/aave/v2/vausdc.spec.js
  vesper-strategies/test/mainnet/aave/v2/vausdt.spec.js
  vesper-strategies/test/mainnet/aave/v2/veth.spec.js
  vesper-strategies/test/mainnet/aave/v2/xy/vesper/vaeth.spec.js
  vesper-strategies/test/mainnet/aave/v2/xy/vesper/vasteth.spec.js
  vesper-strategies/test/mainnet/aave/v2/xy/vesper/vawbtc.spec.js
Due: solhint, eslint --cache --fix

Deploy v5.1.2 AaveV3 borrow strategies
  vesper-deployments/deployments/mainnet/vacbeth/AaveV3_Sommelier_Xy_CBETH_WETH.json
  vesper-deployments/deployments/mainnet/vacbeth/solcInputs/552a68fd1a13d3e81ffac7483d222ae3.json
  vesper-deployments/deployments/mainnet/vaeth/AaveV3_Vesper_Xy_ETH_DAI.json
  vesper-deployments/deployments/mainnet/vaeth/solcInputs/552a68fd1a13d3e81ffac7483d222ae3.json
  vesper-deployments/deployments/mainnet/vasteth/AaveV3_Sommelier_Xy_STETH_WETH.json
  vesper-deployments/deployments/mainnet/vasteth/solcInputs/552a68fd1a13d3e81ffac7483d222ae3.json
  vesper-deployments/deployments/mainnet/vawbtc/AaveV3_Sommelier_Xy_WBTC_WETH.json
  vesper-deployments/deployments/mainnet/vawbtc/solcInputs/552a68fd1a13d3e81ffac7483d222ae3.json
  vesper-deployments/releases/5.1.0/contracts.json
Due: none

Updates to fix contract size issue
  vesper-strategies/contracts/strategies/compound/CompoundXyCore.sol
  vesper-strategies/contracts/strategies/compound/v3/CompoundV3Xy.sol
  vesper-strategies/hardhat.config.js
  vesper-strategies/test/behavior/compound-vesper-xy.js
  vesper-strategies/test/behavior/compound-xy.js
Due: solhint, eslint --cache --fix

Oracle price check in Compound borrow strategies
  .github/workflows/mainnet-compound-xy.yml
  vesper-strategies/contracts/strategies/compound/CompoundXy.sol
  vesper-strategies/contracts/strategies/compound/CompoundXyCore.sol
  vesper-strategies/contracts/strategies/compound/v3/CompoundV3Xy.sol
  vesper-strategies/test/mainnet/compound/xy/vaeth.spec.js
  vesper-strategies/test/mainnet/compound/xy/vawbtc.spec.js
Due: solhint, eslint --cache --fix

Deployed Compound borrow v5.1.2 on mainnet
  vesper-deployments/deployments/mainnet/valink/CompoundV3_Vesper_Xy_LINK_USDC.json
  vesper-deployments/deployments/mainnet/valink/solcInputs/fabe9070da530e4fa1403cc5868c41f5.json
  vesper-deployments/hardhat.config.js
  vesper-deployments/releases/5.1.0/contracts.json
Due: eslint --cache --fix

Deployed AaveV3 borrow v5.1.2 on optimism
  vesper-deployments/deployments/optimism/vawsteth/AaveV3_Vesper_Xy_wstETH_ETH.json
  vesper-deployments/deployments/optimism/vawsteth/AaveV3_Vesper_Xy_wstETH_USDC.json
  vesper-deployments/deployments/optimism/vawsteth/solcInputs/fabe9070da530e4fa1403cc5868c41f5.json
  vesper-deployments/releases/5.1.0/contracts.json
Due: none

Added logic to blacklist strategies
  vesper-pools/contracts/Errors.sol
  vesper-pools/contracts/pool/PoolStorage.sol
  vesper-pools/contracts/pool/VPool.sol
Due: solhint

Upgraded vawstETH to 5.1.1 on Optimism
  vesper-deployments/deploy/upgrade-pool.js
  vesper-deployments/deployments/optimism/.migrations.json
  vesper-deployments/deployments/optimism/.versionInfo.json
  vesper-deployments/deployments/optimism/global/VPool_Implementation.json
  vesper-deployments/deployments/optimism/vawsteth/solcInputs/3754c99da163c1b1e7f6b2882daaad83.json
  vesper-deployments/releases/5.1.1/contracts.json
  vesper-pools/contracts/pool/VPool.sol
Due: solhint, eslint --cache --fix

Deployed AaveV3 borrow strategy for vaSTETH on mainnet
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-deployments/deployments/mainnet/vasteth/AaveV3_Vesper_Xy_STETH_WETH.json
  vesper-deployments/deployments/mainnet/vasteth/solcInputs/3754c99da163c1b1e7f6b2882daaad83.json
  vesper-deployments/releases/5.1.0/contracts.json
  vesper-deployments/releases/5.1.1/contracts.json
  vesper-strategies/test/mainnet/aave/v3/xy/vesper/vasteth.spec.js
Due: eslint --cache --fix

Deployed AaveV3 borrow strategy for vaCBETH on mainnet
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-deployments/deployments/mainnet/vacbeth/AaveV3_Vesper_Xy_CBETH_WETH.json
  vesper-deployments/deployments/mainnet/vacbeth/solcInputs/3754c99da163c1b1e7f6b2882daaad83.json
  vesper-deployments/releases/5.1.1/contracts.json
  vesper-strategies/test/mainnet/aave/v3/xy/vesper/vacbeth.spec.js
Due: eslint --cache --fix

Deployed AaveV3 borrow strategy for vaWBTC on mainnet
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-commons/utils/swapHelper.js
  vesper-deployments/deployments/mainnet/vawbtc/AaveV3_Vesper_Xy_WBTC_WETH.json
  vesper-deployments/deployments/mainnet/vawbtc/solcInputs/3754c99da163c1b1e7f6b2882daaad83.json
  vesper-deployments/releases/5.1.1/contracts.json
  vesper-strategies/test/mainnet/aave/v3/xy/vesper/vawbtc.spec.js
Due: eslint --cache --fix

Deployed Morpho vault strategy for vaETH on mainnet
  vesper-commons/config/mainnet/address.js
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-deployments/deployments/mainnet/vaeth/Morpho_IndexCoopHyETH_Vault_ETH.json
  vesper-deployments/deployments/mainnet/vaeth/solcInputs/3754c99da163c1b1e7f6b2882daaad83.json
  vesper-deployments/releases/5.1.1/contracts.json
  vesper-strategies/test/mainnet/morpho/vault/vaeth.spec.js
Due: eslint --cache --fix

Deployed CompoundV3 strategy for vaETH on optimism
  vesper-commons/config/optimism/address.js
  vesper-commons/config/optimism/strategyConfig.js
  vesper-deployments/deployments/optimism/vaeth/CompoundV3_ETH.json
  vesper-deployments/deployments/optimism/vaeth/solcInputs/3754c99da163c1b1e7f6b2882daaad83.json
  vesper-deployments/releases/5.1.1/contracts.json
  vesper-strategies/test/optimism/compound/v3/vaeth.spec.js
Due: eslint --cache --fix

Updated Curve and Convex to support new pools
  vesper-commons/config/mainnet/address.js
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-strategies/contracts/interfaces/convex/IConvexForCurve.sol
  vesper-strategies/contracts/interfaces/curve/IDeposit.sol
  vesper-strategies/contracts/strategies/convex/Convex.sol
  vesper-strategies/contracts/strategies/curve/CurveBase.sol
  vesper-strategies/test/behavior/convex.js
  vesper-strategies/test/mainnet/convex/2pool/vaeth.spec.js
  vesper-strategies/test/mainnet/convex/2pool/vausdc.spec.js
Due: solhint, eslint --cache --fix

Deployed Convex ynETHx-WETH strategy for vaETH
  vesper-deployments/deployments/mainnet/vaeth/Convex_ynETHx_WETH.json
  vesper-deployments/deployments/mainnet/vaeth/solcInputs/93e0099f1847818a910705f8c3dd798d.json
  vesper-deployments/releases/5.1.1/contracts.json
Due: none

Deployed Convex eUSD-USDC strategy for vaUSDC
  vesper-deployments/deployments/mainnet/vausdc/Convex_eUSD_USDC.json
  vesper-deployments/deployments/mainnet/vausdc/solcInputs/93e0099f1847818a910705f8c3dd798d.json
  vesper-deployments/releases/5.1.1/contracts.json
Due: none

Path conditions:
  solhint: any of: *.sol
  eslint --cache --fix: any of: *.js
