Repository vesperfi/vesper-contracts: changes, and which lint-staged commands are due for each by the changed paths.
All: solhint, eslint --cache --fix

.lintstagedrc.json:

{
  "*.sol": [
    "solhint"
  ],
  "*.js": [
    "eslint --cache --fix"
  ]
}

Deployed stETH pool and strategy
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-deployments/contracts/test/Imports.sol
  vesper-deployments/deployments/mainnet/.chainId
  vesper-deployments/deployments/mainnet/.migrations.json
  vesper-deployments/deployments/mainnet/.versionInfo.json
  vesper-deployments/deployments/mainnet/global/0x76d266DFD3754f090488ae12F6Bd115cD7E77eBD/PoolAccountantUpgrader.json
  vesper-deployments/deployments/mainnet/global/0x76d266DFD3754f090488ae12F6Bd115cD7E77eBD/PoolRewardsUpgrader.json
  vesper-deployments/deployments/mainnet/global/0x76d266DFD3754f090488ae12F6Bd115cD7E77eBD/VPoolUpgrader.json
  vesper-deployments/deployments/mainnet/global/PoolAccountant_Implementation.json
  vesper-deployments/deployments/mainnet/global/PoolRewards_Implementation.json
  vesper-deployments/deployments/mainnet/global/VPool_Implementation.json
  vesper-deployments/deployments/mainnet/vasteth/Aave-Vesper-STETH-DAI.json
  vesper-deployments/deployments/mainnet/vasteth/PoolAccountant.json
  vesper-deployments/deployments/mainnet/vasteth/PoolAccountant_Proxy.json
  vesper-deployments/deployments/mainnet/vasteth/PoolRewards.json
  vesper-deployments/deployments/mainnet/vasteth/PoolRewards_Proxy.json
  vesper-deployments/deployments/mainnet/vasteth/VPool.json
  vesper-deployments/deployments/mainnet/vasteth/VPool_Proxy.json
  vesper-deployments/deployments/mainnet/vasteth/solcInputs/0e89febeebc7444140de8e67c9067d2c.json
  vesper-deployments/deployments/mainnet/vasteth/solcInputs/5cbdf16814785383d68b0c925ed01d41.json
  vesper-deployments/deployments/mainnet/vasteth/solcInputs/91cd59bc1fb66ec497d16b137aa7bfcc.json
  vesper-deployments/deployments/mainnet/vasteth/solcInputs/af91d5487db4cfcd61a562bfba867426.json
  vesper-deployments/releases/5.0.2/contracts.json
  vesper-deployments/tasks/create-release.js
  vesper-pools/test/live/strategy-test.js
  vesper-strategies/contracts/strategies/aave/v2/AaveV2VesperXy.sol
  vesper-strategies/contracts/strategies/aave/v2/AaveV2Xy.sol
  vesper-strategies/test/mainnet/aave/v2/xy/vesper/vasteth.spec.js
Due: solhint, eslint --cache --fix

Address review requests
  vesper-commons/contracts/interfaces/vesper/IStrategy.sol
  vesper-strategies/contracts/strategies/Strategy.sol
  vesper-strategies/contracts/strategies/curve/CurvePoolBase.sol
Due: solhint

Add crvSlippage as constructor param
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-strategies/contracts/strategies/convex/2Pool/Convex2PlainPool.sol
  vesper-strategies/contracts/strategies/convex/3pool/Convex3PlainPool.sol
  vesper-strategies/contracts/strategies/convex/4Pool/Convex4FactoryMetaPool.sol
  vesper-strategies/contracts/strategies/convex/4Pool/Convex4MetaPool.sol
  vesper-strategies/contracts/strategies/curve/2Pool/Curve2LendingPool.sol
  vesper-strategies/contracts/strategies/curve/2Pool/Curve2PlainPool.sol
  vesper-strategies/contracts/strategies/curve/3Pool/Curve3LendingPool.sol
  vesper-strategies/contracts/strategies/curve/3Pool/Curve3LendingPoolAave.sol
  vesper-strategies/contracts/strategies/curve/3Pool/Curve3PlainPool.sol
  vesper-strategies/contracts/strategies/curve/3Pool/earn/EarnCurve3PlainPool.sol
  vesper-strategies/contracts/strategies/curve/4Pool/Curve4FactoryMetaPool.sol
  vesper-strategies/contracts/strategies/curve/4Pool/Curve4PlainOr4MetaPool.sol
  vesper-strategies/contracts/strategies/curve/CurvePoolBase.sol
Due: solhint, eslint --cache --fix

Address review requests
  vesper-commons/utils/setup.js
  vesper-strategies/contracts/strategies/Earn.sol
  vesper-strategies/contracts/strategies/curve/3Pool/Curve3LendingPool.sol
  vesper-strategies/contracts/strategies/curve/3Pool/Curve3LendingPoolAave.sol
  vesper-strategies/contracts/strategies/curve/3Pool/Curve3PlainPool.sol
  vesper-strategies/contracts/strategies/curve/3Pool/earn/EarnCurve3PlainPool.sol
  vesper-strategies/contracts/strategies/curve/CurvePoolBase.sol
Due: solhint, eslint --cache --fix

Fix Earn comment
  vesper-strategies/contracts/strategies/Earn.sol
Due: solhint

Fail silently when swapping rewards
  vesper-strategies/contracts/strategies/curve/CurvePoolBase.sol
Due: solhint

Aave v3 strategy for Avalanche chain
  vesper-commons/config/avalanche/address.js
  vesper-commons/config/avalanche/strategyConfig.js
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-commons/utils/poolOps.js
  vesper-strategies/contracts/strategies/aave/v3/AaveV3VesperXy.sol
  vesper-strategies/contracts/strategies/aave/v3/AaveV3Xy.sol
  vesper-strategies/test/avalanche/aave/v3/xy/vesper/vaeth.spec.js
  vesper-strategies/test/behavior/aave_vesper_xy.js
  vesper-strategies/test/behavior/strategy-migration.js
  vesper-strategies/test/behavior/vesper-pool.js
  vesper-strategies/test/mainnet/aave/v2/xy/vesper/vaeth.spec.js
  vesper-strategies/test/mainnet/aave/v2/xy/vesper/vasteth.spec.js
  vesper-strategies/test/mainnet/aave/v2/xy/vesper/vawbtc.spec.js
Due: solhint, eslint --cache --fix

Fixed rebalance logic
  vesper-strategies/contracts/strategies/compound/CompoundXYCore.sol
Due: solhint

Fixed Aave GH actions
  .github/workflows/avalanche-aaveV3.yml
  .github/workflows/mainnet-aaveV2.yml
Due: none

Fixed code doc and used existing safeWithdraw
  vesper-strategies/contracts/strategies/aave/v2/AaveV2Xy.sol
Due: solhint

Renamed Compound strategies
  .github/workflows/mainnet-compound-xy.yml
  .github/workflows/mainnet-compound.yml
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-deployments/contracts/test/Imports.sol
  vesper-strategies/contracts/strategies/compound/Compound.sol
  vesper-strategies/contracts/strategies/compound/CompoundETH.sol
  vesper-strategies/contracts/strategies/compound/CompoundVesperXy.sol
  vesper-strategies/contracts/strategies/compound/CompoundVesperXyETH.sol
  vesper-strategies/contracts/strategies/compound/CompoundXy.sol
  vesper-strategies/contracts/strategies/compound/CompoundXyCore.sol
  vesper-strategies/contracts/strategies/compound/CompoundXyETH.sol
  vesper-strategies/test/behavior/compound-vesper-xy.js
  vesper-strategies/test/behavior/compound-xy.js
  vesper-strategies/test/behavior/strategy.js
  vesper-strategies/test/mainnet/compound-xy/vaeth.spec.js
  vesper-strategies/test/mainnet/compound-xy/vawbtc.spec.js
  vesper-strategies/test/mainnet/compound-xy/vesper/vaeth.spec.js
  vesper-strategies/test/mainnet/compound-xy/vesper/vawbtc.spec.js
  vesper-strategies/test/mainnet/compound/vadai.spec.js
  vesper-strategies/test/mainnet/compound/vaeth.spec.js
  vesper-strategies/test/mainnet/compound/valink.spec.js
  vesper-strategies/test/mainnet/compound/vauni.spec.js
  vesper-strategies/test/mainnet/compound/vausdc.spec.js
  vesper-strategies/test/mainnet/compound/vausdt.spec.js
  vesper-strategies/test/mainnet/compound/vawbtc.spec.js
  vesper-strategies/test/mainnet/compound/xy/vaeth.spec.js
  vesper-strategies/test/mainnet/compound/xy/vawbtc.spec.js
  vesper-strategies/test/mainnet/compound/xy/vesper/vaeth.spec.js
  vesper-strategies/test/mainnet/compound/xy/vesper/vawbtc.spec.js
Due: solhint, eslint --cache --fix

Run AaveV2VesperXy tests
  vesper-strategies/test/behavior/aave-vesper-xy.js
  vesper-strategies/test/behavior/aave_vesper_xy.js
  vesper-strategies/test/behavior/strategy.js
Due: eslint --cache --fix

Deploy Compound_Vesper_Xy_ETH_DAI
  vesper-commons/config/avalanche/strategyConfig.js
  vesper-commons/config/mainnet/address.js
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-commons/utils/strategyTypes.js
  vesper-deployments/contracts/test/Imports.sol
  vesper-deployments/deployments/mainnet/vaeth/AlphaLendStrategyETH.json
  vesper-deployments/deployments/mainnet/vaeth/CompoundLeverageStrategyETH.json
  vesper-deployments/deployments/mainnet/vaeth/Compound_Vesper_Xy_ETH_DAI.json
  vesper-deployments/deployments/mainnet/vaeth/Compound_Xy_ETH_DAI.json
  vesper-deployments/deployments/mainnet/vaeth/InverseCompoundLeverageStrategyETH.json
  vesper-deployments/deployments/mainnet/vaeth/PoolAccountant.json
  vesper-deployments/deployments/mainnet/vaeth/PoolAccountant_Proxy.json
  vesper-deployments/deployments/mainnet/vaeth/PoolRewards.json
  vesper-deployments/deployments/mainnet/vaeth/PoolRewards_Proxy.json
  vesper-deployments/deployments/mainnet/vaeth/RariFuseStrategy.json
  vesper-deployments/deployments/mainnet/vaeth/RariFuseStrategyETH.json
  vesper-deployments/deployments/mainnet/vaeth/VETH.json
  vesper-deployments/deployments/mainnet/vaeth/VETH_Proxy.json
  vesper-deployments/deployments/mainnet/vaeth/VesperAaveXYStrategyETH_FEI.json
  vesper-deployments/deployments/mainnet/vaeth/VesperCompoundXYStrategyETH_LINK.json
  vesper-deployments/deployments/mainnet/vaeth/VesperIronBankXYStrategyETH_DAI.json
  vesper-deployments/deployments/mainnet/vaeth/VesperMakerStrategyETH.json
  vesper-deployments/deployments/mainnet/vaeth/solcInputs/0c127abe11d6bc13fb99083a5f2331b8.json
  vesper-deployments/deployments/mainnet/vaeth/solcInputs/1635d55d57a0a2552952c0d22586ed23.json
  vesper-deployments/deployments/mainnet/vaeth/solcInputs/4c3b8015605c221439043450113685cb.json
  vesper-deployments/deployments/mainnet/vaeth/solcInputs/4ee33b63227f5520818647a65d923570.json
  vesper-deployments/deployments/mainnet/vaeth/solcInputs/5f04fba5c8a61bceef48ee4c9b8cb8c1.json
  vesper-deployments/deployments/mainnet/vaeth/solcInputs/77c93dd1e7e553126485d5a31c142036.json
  vesper-deployments/deployments/mainnet/vaeth/solcInputs/7f3e59a71058f4ac40f17cd5a1d9e3e2.json
  vesper-deployments/deployments/mainnet/vaeth/solcInputs/9f0a59a19322e4b74f4bac7668d93b25.json
  vesper-deployments/deployments/mainnet/vaeth/solcInputs/b399f1fb85769b515804c5518275fb6b.json
  vesper-deployments/deployments/mainnet/vaeth/solcInputs/c411e128211442a0d4613d36c9fdd639.json
  vesper-deployments/deployments/mainnet/vaeth/solcInputs/c9bb2ddd19e38d6b97ad80c64f3f58c7.json
  vesper-deployments/releases/5.0.2/contracts.json
  vesper-deployments/tasks/create-release.js
  vesper-strategies/test/behavior/strategy.js
  vesper-strategies/test/mainnet/compound/xy/vesper/vaeth.spec.js
Due: solhint, eslint --cache --fix

Deployed Compound_Vesper_Xy_WBTC_DAI for vaWBTC pool.
  vesper-deployments/deployments/mainnet/vawbtc/CompoundLeverageStrategyWBTC.json
  vesper-deployments/deployments/mainnet/vawbtc/Compound_Vesper_Xy_WBTC_DAI.json
  vesper-deployments/deployments/mainnet/vawbtc/Convex4MetaPoolStrategyIBBTCPoolWBTC.json
  vesper-deployments/deployments/mainnet/vawbtc/ConvexSBTCStrategyWBTC.json
  vesper-deployments/deployments/mainnet/vawbtc/CrvsBTCStrategyWBTC.json
  vesper-deployments/deployments/mainnet/vawbtc/PoolAccountant.json
  vesper-deployments/deployments/mainnet/vawbtc/PoolAccountant_Proxy.json
  vesper-deployments/deployments/mainnet/vawbtc/PoolRewards.json
  vesper-deployments/deployments/mainnet/vawbtc/PoolRewards_Proxy.json
  vesper-deployments/deployments/mainnet/vawbtc/RariFuseStrategy.json
  vesper-deployments/deployments/mainnet/vawbtc/VPool.json
  vesper-deployments/deployments/mainnet/vawbtc/VPool_Proxy.json
  vesper-deployments/deployments/mainnet/vawbtc/VesperAaveXYStrategyWBTC_FEI.json
  vesper-deployments/deployments/mainnet/vawbtc/VesperCompoundXYStrategyWBTC_LINK.json
  vesper-deployments/deployments/mainnet/vawbtc/VesperCompoundXYStrategyWBTC_USDC.json
  vesper-deployments/deployments/mainnet/vawbtc/VesperMakerStrategyWBTC.json
  vesper-deployments/deployments/mainnet/vawbtc/solcInputs/08a6b5bd93158006aa43afbc4be71aa7.json
  vesper-deployments/deployments/mainnet/vawbtc/solcInputs/0c127abe11d6bc13fb99083a5f2331b8.json
  vesper-deployments/deployments/mainnet/vawbtc/solcInputs/1635d55d57a0a2552952c0d22586ed23.json
  vesper-deployments/deployments/mainnet/vawbtc/solcInputs/439081a66784645bdfe96aeef8211a1a.json
  vesper-deployments/deployments/mainnet/vawbtc/solcInputs/637f205b1b413b4a8c526ebe141d2788.json
  vesper-deployments/deployments/mainnet/vawbtc/solcInputs/678c6d4982e16085b7cac7ef1710baa2.json
  vesper-deployments/deployments/mainnet/vawbtc/solcInputs/7f3e59a71058f4ac40f17cd5a1d9e3e2.json
  vesper-deployments/deployments/mainnet/vawbtc/solcInputs/823560cd19d9e3828cc7119f3ce09956.json
  vesper-deployments/deployments/mainnet/vawbtc/solcInputs/9ab9e1958ffbeb83dc88a8908bfb9b7e.json
  vesper-deployments/deployments/mainnet/vawbtc/solcInputs/9f0a59a19322e4b74f4bac7668d93b25.json
  vesper-deployments/deployments/mainnet/vawbtc/solcInputs/a2f4bd8c297755595a286b4382d7ab6a.json
  vesper-deployments/deployments/mainnet/vawbtc/solcInputs/b62ecba18af6265f39dec4f3c2a5ace6.json
  vesper-deployments/deployments/mainnet/vawbtc/solcInputs/c9bb2ddd19e38d6b97ad80c64f3f58c7.json
  vesper-deployments/deployments/mainnet/vawbtc/solcInputs/faa5c6475465970f6971ee63b6f277d6.json
  vesper-deployments/deployments/mainnet/vawbtc/solcInputs/fc8db9fa013b709c2c5f8959af52ebd2.json
  vesper-deployments/releases/5.0.2/contracts.json
Due: none

Refactor Maker strategy as per naming convention and added GH action
  .github/workflows/mainnet-maker.yml
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-strategies/contracts/strategies/maker/Maker.sol
  vesper-strategies/contracts/strategies/maker/MakerVesper.sol
  vesper-strategies/test/mainnet/maker/vesper/vaeth.spec.js
  vesper-strategies/test/mainnet/maker/vesper/valink.spec.js
  vesper-strategies/test/mainnet/maker/vesper/vawbtc.spec.js
Due: solhint, eslint --cache --fix

Write Convex specific tests
  .github/workflows/mainnet-convex-2pool.yml
  .github/workflows/mainnet-convex-3pool.yml
  .github/workflows/mainnet-convex-4pool.yml
  vesper-commons/config/mainnet/address.js
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-strategies/contracts/interfaces/convex/IConvex.sol
  vesper-strategies/contracts/strategies/convex/2Pool/Convex2PlainPool.sol
  vesper-strategies/contracts/strategies/convex/3pool/Convex3PlainPool.sol
  vesper-strategies/contracts/strategies/convex/4Pool/Convex4FactoryMetaPool.sol
  vesper-strategies/contracts/strategies/convex/4Pool/Convex4MetaPool.sol
  vesper-strategies/contracts/strategies/convex/ConvexBase.sol
  vesper-strategies/test/behavior/convex.js
  vesper-strategies/test/behavior/curve.js
  vesper-strategies/test/behavior/strategy.js
Due: solhint, eslint --cache --fix

Maker core rebalance logic changed to fix universal fee calculations
  vesper-strategies/contracts/strategies/maker/MakerStrategy.sol
  vesper-strategies/contracts/strategies/maker/VesperMakerStrategy.sol
  vesper-strategies/test/behavior/maker-common.js
  vesper-strategies/test/behavior/maker-strategy.js
Due: solhint, eslint --cache --fix

Setup Convex FRAX-USDC strategy
  .github/workflows/mainnet-convex-2pool.yml
  vesper-commons/config/mainnet/address.js
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-commons/utils/setup.js
  vesper-strategies/contracts/strategies/curve/CurvePoolBase.sol
  vesper-strategies/test/mainnet/convex/2pool/fraxusdc-frax.spec.js
Due: solhint, eslint --cache --fix

Removed uint initialization and used unchecked
  vesper-strategies/contracts/strategies/compound/CompoundLeverage.sol
Due: solhint

Added code doc and minor gas saving change
  vesper-strategies/contracts/strategies/compound/CompoundLeverage.sol
Due: solhint

Added CompoundLeverage
  .github/workflows/mainnet-compound-leverage.yml
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-strategies/contracts/interfaces/dydx/ISoloMargin.sol
  vesper-strategies/contracts/strategies/FlashLoanHelper.sol
  vesper-strategies/contracts/strategies/compound/CompoundLeverage.sol
  vesper-strategies/contracts/strategies/compound/CompoundLeverageETH.sol
  vesper-strategies/test/behavior/compound-leverage.js
  vesper-strategies/test/behavior/strategy.js
  vesper-strategies/test/mainnet/compound/leverage/vaeth.spec.js
  vesper-strategies/test/mainnet/compound/leverage/vauni.spec.js
  vesper-strategies/test/mainnet/compound/leverage/vawbtc.spec.js
Due: solhint, eslint --cache --fix

Minor fixes
  .prettierrc
  vesper-strategies/.prettierignore
  vesper-strategies/contracts/strategies/aave/v2/AaveV2Xy.sol
  vesper-strategies/contracts/strategies/compound/CompoundETH.sol
Due: solhint

Added Benqi and TraderJoe deposit strategy
  .github/workflows/avalanche-benqi.yml
  .github/workflows/avalanche-traderjoe.yml
  vesper-commons/config/avalanche/strategyConfig.js
  vesper-strategies/contracts/interfaces/compound/IComptrollerMultiReward.sol
  vesper-strategies/contracts/strategies/compound/Compound.sol
  vesper-strategies/contracts/strategies/compound/avalanche/BenqiAVAX.sol
  vesper-strategies/contracts/strategies/compound/avalanche/CompoundLike.sol
  vesper-strategies/test/avalanche/benqi/vaavax.spec.js
  vesper-strategies/test/avalanche/benqi/vadaie.spec.js
  vesper-strategies/test/avalanche/benqi/vaqi.spec.js
  vesper-strategies/test/avalanche/benqi/vausdc.spec.js
  vesper-strategies/test/avalanche/benqi/vausdce.spec.js
  vesper-strategies/test/avalanche/benqi/vawbtce.spec.js
  vesper-strategies/test/avalanche/benqi/vawethe.spec.js
  vesper-strategies/test/avalanche/traderjoe/vaavax.spec.js
  vesper-strategies/test/avalanche/traderjoe/vadaie.spec.js
  vesper-strategies/test/avalanche/traderjoe/vausdc.spec.js
  vesper-strategies/test/avalanche/traderjoe/vausdce.spec.js
  vesper-strategies/test/avalanche/traderjoe/vawbtce.spec.js
  vesper-strategies/test/avalanche/traderjoe/vawethe.spec.js
Due: solhint, eslint --cache --fix

Added Benqi and TraderJoe Xy strategy
  .github/workflows/avalanche-benqi-xy.yml
  .github/workflows/avalanche-traderjoe-xy.yml
  vesper-commons/config/avalanche/strategyConfig.js
  vesper-commons/utils/balance.js
  vesper-strategies/contracts/interfaces/compound/IComptrollerMultiReward.sol
  vesper-strategies/contracts/strategies/compound/CompoundXyCore.sol
  vesper-strategies/contracts/strategies/compound/avalanche/BenqiVesperXy.sol
  vesper-strategies/contracts/strategies/compound/avalanche/BenqiXy.sol
  vesper-strategies/contracts/strategies/compound/avalanche/TraderJoeVesperXy.sol
  vesper-strategies/contracts/strategies/compound/avalanche/TraderJoeXy.sol
  vesper-strategies/test/avalanche/benqi/xy/vesper/vawbtce.spec.js
  vesper-strategies/test/avalanche/traderjoe/xy/vesper/vaavax.spec.js
  vesper-strategies/test/avalanche/traderjoe/xy/vesper/vawbtce.spec.js
  vesper-strategies/test/behavior/compound-vesper-xy.js
Due: solhint, eslint --cache --fix

Added available liquidity check
  vesper-strategies/contracts/strategies/compound/CompoundXyCore.sol
Due: solhint

Prep work for Compound like leverage
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-strategies/contracts/strategies/compound/CompoundLeverage.sol
  vesper-strategies/contracts/strategies/compound/CompoundLeverageETH.sol
  vesper-strategies/contracts/strategies/compound/LeverageBase.sol
Due: solhint, eslint --cache --fix

Added Compound like leverage strategies
  .github/workflows/avalanche-benqi-leverage.yml
  .github/workflows/avalanche-traderjoe-leverage.yml
  vesper-commons/config/avalanche/strategyConfig.js
  vesper-strategies/contracts/strategies/AvalancheFlashLoanHelper.sol
  vesper-strategies/contracts/strategies/compound/avalanche/BenqiLeverageAVAX.sol
  vesper-strategies/contracts/strategies/compound/avalanche/CompoundLikeLeverage.sol
  vesper-strategies/contracts/strategies/compound/avalanche/TraderJoeLeverage.sol
  vesper-strategies/test/avalanche/benqi/leverage/vaavax.spec.js
  vesper-strategies/test/avalanche/benqi/leverage/vadaie.spec.js
  vesper-strategies/test/avalanche/benqi/leverage/vausdc.spec.js
  vesper-strategies/test/avalanche/benqi/leverage/vausdce.spec.js
  vesper-strategies/test/avalanche/benqi/leverage/vawbtce.spec.js
  vesper-strategies/test/avalanche/benqi/leverage/vawethe.spec.js
  vesper-strategies/test/avalanche/traderjoe/leverage/vaavax.spec.js
  vesper-strategies/test/avalanche/traderjoe/leverage/vadaie.spec.js
  vesper-strategies/test/avalanche/traderjoe/leverage/vausdc.spec.js
  vesper-strategies/test/avalanche/traderjoe/leverage/vausdce.spec.js
  vesper-strategies/test/avalanche/traderjoe/leverage/vawbtce.spec.js
  vesper-strategies/test/avalanche/traderjoe/leverage/vawethe.spec.js
  vesper-strategies/test/behavior/compound-leverage.js
Due: solhint, eslint --cache --fix

Fixed GH action paths and address collision
  .github/workflows/avalanche-benqi-leverage.yml
  .github/workflows/avalanche-benqi-xy.yml
  .github/workflows/avalanche-traderjoe-leverage.yml
  .github/workflows/mainnet-compound-xy.yml
  .github/workflows/mainnet-compound.yml
  vesper-commons/utils/setup.js
  vesper-strategies/contracts/strategies/compound/CompoundLeverage.sol
  vesper-strategies/contracts/strategies/compound/CompoundLeverageBase.sol
  vesper-strategies/contracts/strategies/compound/avalanche/CompoundLikeLeverage.sol
Due: solhint, eslint --cache --fix

Implement Earn Vesper FRAX FRAXBPLP strategy
  .github/workflows/mainnet-vesper.yml
  vesper-commons/config/mainnet/address.js
  vesper-commons/config/mainnet/poolConfig.js
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-commons/config/polygon/strategyConfig.js
  vesper-commons/utils/balance.js
  vesper-commons/utils/setup.js
  vesper-strategies/contracts/interfaces/saddle/ISwap.sol
  vesper-strategies/contracts/strategies/Earn.sol
  vesper-strategies/contracts/strategies/Strategy.sol
  vesper-strategies/contracts/strategies/curve/3Pool/earn/EarnCurve3PlainPool.sol
  vesper-strategies/contracts/strategies/curve/CurvePoolBase.sol
  vesper-strategies/contracts/strategies/vesper/Vesper.sol
  vesper-strategies/contracts/strategies/vesper/earn/VesperEarn.sol
  vesper-strategies/contracts/strategies/vesper/earn/VesperEarnSaddleLp.sol
  vesper-strategies/contracts/test/Import.sol
  vesper-strategies/test/behavior/earn-vesper-strategy.js
  vesper-strategies/test/behavior/strategy-migration.js
  vesper-strategies/test/behavior/strategy-underlying-vesper-pool.js
  vesper-strategies/test/behavior/strategy.js
  vesper-strategies/test/mainnet/vesper/earn/frax-fraxbp.spec.js
Due: solhint, eslint --cache --fix

Deployed AaveV2_Vesper_Xy_ETH_DAI
  vesper-deployments/contracts/test/Imports.sol
  vesper-deployments/deployments/mainnet/vaeth/AaveV2_Vesper_Xy_ETH_DAI.json
  vesper-deployments/deployments/mainnet/vaeth/solcInputs/c843cc7c3b4219d4b265803edc8f79ad.json
  vesper-deployments/releases/5.0.2/contracts.json
Due: solhint

Remove _claimRewardsAndConvertTo function
  vesper-strategies/contracts/strategies/vesper/Vesper.sol
  vesper-strategies/contracts/strategies/vesper/earn/VesperEarn.sol
Due: solhint

Renamed Stargate Strategy
  .github/workflows/mainnet-stargate.yml
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-strategies/contracts/strategies/stargate/Stargate.sol
  vesper-strategies/test/mainnet/stargate/vausdc.spec.js
Due: solhint, eslint --cache --fix

Removed Maker GH actions temporarily
  .github/workflows/mainnet-maker.yml
Due: none

Write tests for avax Curve strategies
  .github/workflows/avalanche-curve-2pool.yml
  .github/workflows/avalanche-curve-3pool.yml
  vesper-commons/config/avalanche/address.js
  vesper-commons/config/avalanche/strategyConfig.js
  vesper-commons/config/mainnet/address.js
  vesper-commons/utils/balance.js
  vesper-commons/utils/setup.js
  vesper-strategies/contracts/strategies/curve/2Pool/Curve2LendingPool.sol
  vesper-strategies/contracts/strategies/curve/3Pool/Curve3LendingPool.sol
  vesper-strategies/contracts/strategies/curve/CurvePoolBase.sol
  vesper-strategies/hardhat.config.js
  vesper-strategies/test/avalanche/curve/2pool/ren-pool-wbtce.spec.js
  vesper-strategies/test/avalanche/curve/3pool/aave-pool-daie.spec.js
  vesper-strategies/test/avalanche/curve/3pool/aave-pool-usdce.spec.js
  vesper-strategies/test/behavior/curve.js
Due: solhint, eslint --cache --fix

Write Curve Earn strategy tests
  .github/workflows/mainnet-curve-3pool.yml
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-commons/utils/setup.js
  vesper-deployments/tasks/strategy-configuration.js
  vesper-strategies/test/mainnet/curve/3pool/earn/sbtc-wbtc-dai.spec.js
Due: eslint --cache --fix

Deploed Convex_fraxusdc_FRAX stragegy for vaFRAX pool
  vesper-deployments/contracts/test/Imports.sol
  vesper-deployments/deployments/mainnet/vafrax/Convex4MetaPoolStrategyFRAXPoolFRAX.json
  vesper-deployments/deployments/mainnet/vafrax/Convex_fraxusdc_FRAX.json
  vesper-deployments/deployments/mainnet/vafrax/PoolAccountant.json
  vesper-deployments/deployments/mainnet/vafrax/PoolAccountant_Proxy.json
  vesper-deployments/deployments/mainnet/vafrax/PoolRewards.json
  vesper-deployments/deployments/mainnet/vafrax/PoolRewards_Proxy.json
  vesper-deployments/deployments/mainnet/vafrax/RariFuseStrategy#18.json
  vesper-deployments/deployments/mainnet/vafrax/RariFuseStrategy#36.json
  vesper-deployments/deployments/mainnet/vafrax/RariFuseStrategy#6.json
  vesper-deployments/deployments/mainnet/vafrax/RariFuseStrategy#7.json
  vesper-deployments/deployments/mainnet/vafrax/VPool.json
  vesper-deployments/deployments/mainnet/vafrax/VPool_Proxy.json
  vesper-deployments/deployments/mainnet/vafrax/solcInputs/1635d55d57a0a2552952c0d22586ed23.json
  vesper-deployments/deployments/mainnet/vafrax/solcInputs/4040d041c2528b9ffde1f617c463dec7.json
  vesper-deployments/deployments/mainnet/vafrax/solcInputs/4999e1cde647e51808b26a57da360c5e.json
  vesper-deployments/deployments/mainnet/vafrax/solcInputs/53bed00373dea112bc4ff59f64e3bfc1.json
  vesper-deployments/releases/5.0.2/contracts.json
Due: solhint

Deployed Saddle FRAXBP earn Pool and strategy
  vesper-commons/config/mainnet/poolConfig.js
  vesper-deployments/contracts/test/Imports.sol
  vesper-deployments/deployments/mainnet/global/VesperEarnDrip_Implementation.json
  vesper-deployments/deployments/mainnet/vefrax_fraxbp/PoolAccountant.json
  vesper-deployments/deployments/mainnet/vefrax_fraxbp/PoolAccountant_Proxy.json
  vesper-deployments/deployments/mainnet/vefrax_fraxbp/VPool.json
  vesper-deployments/deployments/mainnet/vefrax_fraxbp/VPool_Proxy.json
  vesper-deployments/deployments/mainnet/vefrax_fraxbp/VesperEarnDrip.json
  vesper-deployments/deployments/mainnet/vefrax_fraxbp/VesperEarnDrip_Proxy.json
  vesper-deployments/deployments/mainnet/vefrax_fraxbp/Vesper_Earn_FRAX_FRAXBP.json
  vesper-deployments/deployments/mainnet/vefrax_fraxbp/solcInputs/079da40b0fcc4d6da1334ca3c57091b0.json
  vesper-deployments/deployments/mainnet/vefrax_fraxbp/solcInputs/0e89febeebc7444140de8e67c9067d2c.json
  vesper-deployments/deployments/mainnet/vefrax_fraxbp/solcInputs/1a89df90f0d531ba39cd97ac3d73fb47.json
  vesper-deployments/deployments/mainnet/vefrax_fraxbp/solcInputs/1f5ec532540b2f19968fee1536abedb9.json
  vesper-deployments/releases/5.0.2/contracts.json
  vesper-deployments/tasks/create-release.js
Due: solhint, eslint --cache --fix

Fix universal fee issue due to 2 time call of reportEarning
  vesper-strategies/contracts/strategies/aave/v3/AaveV3Xy.sol
Due: solhint

Added Compound Earn strategies
  .github/workflows/mainnet-compound-earn.yml
  package-lock.json
  package.json
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-strategies/contracts/strategies/compound/Compound.sol
  vesper-strategies/contracts/strategies/compound/earn/CompoundEarn.sol
  vesper-strategies/contracts/strategies/compound/earn/CompoundEarnETH.sol
  vesper-strategies/test/mainnet/compound/earn/veeth-dai.spec.js
  vesper-strategies/test/mainnet/compound/earn/vewbtc-dai.spec.js
Due: solhint, eslint --cache --fix
