Repository vesperfi/vesper-contracts: changes, and which lint-staged commands are due for each by the changed paths.
All: solhint, eslint --cache --fix

.lintstagedrc.json:

{
  "*.sol": [
    "solhint"
  ],
  "*.js": [
    "eslint --cache --fix"
  ]
}

Deployed Sonne deposit strategies
  vesper-commons/config/optimism/strategyConfig.js
  vesper-deployments/contracts/test/Imports.sol
  vesper-deployments/deployments/optimism/vaeth/Sonne_ETH.json
  vesper-deployments/deployments/optimism/vaeth/solcInputs/c08982e780b6228d1fb94c0a37124653.json
  vesper-deployments/deployments/optimism/vaop/Sonne_OP.json
  vesper-deployments/deployments/optimism/vaop/solcInputs/c08982e780b6228d1fb94c0a37124653.json
  vesper-deployments/deployments/optimism/vausdc/Sonne_USDC.json
  vesper-deployments/deployments/optimism/vausdc/solcInputs/c08982e780b6228d1fb94c0a37124653.json
  vesper-deployments/releases/5.1.0/contracts.json
  vesper-strategies/test/optimism/sonne/vaeth.spec.js
Due: solhint, eslint --cache --fix

Removed pausable
  packages/misc/contracts/Pausable.sol
  packages/misc/contracts/interfaces/vesper/IPausable.sol
  packages/misc/contracts/interfaces/vesper/IVesperPool.sol
Due: solhint

Added new/updated pausable
  packages/misc/contracts/interfaces/IPausable.sol
  packages/misc/contracts/interfaces/IVesperPool.sol
  packages/misc/contracts/utils/Pausable.sol
Due: solhint

Updated governor
  packages/misc/contracts/Governable.sol
  packages/misc/contracts/RevenueSplitter.sol
  packages/misc/contracts/access/Governable.sol
  packages/misc/contracts/interfaces/IGovernable.sol
  packages/misc/contracts/interfaces/IVesperPool.sol
  packages/misc/contracts/utils/TokenHolder.sol
  packages/misc/test/revenue-splitter.js
Due: solhint, eslint --cache --fix

Operator contract
  packages/misc/contracts/Operator.sol
  packages/misc/contracts/access/Governable.sol
  packages/misc/contracts/test/IStrategyTest.sol
  packages/misc/package-lock.json
  packages/misc/package.json
  packages/misc/test/operator.js
Due: solhint, eslint --cache --fix

Deployed Sonne leverage
  vesper-commons/config/optimism/strategyConfig.js
  vesper-deployments/contracts/test/Imports.sol
  vesper-deployments/deployments/optimism/vaeth/Sonne_Leverage_ETH.json
  vesper-deployments/deployments/optimism/vaeth/solcInputs/17b66827d396d8018d789e07b93590f9.json
  vesper-deployments/deployments/optimism/vaop/Sonne_Leverage_OP.json
  vesper-deployments/deployments/optimism/vaop/solcInputs/17b66827d396d8018d789e07b93590f9.json
  vesper-deployments/deployments/optimism/vausdc/Sonne_Leverage_USDC.json
  vesper-deployments/deployments/optimism/vausdc/solcInputs/17b66827d396d8018d789e07b93590f9.json
  vesper-deployments/deployments/optimism/vawsteth/Sonne_Leverage_wstETH.json
  vesper-deployments/deployments/optimism/vawsteth/solcInputs/17b66827d396d8018d789e07b93590f9.json
  vesper-deployments/releases/5.1.0/contracts.json
Due: solhint, eslint --cache --fix

Fixed migration logic, added require check
  vesper-strategies/contracts/interfaces/frax-lend/IFraxLend.sol
  vesper-strategies/contracts/strategies/frax-lend/FraxLend.sol
  vesper-strategies/contracts/strategies/frax-lend/FraxLendVesperXy.sol
Due: solhint

Rebrand misc module as vesper-utils
  .github/workflows/mainnet-vesper-utils.yml
  lerna.json
  package-lock.json
  vesper-deployments/package-lock.json
  vesper-utils/contracts/Operator.sol
  vesper-utils/contracts/RevenueSplitter.sol
  vesper-utils/contracts/access/Governable.sol
  vesper-utils/contracts/interfaces/IGovernable.sol
  vesper-utils/contracts/interfaces/IPausable.sol
  vesper-utils/contracts/interfaces/IToken.sol
  vesper-utils/contracts/interfaces/IVesperPool.sol
  vesper-utils/contracts/interfaces/chainlink/IAggregatorV3.sol
  vesper-utils/contracts/test/IStrategyTest.sol
  vesper-utils/contracts/test/IUniswapRouterTest.sol
  vesper-utils/contracts/utils/Pausable.sol
  vesper-utils/contracts/utils/TokenHolder.sol
  vesper-utils/hardhat.config.js
  vesper-utils/package-lock.json
  vesper-utils/package.json
  vesper-utils/test/operator.js
  vesper-utils/test/revenue-splitter.js
  vesper-utils/utils/util.js
Due: solhint, eslint --cache --fix

Added deploy and release scripts, updated hardhat config
  vesper-utils/deploy/01_keeper.js
  vesper-utils/deploy/02_maintainer.js
  vesper-utils/hardhat.config.js
  vesper-utils/tasks/create-release.js
Due: eslint --cache --fix

Deployed Keeper contract on OP chain
  vesper-utils/deployments/optimism/.chainId
  vesper-utils/deployments/optimism/DefaultProxyAdmin.json
  vesper-utils/deployments/optimism/Keeper.json
  vesper-utils/deployments/optimism/Keeper_Proxy.json
  vesper-utils/deployments/optimism/Operator.json
  vesper-utils/deployments/optimism/solcInputs/0e89febeebc7444140de8e67c9067d2c.json
  vesper-utils/deployments/optimism/solcInputs/7a2d3a2052990f5787c2684474c37c0a.json
  vesper-utils/package.json
  vesper-utils/releases/contracts.json
  vesper-utils/tasks/create-release.js
Due: eslint --cache --fix

Added test for revert condition
  vesper-utils/test/operator.js
Due: eslint --cache --fix

Fixed lint config and issues, removed constructor param
  .eslintrc.json
  vesper-utils/contracts/Operator.sol
  vesper-utils/package.json
  vesper-utils/test/operator.js
Due: solhint, eslint --cache --fix

Removed AlphaHomora strategies
  .github/workflows/mainnet-alpha-earn.yml
  .github/workflows/mainnet-alpha.yml
  vesper-commons/config/avalanche/strategyConfig.js
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-commons/utils/strategyTypes.js
  vesper-deployments/contracts/test/Imports.sol
  vesper-strategies/contracts/strategies/alpha/AlphaHomora.sol
  vesper-strategies/contracts/strategies/alpha/AlphaHomoraETH.sol
  vesper-strategies/contracts/strategies/alpha/earn/AlphaHomoraEarn.sol
  vesper-strategies/contracts/strategies/alpha/earn/AlphaHomoraEarnETH.sol
  vesper-strategies/test/behavior/alpha-homora-rewards.js
  vesper-strategies/test/behavior/strategy.js
  vesper-strategies/test/mainnet/alpha/earn/veeth-dai.spec.js
  vesper-strategies/test/mainnet/alpha/vadai.spec.js
  vesper-strategies/test/mainnet/alpha/vadpi.spec.js
  vesper-strategies/test/mainnet/alpha/vaeth.spec.js
  vesper-strategies/test/mainnet/alpha/vausdc.spec.js
Due: solhint, eslint --cache --fix

Implement ERC4626 Wrapper
  lerna.json
  vesper-erc4626-wrapper/contracts/VPoolERC4626Wrapper.sol
  vesper-erc4626-wrapper/contracts/VPoolERC4626WrapperRewards.sol
  vesper-erc4626-wrapper/contracts/test/Imports.sol
  vesper-erc4626-wrapper/contracts/test/StrategyMock.sol
  vesper-erc4626-wrapper/hardhat.config.js
  vesper-erc4626-wrapper/package-lock.json
  vesper-erc4626-wrapper/package.json
  vesper-erc4626-wrapper/tasks/create-release.js
  vesper-erc4626-wrapper/test/vpool-erc4626-wrapper.spec.js
  vesper-pools/contracts/interfaces/vesper/IPoolRewards.sol
  vesper-pools/contracts/pool/PoolRewards.sol
Due: solhint, eslint --cache --fix

Make VPoolERC4626WrapperRewards drip function public
  vesper-erc4626-wrapper/contracts/VPoolERC4626Wrapper.sol
  vesper-erc4626-wrapper/test/vpool-erc4626-wrapper.spec.js
Due: solhint, eslint --cache --fix

Address review requests
  vesper-erc4626-wrapper/contracts/VPoolERC4626Wrapper.sol
Due: solhint

Deployed PoolRewards for optimism pools
  vesper-commons/config/optimism/poolConfig.js
  vesper-deployments/deployments/optimism/.migrations.json
  vesper-deployments/deployments/optimism/.versionInfo.json
  vesper-deployments/deployments/optimism/global/0x169e2FfC1c6b229b04E65A431434bF0e8eD9563d/PoolRewardsUpgrader.json
  vesper-deployments/deployments/optimism/global/PoolRewards_Implementation.json
  vesper-deployments/deployments/optimism/vaeth/PoolRewards.json
  vesper-deployments/deployments/optimism/vaeth/PoolRewards_Proxy.json
  vesper-deployments/deployments/optimism/vaop/PoolRewards.json
  vesper-deployments/deployments/optimism/vaop/PoolRewards_Proxy.json
  vesper-deployments/deployments/optimism/vausdc/PoolAccountant.json
  vesper-deployments/deployments/optimism/vausdc/PoolRewards.json
  vesper-deployments/deployments/optimism/vausdc/PoolRewards_Proxy.json
  vesper-deployments/deployments/optimism/vawsteth/PoolRewards.json
  vesper-deployments/deployments/optimism/vawsteth/PoolRewards_Proxy.json
  vesper-deployments/deployments/optimism/vawsteth/solcInputs/a0b662b50d0a8da264ba4c9ad8296fd3.json
  vesper-deployments/releases/5.1.0/contracts.json
Due: eslint --cache --fix

Deployed FraxLend deposit for vaFRAX pool
  vesper-commons/config/mainnet/address.js
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-deployments/contracts/test/Imports.sol
  vesper-deployments/deployments/mainnet/vafrax/FraxLend_CRV_FRAX.json
  vesper-deployments/deployments/mainnet/vafrax/solcInputs/a0b662b50d0a8da264ba4c9ad8296fd3.json
  vesper-deployments/releases/5.1.0/contracts.json
  vesper-strategies/test/mainnet/frax-lend/vafrax.spec.js
Due: solhint, eslint --cache --fix

Overridden previewRedeem and lint fix
  vesper-erc4626-wrapper/contracts/VPoolERC4626Wrapper.sol
Due: solhint

Renamed wrappers
  vesper-erc4626-wrapper/contracts/PoolRewardsWrapper.sol
  vesper-erc4626-wrapper/contracts/VPoolWrapper.sol
Due: solhint

Added upgrader
  vesper-erc4626-wrapper/contracts/upgrader/PoolRewardsWrapperUpgrader.sol
  vesper-erc4626-wrapper/contracts/upgrader/UpgraderBase.sol
  vesper-erc4626-wrapper/contracts/upgrader/VPoolWrapperUpgrader.sol
Due: solhint

Added deploy script
  vesper-erc4626-wrapper/deploy/optimism/01_vausdc_wrapper.js
  vesper-erc4626-wrapper/hardhat.config.js
Due: eslint --cache --fix

Deployed 4626 wrapper for vaUSDC on OP
  vesper-erc4626-wrapper/deploy/optimism/01_vausdc_wrapper.js
  vesper-erc4626-wrapper/deployments/optimism/.chainId
  vesper-erc4626-wrapper/deployments/optimism/PoolRewardsWrapper.json
  vesper-erc4626-wrapper/deployments/optimism/PoolRewardsWrapperUpgrader.json
  vesper-erc4626-wrapper/deployments/optimism/VPoolWrapper.json
  vesper-erc4626-wrapper/deployments/optimism/VPoolWrapperUpgrader.json
  vesper-erc4626-wrapper/deployments/optimism/solcInputs/0e89febeebc7444140de8e67c9067d2c.json
  vesper-erc4626-wrapper/deployments/optimism/solcInputs/b522076c28177bcdb00923bde5b60a7a.json
  vesper-erc4626-wrapper/deployments/optimism/vaUSDCRewardsWrapper.json
  vesper-erc4626-wrapper/deployments/optimism/vaUSDCRewardsWrapper_Proxy.json
  vesper-erc4626-wrapper/deployments/optimism/vaUSDCWrapper.json
  vesper-erc4626-wrapper/deployments/optimism/vaUSDCWrapper_Proxy.json
Due: eslint --cache --fix

Updated release script and created release
  vesper-erc4626-wrapper/package-lock.json
  vesper-erc4626-wrapper/package.json
  vesper-erc4626-wrapper/releases/1.0.0/contracts.json
  vesper-erc4626-wrapper/tasks/create-release.js
Due: eslint --cache --fix

Updated tests, added GH action
  .github/workflows/pool-wrapper.yml
  vesper-erc4626-wrapper/contracts/test/Imports.sol
  vesper-erc4626-wrapper/test/vpool-wrapper.spec.js
Due: solhint, eslint --cache --fix

Updated wrapper deploy script
  vesper-erc4626-wrapper/deploy/deploy-wrapper.js
  vesper-erc4626-wrapper/deploy/optimism/01_vausdc_wrapper.js
Due: eslint --cache --fix

Migrated AaveV2 of vETH pool
  vesper-deployments/deployments/mainnet/.migrations.json
  vesper-deployments/deployments/mainnet/veth/Aave_V2_ETH.json
  vesper-deployments/deployments/mainnet/veth/solcInputs/a0b662b50d0a8da264ba4c9ad8296fd3.json
  vesper-deployments/releases/5.1.0/contracts.json
Due: none

Added script to check proxyAdmin and owner
  vesper-deployments/hardhat.config.js
  vesper-deployments/tasks/verify-admin.js
  vesper-deployments/verify-admin/5.1.0/output.json
Due: eslint --cache --fix

Added Sonne borrow strategy
  .github/workflows/optimism-sonne-xy.yml
  vesper-commons/config/optimism/address.js
  vesper-commons/config/optimism/strategyConfig.js
  vesper-strategies/contracts/strategies/compound/CompoundXy.sol
  vesper-strategies/contracts/strategies/compound/optimism/SonneVesperXy.sol
  vesper-strategies/test/behavior/compound-rewards.js
  vesper-strategies/test/optimism/sonne/xy/vesper/vaop.spec.js
Due: solhint, eslint --cache --fix

Sonne_Vesper_Xy_OP_USDC
  vesper-commons/config/optimism/address.js
  vesper-deployments/contracts/test/Imports.sol
  vesper-deployments/deployments/optimism/vaop/Sonne_Vesper_Xy_OP_USDC.json
  vesper-deployments/deployments/optimism/vaop/solcInputs/37f78c198e6ff5e3a25391f14e789893.json
  vesper-deployments/releases/5.1.0/contracts.json
Due: solhint, eslint --cache --fix

Sonne borrow strategies for vaETH and vawstETH pool
  vesper-commons/config/optimism/strategyConfig.js
  vesper-strategies/test/optimism/sonne/xy/vesper/vaeth.spec.js
  vesper-strategies/test/optimism/sonne/xy/vesper/vawsteth.spec.js
Due: eslint --cache --fix

deployed Sonne_Vesper_Xy_wstETH_USDC
  vesper-deployments/deployments/optimism/vawsteth/Sonne_Vesper_Xy_wstETH_USDC.json
  vesper-deployments/deployments/optimism/vawsteth/solcInputs/37f78c198e6ff5e3a25391f14e789893.json
  vesper-deployments/releases/5.1.0/contracts.json
Due: none

deployed Sonne_Vesper_Xy_ETH_USDC
  vesper-deployments/deployments/optimism/vaeth/Sonne_Vesper_Xy_ETH_USDC.json
  vesper-deployments/deployments/optimism/vaeth/solcInputs/37f78c198e6ff5e3a25391f14e789893.json
  vesper-deployments/releases/5.1.0/contracts.json
Due: none

Added Yearn strategy
  .github/workflows/mainnet-yearn.yml
  .github/workflows/optimism-yearn.yml
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-commons/config/optimism/address.js
  vesper-commons/config/optimism/strategyConfig.js
  vesper-commons/utils/setup.js
  vesper-strategies/contracts/interfaces/yearn/IYToken.sol
  vesper-strategies/contracts/strategies/yearn/Yearn.sol
  vesper-strategies/test/mainnet/yearn/vaeth.spec.js
  vesper-strategies/test/optimism/yearn/vaeth.spec.js
Due: solhint, eslint --cache --fix

Added YearnStaking strategy
  .github/workflows/optimism-yearn.yml
  vesper-commons/config/optimism/address.js
  vesper-commons/config/optimism/strategyConfig.js
  vesper-commons/utils/balance.js
  vesper-commons/utils/strategyTypes.js
  vesper-strategies/contracts/interfaces/yearn/IStakingRewards.sol
  vesper-strategies/contracts/strategies/yearn/YearnStaking.sol
  vesper-strategies/test/behavior/strategy.js
  vesper-strategies/test/behavior/yearn-staking.js
  vesper-strategies/test/optimism/yearn/vaeth.spec.js
  vesper-strategies/test/optimism/yearn/vausdc.spec.js
Due: solhint, eslint --cache --fix

Updated CRV whale address to fix tests
  vesper-commons/utils/balance.js
Due: eslint --cache --fix

Updated Compound related tests
  vesper-strategies/test/behavior/compound-rewards.js
  vesper-strategies/test/behavior/compound-vesper-xy.js
Due: eslint --cache --fix

Updated stkAave rewards tests
  vesper-strategies/test/behavior/stk-aave-rewards.js
Due: eslint --cache --fix

Updated rewardToken approve logic
  vesper-strategies/contracts/strategies/VesperRewards.sol
Due: solhint

Skip vaFrax VSP test as there is no rewards
  vesper-strategies/test/behavior/frax-lend-vesper-xy.js
Due: eslint --cache --fix
