Repository vesperfi/vesper-contracts: changes, and which lint-staged commands are due for each by the changed paths.
All: solhint, eslint --cache --fix

.lintstagedrc.json:

{
  "*.sol": [
    "solhint"
  ],
  "*.js": [
    "eslint --cache --fix"
  ]
}

Deployed StargateV2 for vaUSDC on ETH chain
  vesper-deployments/contracts/test/Imports2.sol
  vesper-deployments/deployments/mainnet/vausdc/StargateV2_USDC.json
  vesper-deployments/deployments/mainnet/vausdc/solcInputs/68491b08dc2e9486aecf44bc7d0c728d.json
  vesper-deployments/releases/5.1.0/contracts.json
Due: solhint

Added strategy config and test for Base StargateV2
  .github/workflows/base-stargateV2.yml
  vesper-commons/config/base/address.js
  vesper-commons/config/base/strategyConfig.js
  vesper-commons/utils/swapHelper.js
  vesper-strategies/test/base/stargate/v2/vaeth.spec.js
  vesper-strategies/test/base/stargate/v2/vausdc.spec.js
Due: eslint --cache --fix

Deployed StargateV2 for vaUSDC and vaETH on Base
  vesper-commons/config/base/address.js
  vesper-deployments/deployments/base/vaUSDC/StargateV2_USDC.json
  vesper-deployments/deployments/base/vaUSDC/solcInputs/68491b08dc2e9486aecf44bc7d0c728d.json
  vesper-deployments/deployments/base/vaeth/StargateV2_ETH.json
  vesper-deployments/deployments/base/vaeth/solcInputs/68491b08dc2e9486aecf44bc7d0c728d.json
  vesper-deployments/releases/5.1.0/contracts.json
Due: eslint --cache --fix

Added strategy config and test for OP StargateV2
  .github/workflows/optimism-stargateV2.yml
  vesper-commons/config/optimism/address.js
  vesper-commons/config/optimism/strategyConfig.js
  vesper-commons/utils/balance.js
  vesper-commons/utils/swapHelper.js
  vesper-strategies/test/optimism/stargate/v2/vaeth.spec.js
Due: eslint --cache --fix

Deployed StargateV2 for vaETH on OP chain
  vesper-deployments/deployments/optimism/vaeth/StargateV2_ETH.json
  vesper-deployments/deployments/optimism/vaeth/solcInputs/68491b08dc2e9486aecf44bc7d0c728d.json
  vesper-deployments/releases/5.1.0/contracts.json
Due: none

Fixed issue in StargateV2ETH strategy
  vesper-strategies/contracts/strategies/stargate/v2/StargateV2.sol
  vesper-strategies/contracts/strategies/stargate/v2/StargateV2ETH.sol
  vesper-strategies/test/behavior/stargatev2-rewards.js
Due: solhint, eslint --cache --fix

Deployed StargateV2 for vaETH on ETH chain
  vesper-deployments/deployments/mainnet/vaeth/StargateV2_ETH.json
  vesper-deployments/deployments/mainnet/vaeth/solcInputs/a4c2fdc52dfda11160192f13d78dec8c.json
  vesper-deployments/releases/5.1.0/contracts.json
Due: none

Upgraded StargateV2 on OP and Base chain
  vesper-deployments/deployments/base/.migrations.json
  vesper-deployments/deployments/base/vaUSDC/StargateV2_USDC.json
  vesper-deployments/deployments/base/vaUSDC/solcInputs/a4c2fdc52dfda11160192f13d78dec8c.json
  vesper-deployments/deployments/base/vaeth/StargateV2_ETH.json
  vesper-deployments/deployments/base/vaeth/solcInputs/a4c2fdc52dfda11160192f13d78dec8c.json
  vesper-deployments/deployments/optimism/.migrations.json
  vesper-deployments/deployments/optimism/vaeth/StargateV2_ETH.json
  vesper-deployments/deployments/optimism/vaeth/solcInputs/a4c2fdc52dfda11160192f13d78dec8c.json
  vesper-deployments/releases/5.1.0/contracts.json
Due: none

Added StargateV2ETH strategy config and test for vaETH on ETH
  .github/workflows/mainnet-stargateV2.yml
  vesper-commons/config/mainnet/address.js
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-strategies/test/mainnet/stargate/v2/vaeth.spec.js
Due: eslint --cache --fix

Create avax-vsp-rescue.json
  merkle-data/avax-vsp-rescue.json
Due: none

Updated Avalance VSP merkle claim data
  merkle-data/avax-vsp-rescue.json
Due: none

Added emergency ops doc
  EmergencyOps.md
Due: none

Deployed vaETH on Sepolia testnet
  vesper-commons/config/sepolia/address.js
  vesper-commons/config/sepolia/poolConfig.js
  vesper-deployments/deployments/sepolia/.chainId
  vesper-deployments/deployments/sepolia/.migrations.json
  vesper-deployments/deployments/sepolia/vaETH/PoolAccountant.json
  vesper-deployments/deployments/sepolia/vaETH/PoolAccountantUpgrader.json
  vesper-deployments/deployments/sepolia/vaETH/PoolAccountant_Implementation.json
  vesper-deployments/deployments/sepolia/vaETH/PoolAccountant_Proxy.json
  vesper-deployments/deployments/sepolia/vaETH/VETH.json
  vesper-deployments/deployments/sepolia/vaETH/VETH_Implementation.json
  vesper-deployments/deployments/sepolia/vaETH/VETH_Proxy.json
  vesper-deployments/deployments/sepolia/vaETH/VPoolUpgrader.json
  vesper-deployments/deployments/sepolia/vaETH/solcInputs/0e89febeebc7444140de8e67c9067d2c.json
  vesper-deployments/deployments/sepolia/vaETH/solcInputs/72138e963a156db56c3cfdfac6470fa6.json
  vesper-deployments/deployments/sepolia/vaETH/solcInputs/aa29ad0a07c7a6158851675a4261c547.json
  vesper-deployments/hardhat.config.js
  vesper-deployments/releases/5.1.0/contracts.json
Due: eslint --cache --fix

Deployed AaveV2SommelierXy for vaWBTC
  vesper-commons/config/mainnet/address.js
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-commons/utils/swapHelper.js
  vesper-deployments/deployments/mainnet/vawbtc/AaveV3_Sommelier_Xy_WBTC_WETH.json
  vesper-deployments/deployments/mainnet/vawbtc/solcInputs/72138e963a156db56c3cfdfac6470fa6.json
  vesper-deployments/releases/5.1.0/contracts.json
  vesper-strategies/test/mainnet/aave/v3/xy/sommelier/vawbtc.spec.js
Due: eslint --cache --fix

Developed and deployed maker dummy strategy for vaSTETH
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-deployments/contracts/test/Imports.sol
  vesper-deployments/deployments/mainnet/.migrations.json
  vesper-deployments/deployments/mainnet/vasteth/Maker_Dummy_STETH.json
  vesper-deployments/deployments/mainnet/vasteth/solcInputs/cf0195dee58f95c24188048a59e7fa80.json
  vesper-deployments/releases/5.1.0/contracts.json
  vesper-strategies/contracts/strategies/maker/MakerDummy.sol
  vesper-strategies/test/mainnet/live/vasteth.dummy.spec.js
Due: solhint, eslint --cache --fix

Fixed version in dummy strategies
  vesper-strategies/contracts/strategies/DummyStrategy.sol
  vesper-strategies/contracts/strategies/maker/MakerDummy.sol
Due: solhint

Deployed ExtraFi strategy for vawstETH on Base
  .github/workflows/base-extra-finance.yml
  vesper-commons/config/base/strategyConfig.js
  vesper-deployments/deployments/base/vawsteth/ExtraFinance_wstETH_1.json
  vesper-deployments/deployments/base/vawsteth/solcInputs/907fac7d325426498e423694c79f3707.json
  vesper-deployments/releases/5.1.0/contracts.json
  vesper-strategies/contracts/strategies/extra-finance/ExtraFinance.sol
  vesper-strategies/test/base/extra-finance/vawsteth.spec.js
Due: solhint, eslint --cache --fix

Added Morpho Vault deposit strategy
  vesper-commons/config/mainnet/address.js
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-commons/utils/strategyTypes.js
  vesper-strategies/contracts/interfaces/morpho/IMetaMorpho.sol
  vesper-strategies/contracts/strategies/morpho/MorphoVault.sol
  vesper-strategies/test/mainnet/morpho/vault/vausdc.spec.js
Due: solhint, eslint --cache --fix

Updated feeCollector address in Base config
  vesper-commons/config/base/address.js
Due: eslint --cache --fix

Deployed Yearn startegy V2
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-deployments/contracts/test/Imports.sol
  vesper-deployments/releases/5.1.0/contracts.json
Due: solhint, eslint --cache --fix

Deploy prep for vamsETH pool
  .github/workflows/mainnet-morpho-vault.yml
  vesper-commons/config/mainnet/address.js
  vesper-commons/config/mainnet/poolConfig.js
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-commons/utils/balance.js
  vesper-strategies/test/mainnet/morpho/vault/vamseth.spec.js
  vesper-strategies/test/mainnet/morpho/vault/vausdc.spec.js
Due: eslint --cache --fix

Deploy vamsETH pool on Ethereum
  vesper-deployments/deploy/deploy-vpool.js
  vesper-deployments/deployments/mainnet/global/0x169e2FfC1c6b229b04E65A431434bF0e8eD9563d/PoolAccountantUpgrader.json
  vesper-deployments/deployments/mainnet/global/0x169e2FfC1c6b229b04E65A431434bF0e8eD9563d/PoolRewardsUpgrader.json
  vesper-deployments/deployments/mainnet/global/0x169e2FfC1c6b229b04E65A431434bF0e8eD9563d/VPoolUpgrader.json
  vesper-deployments/deployments/mainnet/global/PoolAccountant_Implementation.json
  vesper-deployments/deployments/mainnet/global/PoolRewards_Implementation.json
  vesper-deployments/deployments/mainnet/vamsETH/PoolAccountant.json
  vesper-deployments/deployments/mainnet/vamsETH/PoolAccountant_Proxy.json
  vesper-deployments/deployments/mainnet/vamsETH/PoolRewards.json
  vesper-deployments/deployments/mainnet/vamsETH/PoolRewards_Proxy.json
  vesper-deployments/deployments/mainnet/vamsETH/VPool.json
  vesper-deployments/deployments/mainnet/vamsETH/VPool_Proxy.json
  vesper-deployments/deployments/mainnet/vamsETH/solcInputs/0e89febeebc7444140de8e67c9067d2c.json
  vesper-deployments/deployments/mainnet/vamsETH/solcInputs/63cc54a6d0a57305de8df6a1119e249c.json
  vesper-deployments/releases/5.1.0/contracts.json
Due: eslint --cache --fix

Deployed MorphoVault strategy for vamsETH pool
  vesper-deployments/contracts/test/Imports.sol
  vesper-deployments/deployments/mainnet/vamsETH/Morpho_MetronomeMsETH_Vault_msETH.json
  vesper-deployments/deployments/mainnet/vamsETH/solcInputs/d89268be9b27036e408d0a722ae83abd.json
  vesper-deployments/releases/5.1.0/contracts.json
Due: solhint

Morpho strategy for vaUSDC, vaETH on Mainnet and Base
  .github/workflows/base-morpho-vault.yml
  vesper-commons/config/base/address.js
  vesper-commons/config/base/strategyConfig.js
  vesper-commons/config/mainnet/address.js
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-strategies/contracts/interfaces/morpho/IMetaMorpho.sol
  vesper-strategies/contracts/strategies/morpho/MorphoVault.sol
  vesper-strategies/test/base/morpho/vault/vaeth.spec.js
  vesper-strategies/test/base/morpho/vault/vausdc.spec.js
  vesper-strategies/test/mainnet/morpho/vault/vausdc.spec.js
Due: solhint, eslint --cache --fix

Deployed vamsETH pool on Base chain
  .github/workflows/base-morpho-vault.yml
  vesper-commons/config/base/address.js
  vesper-commons/config/base/poolConfig.js
  vesper-commons/config/base/strategyConfig.js
  vesper-commons/utils/balance.js
  vesper-deployments/deployments/base/.migrations.json
  vesper-deployments/deployments/base/global/0xdf826ff6518e609E4cEE86299d40611C148099d5/PoolAccountantUpgrader.json
  vesper-deployments/deployments/base/global/0xdf826ff6518e609E4cEE86299d40611C148099d5/VPoolUpgrader.json
  vesper-deployments/deployments/base/vamseth/Morpho_MetronomeMsETH_Vault_msETH.json
  vesper-deployments/deployments/base/vamseth/PoolAccountant.json
  vesper-deployments/deployments/base/vamseth/PoolAccountant_Proxy.json
  vesper-deployments/deployments/base/vamseth/VPool.json
  vesper-deployments/deployments/base/vamseth/VPool_Proxy.json
  vesper-deployments/deployments/base/vamseth/solcInputs/0e89febeebc7444140de8e67c9067d2c.json
  vesper-deployments/deployments/base/vamseth/solcInputs/6323480ebd56b0adb9a05743bc557c9b.json
  vesper-deployments/deployments/base/vamseth/solcInputs/eaf67eb325c499bc9b98767c8b6285a7.json
  vesper-deployments/releases/5.1.0/contracts.json
  vesper-strategies/test/base/morpho/vault/vamseth.spec.js
Due: eslint --cache --fix

Updated verify-admin script and its output format
  vesper-deployments/tasks/verify-admin.js
  vesper-deployments/verify-admin-output/5.1.0-action-item.json
  vesper-deployments/verify-admin/5.1.0/output.json
Due: eslint --cache --fix

Completed action items of verify-admin script
  vesper-deployments/deployments/base/global/0x32934AD7b1121DeFC631080b58599A0eaAB89878/PoolAccountantUpgrader.json
  vesper-deployments/deployments/base/global/0x32934AD7b1121DeFC631080b58599A0eaAB89878/VPoolUpgrader.json
  vesper-deployments/releases/5.1.0/contracts.json
Due: none

Updated validation logic and action message
  vesper-deployments/releases/5.1.0/contracts.json
  vesper-deployments/tasks/verify-admin.js
  vesper-deployments/verify-admin-output/5.1.0-action-item.json
Due: eslint --cache --fix

Updated release, regenerated verify-admin output
  vesper-deployments/releases/5.1.0/contracts.json
  vesper-deployments/verify-admin-output/5.1.0-action-item.json
Due: none

Deployed vamsUSD pool on ETH mainnet
  vesper-commons/config/mainnet/address.js
  vesper-commons/config/mainnet/poolConfig.js
  vesper-deployments/deployments/mainnet/.migrations.json
  vesper-deployments/deployments/mainnet/.versionInfo.json
  vesper-deployments/deployments/mainnet/vamsusd/PoolAccountant.json
  vesper-deployments/deployments/mainnet/vamsusd/PoolAccountant_Proxy.json
  vesper-deployments/deployments/mainnet/vamsusd/VPool.json
  vesper-deployments/deployments/mainnet/vamsusd/VPool_Proxy.json
  vesper-deployments/deployments/mainnet/vamsusd/solcInputs/0e89febeebc7444140de8e67c9067d2c.json
  vesper-deployments/releases/5.1.0/contracts.json
Due: eslint --cache --fix

Added Fraxlend V3 strategy
  vesper-commons/config/mainnet/address.js
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-strategies/contracts/interfaces/frax-lend/IFraxlendPairV3.sol
  vesper-strategies/contracts/strategies/frax-lend/FraxlendV3.sol
  vesper-strategies/test/mainnet/frax-lend/vafrax.spec.js
Due: solhint, eslint --cache --fix

Deployed fraxlend v3
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-deployments/contracts/test/Imports.sol
  vesper-deployments/deployments/mainnet/vafrax/Fraxlend_sfrxETH_FRAX.json
  vesper-deployments/deployments/mainnet/vafrax/solcInputs/072551cb0580b04e10642b18e6fd06ff.json
  vesper-deployments/releases/5.1.0/contracts.json
  vesper-strategies/contracts/strategies/frax-lend/FraxLendV3.sol
Due: solhint, eslint --cache --fix

Rename FraxLend to Fraxlend as per protocol naming
  .github/workflows/mainnet-frax-lend-xy.yml
  .github/workflows/mainnet-frax-lend.yml
  vesper-commons/config/mainnet/address.js
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-deployments/contracts/test/Imports.sol
  vesper-deployments/contracts/test/Imports2.sol
  vesper-strategies/contracts/interfaces/frax-lend/IFraxlendPair.sol
  vesper-strategies/contracts/strategies/frax-lend/Fraxlend.sol
  vesper-strategies/contracts/strategies/frax-lend/FraxlendV3.sol
  vesper-strategies/contracts/strategies/frax-lend/FraxlendVesperXy.sol
  vesper-strategies/test/behavior/frax-lend-vesper-xy.js
  vesper-strategies/test/behavior/strategy.js
  vesper-strategies/test/mainnet/frax-lend/vafrax.spec.js
  vesper-strategies/test/mainnet/frax-lend/xy/vesper/vaeth.spec.js
  vesper-strategies/test/mainnet/frax-lend/xy/vesper/vawbtc.spec.js
Due: solhint, eslint --cache --fix

Updated patch
  patches/hardhat+2.22.16.patch
  patches/hardhat-deploy+0.11.27.patch
Due: none

Added EulerV2 strategy
  .github/workflows/mainnet-euler-v2.yml
  vesper-commons/config/mainnet/address.js
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-commons/utils/strategyTypes.js
  vesper-strategies/contracts/interfaces/euler/IEulerV2.sol
  vesper-strategies/contracts/strategies/euler/EulerV2.sol
  vesper-strategies/test/mainnet/euler/vausdc.spec.js
Due: solhint, eslint --cache --fix

Updated hardhat version
  package-lock.json
  package.json
Due: none

Added config and test for MorphoVault strategy for msUSD
  vesper-commons/config/mainnet/address.js
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-commons/utils/balance.js
  vesper-strategies/test/mainnet/morpho/vault/vamsusd.spec.js
Due: eslint --cache --fix

Deployed MorphoVault strategy for vamsUSD pool on ETH
  vesper-deployments/deployments/mainnet/vamsusd/Morpho_MetronomeMsUSD_Vault_msUSD.json
  vesper-deployments/deployments/mainnet/vamsusd/solcInputs/e1afac10f4082e80f60417e1ac5ef493.json
  vesper-deployments/releases/5.1.0/contracts.json
Due: none

Updated proxyAdmin for vamsUSD pool
  vesper-deployments/releases/5.1.0/contracts.json
  vesper-deployments/tasks/verify-admin.js
  vesper-deployments/verify-admin-output/5.1.0-action-item.json
Due: eslint --cache --fix

Fixed logic to withdraw correct amount of token
  vesper-strategies/contracts/strategies/aave/v2/AaveV2VesperXy.sol
  vesper-strategies/contracts/strategies/aave/v3/AaveV3SommelierXy.sol
  vesper-strategies/contracts/strategies/aave/v3/AaveV3VesperXy.sol
Due: solhint
