Repository vesperfi/vesper-contracts: changes, and which lint-staged commands are due for each by the changed paths.
All: solhint, eslint --cache --fix

Using swapToCollateral for ALPHA swap tests
  vesper-commons/utils/setup.js
  vesper-strategies/test/behavior/alpha-homora-rewards.js
Due: eslint --cache --fix

Renamed sweep function
  vesper-commons/contracts/interfaces/vesper/IStrategy.sol
  vesper-strategies/contracts/strategies/Strategy.sol
  vesper-strategies/test/behavior/strategy.js
Due: solhint, eslint --cache --fix

Removed rewardToken from AlphaHomora
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-strategies/contracts/strategies/alpha/AlphaHomora.sol
  vesper-strategies/contracts/strategies/alpha/AlphaHomoraETH.sol
  vesper-strategies/contracts/strategies/alpha/earn/AlphaHomoraEarn.sol
  vesper-strategies/contracts/strategies/alpha/earn/AlphaHomoraEarnETH.sol
Due: solhint, eslint --cache --fix

Random nonce for deploy in unit test
  vesper-commons/utils/setup.js
Due: eslint --cache --fix

VACBETH pool deployment
  .github/workflows/mainnet-euler-xy.yml
  .github/workflows/mainnet-euler.yml
  vesper-deployments/deployments/mainnet/.migrations.json
  vesper-deployments/deployments/mainnet/.versionInfo.json
  vesper-deployments/deployments/mainnet/global/PoolAccountant_Implementation.json
  vesper-deployments/deployments/mainnet/global/PoolRewards_Implementation.json
  vesper-deployments/deployments/mainnet/global/VPool_Implementation.json
  vesper-deployments/deployments/mainnet/vacbeth/Euler_Vesper_Xy_CBETH_USDC.json
  vesper-deployments/deployments/mainnet/vacbeth/PoolAccountant.json
  vesper-deployments/deployments/mainnet/vacbeth/PoolAccountant_Proxy.json
  vesper-deployments/deployments/mainnet/vacbeth/PoolRewards.json
  vesper-deployments/deployments/mainnet/vacbeth/PoolRewards_Proxy.json
  vesper-deployments/deployments/mainnet/vacbeth/VPool.json
  vesper-deployments/deployments/mainnet/vacbeth/VPool_Proxy.json
  vesper-deployments/deployments/mainnet/vacbeth/solcInputs/0e89febeebc7444140de8e67c9067d2c.json
  vesper-deployments/deployments/mainnet/vacbeth/solcInputs/78b3517d113ba4b7a0a098caaf7b9ceb.json
  vesper-deployments/releases/5.1.0/contracts.json
Due: none

Configuration for vaETH pool on optimism chain
  .github/workflows/optimism-curve-2pool.yml
  packages/misc/hardhat.config.js
  vesper-commons/config/optimism/address.js
  vesper-commons/config/optimism/poolConfig.js
  vesper-commons/config/optimism/strategyConfig.js
  vesper-commons/utils/balance.js
  vesper-commons/utils/chains.js
  vesper-commons/utils/setup.js
  vesper-deployments/hardhat.config.js
  vesper-pools/hardhat.config.js
  vesper-strategies/contracts/interfaces/curve/IDeposit.sol
  vesper-strategies/contracts/interfaces/curve/IDepositZap.sol
  vesper-strategies/contracts/interfaces/curve/IStableSwap.sol
  vesper-strategies/contracts/strategies/curve/CurveBase.sol
  vesper-strategies/contracts/strategies/curve/CurveETH.sol
  vesper-strategies/hardhat.config.js
  vesper-strategies/test/optimism/curve/2pool/seth-pool-eth.spec.js
Due: solhint, eslint --cache --fix

Reduce CurveEarn size
  vesper-strategies/contracts/strategies/curve/CurveBase.sol
Due: solhint

Address review request
  vesper-strategies/contracts/strategies/curve/CurveBase.sol
Due: solhint

Deployed vaETH pool with Curve strategy on Optimism
  vesper-deployments/contracts/test/Imports.sol
  vesper-deployments/deploy/deploy-vpool.js
  vesper-deployments/deployments/optimism/.chainId
  vesper-deployments/deployments/optimism/.migrations.json
  vesper-deployments/deployments/optimism/.versionInfo.json
  vesper-deployments/deployments/optimism/global/0x76d266DFD3754f090488ae12F6Bd115cD7E77eBD/PoolAccountantUpgrader.json
  vesper-deployments/deployments/optimism/global/0x76d266DFD3754f090488ae12F6Bd115cD7E77eBD/VPoolUpgrader.json
  vesper-deployments/deployments/optimism/global/PoolAccountant_Implementation.json
  vesper-deployments/deployments/optimism/global/VETH_Implementation.json
  vesper-deployments/deployments/optimism/vaeth/Curve_sETH_ETH.json
  vesper-deployments/deployments/optimism/vaeth/PoolAccountant.json
  vesper-deployments/deployments/optimism/vaeth/PoolAccountant_Proxy.json
  vesper-deployments/deployments/optimism/vaeth/VETH.json
  vesper-deployments/deployments/optimism/vaeth/VETH_Proxy.json
  vesper-deployments/deployments/optimism/vaeth/solcInputs/0436ceda8640306b0b3348e44a487638.json
  vesper-deployments/deployments/optimism/vaeth/solcInputs/0e89febeebc7444140de8e67c9067d2c.json
  vesper-deployments/deployments/optimism/vaeth/solcInputs/4115a5757f856e0aa108c700c4236697.json
  vesper-deployments/releases/5.1.0/contracts.json
Due: solhint, eslint --cache --fix

Configuration for Curve strategy with vaUSDC pool
  .github/workflows/mainnet-convex-2pool.yml
  .github/workflows/mainnet-convex-3pool.yml
  .github/workflows/mainnet-convex-4pool.yml
  .github/workflows/mainnet-convex-for-frax-2pool.yml
  .github/workflows/mainnet-convex-for-frax-3pool.yml
  .github/workflows/mainnet-curve-2pool.yml
  .github/workflows/mainnet-curve-3pool.yml
  .github/workflows/mainnet-curve-4pool.yml
  .github/workflows/optimism-curve-4pool.yml
  vesper-commons/config/optimism/address.js
  vesper-commons/config/optimism/strategyConfig.js
  vesper-commons/utils/balance.js
  vesper-strategies/contracts/strategies/curve/CurveBase.sol
  vesper-strategies/test/optimism/curve/4pool/susd-pool-usdc.spec.js
Due: solhint, eslint --cache --fix

vaUSDC deployment with curve strategy
  vesper-deployments/deployments/optimism/.migrations.json
  vesper-deployments/deployments/optimism/.versionInfo.json
  vesper-deployments/deployments/optimism/global/VPool_Implementation.json
  vesper-deployments/deployments/optimism/vausdc/Curve_sUSD_USDC.json
  vesper-deployments/deployments/optimism/vausdc/PoolAccountant.json
  vesper-deployments/deployments/optimism/vausdc/PoolAccountant_Proxy.json
  vesper-deployments/deployments/optimism/vausdc/VPool.json
  vesper-deployments/deployments/optimism/vausdc/VPool_Proxy.json
  vesper-deployments/deployments/optimism/vausdc/solcInputs/0e89febeebc7444140de8e67c9067d2c.json
  vesper-deployments/deployments/optimism/vausdc/solcInputs/4115a5757f856e0aa108c700c4236697.json
  vesper-deployments/deployments/optimism/vausdc/solcInputs/619e8ac9e04a70ca6e3bb39f66449651.json
  vesper-deployments/releases/5.1.0/contracts.json
Due: none

Aavev3 deployment on optimism
  .github/workflows/optimism-aaveV3-xy.yml
  vesper-commons/config/avalanche/strategyConfig.js
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-commons/config/optimism/address.js
  vesper-commons/config/optimism/strategyConfig.js
  vesper-deployments/deployments/optimism/vaeth/AaveV3_Vesper_Xy_ETH_USDC.json
  vesper-deployments/deployments/optimism/vaeth/solcInputs/3b00eedabf43c9ebbe9c3e29c0d887db.json
  vesper-deployments/releases/5.1.0/contracts.json
  vesper-pools/contracts/interfaces/vesper/IPoolRewards.sol
  vesper-strategies/contracts/strategies/aave/v3/AaveV3VesperXy.sol
  vesper-strategies/test/behavior/aavev3-vesper-xy.js
  vesper-strategies/test/optimism/aave/v3/xy/vesper/vaeth.spec.js
Due: solhint, eslint --cache --fix

Added config and tests for cbETH AaveV3
  .github/workflows/mainnet-aaveV3-xy.yml
  vesper-commons/config/mainnet/address.js
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-deployments/hardhat.config.js
  vesper-strategies/test/mainnet/aave/v3/xy/vesper/vacbeth.spec.js
Due: eslint --cache --fix

Deployed AaveV3 borrow for cbETH pool
  vesper-deployments/README.md
  vesper-deployments/deployments/mainnet/vacbeth/AaveV3_Vesper_Xy_CBETH_DAI.json
  vesper-deployments/deployments/mainnet/vacbeth/solcInputs/285da4b1b032aeb23657e82b82226339.json
  vesper-deployments/releases/5.1.0/contracts.json
Due: none

Added FraxLend deposit/lend strategy for FRAX
  .github/workflows/mainnet-frax-lend.yml
  vesper-commons/config/mainnet/address.js
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-commons/utils/strategyTypes.js
  vesper-strategies/contracts/interfaces/frax-lend/IFraxLend.sol
  vesper-strategies/contracts/strategies/frax-lend/FraxLend.sol
  vesper-strategies/test/mainnet/frax-lend/vafrax.spec.js
Due: solhint, eslint --cache --fix

Added FraxLend Vesper xy aka borrow strategy
  .github/workflows/mainnet-frax-lend-xy.yml
  vesper-commons/config/mainnet/address.js
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-commons/utils/strategyTypes.js
  vesper-strategies/contracts/interfaces/frax-lend/IFraxLend.sol
  vesper-strategies/contracts/strategies/frax-lend/FraxLendVesperXy.sol
  vesper-strategies/test/behavior/frax-lend-vesper-xy.js
  vesper-strategies/test/behavior/strategy.js
  vesper-strategies/test/mainnet/frax-lend/xy/vesper/vaeth.spec.js
  vesper-strategies/test/mainnet/frax-lend/xy/vesper/vawbtc.spec.js
Due: solhint, eslint --cache --fix

Deployed new version of stargate
  vesper-deployments/deployments/mainnet/vausdc/Stargate_USDC.json
  vesper-deployments/deployments/mainnet/vausdc/solcInputs/285da4b1b032aeb23657e82b82226339.json
  vesper-deployments/releases/5.1.0/contracts.json
Due: none

Using hardhat verify in script, updated readme
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-deployments/README.md
  vesper-deployments/deploy/deploy-strategy.js
  vesper-deployments/hardhat.config.js
  vesper-deployments/package.json
Due: eslint --cache --fix

Fixed code review items
  vesper-strategies/contracts/strategies/frax-lend/FraxLendVesperXy.sol
Due: solhint

Fixed solhint warnings
  vesper-strategies/contracts/interfaces/frax-lend/IFraxLend.sol
  vesper-strategies/contracts/strategies/frax-lend/FraxLendVesperXy.sol
Due: solhint

Updated vesper reward logic to swap all rewards
  vesper-commons/config/avalanche/strategyConfig.js
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-strategies/contracts/strategies/VesperRewards.sol
  vesper-strategies/contracts/strategies/aave/v2/AaveV2VesperXy.sol
  vesper-strategies/contracts/strategies/aave/v3/AaveV3VesperXy.sol
  vesper-strategies/contracts/strategies/compound/CompoundVesperXy.sol
  vesper-strategies/contracts/strategies/compound/CompoundVesperXyETH.sol
  vesper-strategies/contracts/strategies/compound/avalanche/BenqiVesperXy.sol
  vesper-strategies/contracts/strategies/compound/avalanche/TraderJoeVesperXy.sol
  vesper-strategies/contracts/strategies/compound/v3/CompoundV3VesperXy.sol
  vesper-strategies/contracts/strategies/euler/EulerVesperXy.sol
Due: solhint, eslint --cache --fix

Removed unused strategy config
  vesper-commons/config/mainnet/strategyConfig.js
Due: eslint --cache --fix

Fixed failed tests
  vesper-commons/utils/balance.js
  vesper-strategies/test/behavior/aave-vesper-xy.js
  vesper-strategies/test/behavior/compound-vesper-xy.js
Due: eslint --cache --fix

Skipped Euler tests
  vesper-strategies/test/mainnet/euler/vacbeth.spec.js
  vesper-strategies/test/mainnet/euler/vaeth.spec.js
  vesper-strategies/test/mainnet/euler/vasteth.spec.js
  vesper-strategies/test/mainnet/euler/vausdc.spec.js
  vesper-strategies/test/mainnet/euler/xy/vesper/vacbeth.spec.js
  vesper-strategies/test/mainnet/euler/xy/vesper/vadai.spec.js
  vesper-strategies/test/mainnet/euler/xy/vesper/vaeth.spec.js
  vesper-strategies/test/mainnet/euler/xy/vesper/vausdc.spec.js
Due: eslint --cache --fix

Deployed vaOP pool and aaveV3 XY strategy
  .github/workflows/optimism-aaveV3-xy.yml
  vesper-commons/config/optimism/address.js
  vesper-commons/config/optimism/strategyConfig.js
  vesper-commons/utils/balance.js
  vesper-deployments/deployments/optimism/.migrations.json
  vesper-deployments/deployments/optimism/.versionInfo.json
  vesper-deployments/deployments/optimism/global/0x169e2FfC1c6b229b04E65A431434bF0e8eD9563d/PoolAccountantUpgrader.json
  vesper-deployments/deployments/optimism/global/0x169e2FfC1c6b229b04E65A431434bF0e8eD9563d/VPoolUpgrader.json
  vesper-deployments/deployments/optimism/global/PoolAccountant_Implementation.json
  vesper-deployments/deployments/optimism/vaop/AaveV3_Vesper_Xy_OP_USDC.json
  vesper-deployments/deployments/optimism/vaop/PoolAccountant.json
  vesper-deployments/deployments/optimism/vaop/PoolAccountant_Proxy.json
  vesper-deployments/deployments/optimism/vaop/VPool.json
  vesper-deployments/deployments/optimism/vaop/VPool_Proxy.json
  vesper-deployments/deployments/optimism/vaop/solcInputs/0e89febeebc7444140de8e67c9067d2c.json
  vesper-deployments/deployments/optimism/vaop/solcInputs/56a6354551c0167036980230b4124393.json
  vesper-deployments/hardhat.config.js
  vesper-deployments/releases/5.1.0/contracts.json
  vesper-strategies/test/optimism/aave/v3/xy/vesper/vaop.spec.js
Due: eslint --cache --fix

Updated live pool tests
  vesper-pools/test/live/mainnet-test.js
Due: eslint --cache --fix

Added pool, strategy config and tests
  .github/workflows/optimism-aaveV3-xy.yml
  vesper-commons/config/optimism/address.js
  vesper-commons/config/optimism/poolConfig.js
  vesper-commons/config/optimism/strategyConfig.js
  vesper-commons/utils/balance.js
  vesper-strategies/test/behavior/strategy.js
  vesper-strategies/test/optimism/aave/v3/xy/vesper/vawsteth.spec.js
Due: eslint --cache --fix

Deployed vawstETH pool on OP chain
  vesper-deployments/deployments/optimism/.migrations.json
  vesper-deployments/deployments/optimism/vawsteth/PoolAccountant.json
  vesper-deployments/deployments/optimism/vawsteth/PoolAccountant_Proxy.json
  vesper-deployments/deployments/optimism/vawsteth/VPool.json
  vesper-deployments/deployments/optimism/vawsteth/VPool_Proxy.json
  vesper-deployments/deployments/optimism/vawsteth/solcInputs/0e89febeebc7444140de8e67c9067d2c.json
  vesper-deployments/releases/5.1.0/contracts.json
Due: none

Added new swapper address for OP chain
  vesper-commons/config/optimism/address.js
  vesper-commons/config/optimism/strategyConfig.js
  vesper-commons/utils/setup.js
Due: eslint --cache --fix

Fixed CRV claim issue for side chains
  vesper-strategies/contracts/interfaces/curve/ILiquidityGaugeFactory.sol
  vesper-strategies/contracts/strategies/curve/CurveBase.sol
  vesper-strategies/test/behavior/curve.js
Due: solhint, eslint --cache --fix

Updated Curve_sETH_ETH strategy
  vesper-deployments/deployments/optimism/.migrations.json
  vesper-deployments/deployments/optimism/vaeth/Curve_sETH_ETH.json
  vesper-deployments/deployments/optimism/vaeth/solcInputs/fc483797a0c1e1c490bcdb5a06541829.json
  vesper-deployments/releases/5.1.0/contracts.json
  vesper-deployments/tasks/strategy-configuration.js
Due: eslint --cache --fix

Updated logic to get gauge
  vesper-strategies/contracts/interfaces/curve/ILiquidityGaugeFactory.sol
  vesper-strategies/contracts/strategies/curve/CurveBase.sol
Due: solhint

Updated logic to verify collateral
  vesper-strategies/contracts/strategies/curve/CurveBase.sol
  vesper-strategies/contracts/strategies/curve/CurveETH.sol
Due: solhint

Deployed Curve-wstETH-ETH strategy for OP.vaETH
  vesper-commons/config/optimism/address.js
  vesper-commons/config/optimism/strategyConfig.js
  vesper-deployments/deploy/deploy-strategy.js
  vesper-deployments/deployments/optimism/vaeth/Curve_wstETH_ETH.json
  vesper-deployments/releases/5.1.0/contracts.json
  vesper-strategies/test/behavior/curve.js
  vesper-strategies/test/optimism/curve/2pool/vaeth-wsteth-eth.spec.js
Due: eslint --cache --fix

Deployed Curve FRAXBP strategy for OP.vaUSDC
  vesper-deployments/deployments/optimism/vausdc/Curve_FRAXBP_USDC.json
  vesper-deployments/deployments/optimism/vausdc/solcInputs/3f8b58d6fa2751bfd58a5d56c5d335b8.json
  vesper-deployments/releases/5.1.0/contracts.json
Due: none

Added config and tests for vaUSDC fraxbp
  .github/workflows/optimism-curve-2pool.yml
  vesper-commons/config/optimism/address.js
  vesper-commons/config/optimism/strategyConfig.js
  vesper-strategies/test/optimism/curve/2pool/vausdc-fraxbp.spec.js
Due: eslint --cache --fix

Updated test file naming and GH actions
  .github/workflows/optimism-curve-2pool.yml
  .github/workflows/optimism-curve-4pool.yml
  vesper-strategies/test/optimism/curve/2pool/vaeth-seth.spec.js
  vesper-strategies/test/optimism/curve/2pool/vaeth-wsteth.spec.js
  vesper-strategies/test/optimism/curve/4pool/vausdc-susd.spec.js
Due: eslint --cache --fix

Added Sonne deposit strategy and its tests
  vesper-commons/config/optimism/address.js
  vesper-commons/config/optimism/strategyConfig.js
  vesper-strategies/contracts/strategies/compound/optimism/Sonne.sol
  vesper-strategies/test/behavior/compound.js
  vesper-strategies/test/optimism/sonne/vaeth.spec.js
  vesper-strategies/test/optimism/sonne/vausdc.spec.js
Due: solhint, eslint --cache --fix

Fixed AaveV3 flashloan logic
  vesper-strategies/contracts/interfaces/aave/IAave.sol
  vesper-strategies/contracts/strategies/AaveFlashLoanHelper.sol
  vesper-strategies/contracts/strategies/compound/avalanche/CompoundLikeLeverage.sol
Due: solhint

Added Sonne leverage strategy and its tests
  .github/workflows/optimism-sonne-leverage.yml
  vesper-commons/config/optimism/strategyConfig.js
  vesper-strategies/contracts/strategies/compound/optimism/SonneLeverage.sol
  vesper-strategies/test/behavior/compound-leverage.js
  vesper-strategies/test/optimism/sonne/leverage/vaeth.spec.js
  vesper-strategies/test/optimism/sonne/leverage/vaop.spec.js
  vesper-strategies/test/optimism/sonne/leverage/vausdc.spec.js
Due: solhint, eslint --cache --fix

Path conditions:
  solhint: any of: *.sol
  eslint --cache --fix: any of: *.js
