Repository vesperfi/vesper-contracts: changes, and which lint-staged commands are due for each by the changed paths.
All: solhint, eslint --cache --fix

Minor updates in RevenueSplitter contract
  vesper-utils/contracts/RevenueSplitter.sol
  vesper-utils/deploy/scripts/04_revenue_splitter.js
  vesper-utils/test/revenue-splitter.js
Due: solhint, eslint --cache --fix

Deployed updated revenueSplitter contract
  vesper-utils/deployments/mainnet/RevenueSplitter.json
  vesper-utils/deployments/mainnet/solcInputs/c745659820ec28dca70f24297155efd0.json
  vesper-utils/releases/contracts.json
Due: none

Removed config and tests of earn pools
  .github/workflows/mainnet-aaveV2-earn.yml
  .github/workflows/mainnet-compound-earn.yml
  .github/workflows/mainnet-curve-3pool.yml
  .github/workflows/mainnet-vesper.yml
  vesper-commons/config/mainnet/poolConfig.js
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-commons/config/polygon/poolConfig.js
  vesper-commons/config/polygon/strategyConfig.js
  vesper-commons/utils/strategyTypes.js
  vesper-strategies/test/behavior/earn-vesper-strategy.js
  vesper-strategies/test/behavior/strategy.js
  vesper-strategies/test/behavior/vesper-pool.js
  vesper-strategies/test/mainnet/aave/v2/earn/veeth-dai.spec.js
  vesper-strategies/test/mainnet/compound/earn/veeth-dai.spec.js
  vesper-strategies/test/mainnet/compound/earn/vewbtc-dai.spec.js
  vesper-strategies/test/mainnet/curve/3pool/earn/sbtc-wbtc-dai.spec.js
  vesper-strategies/test/mainnet/vesper/earn/vedai-wbtc.spec.js
  vesper-strategies/test/mainnet/vesper/earn/veeth-dai.spec.js
  vesper-strategies/test/mainnet/vesper/earn/vefrax-fraxbp.spec.js
  vesper-strategies/test/mainnet/vesper/earn/vewbtc-dai.spec.js
  vesper-strategies/test/utils/testRunner.js
Due: eslint --cache --fix

Removed AlphaHomra related config
  vesper-commons/config/avalanche/address.js
  vesper-commons/config/mainnet/address.js
  vesper-commons/utils/balance.js
  vesper-commons/utils/poolOps.js
  vesper-commons/utils/setup.js
Due: eslint --cache --fix

Updated Convex vaultRegistry address
  vesper-strategies/contracts/strategies/convex/ConvexForFrax.sol
Due: solhint

Updated feeCollector address for eth chain
  vesper-commons/config/mainnet/address.js
Due: eslint --cache --fix

Fixed failing tests
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-commons/config/optimism/strategyConfig.js
  vesper-strategies/test/behavior/aavev3-vesper-xy.js
  vesper-strategies/test/behavior/compound-vesper-xy.js
  vesper-strategies/test/behavior/curve.js
  vesper-strategies/test/bsc/wombat/vabusd.spec.js
Due: eslint --cache --fix

Updated configuration to use new swapper
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-commons/utils/contractHelper.js
  vesper-commons/utils/setup.js
  vesper-commons/utils/swapHelper.js
Due: eslint --cache --fix

Updated keeper address and config
  vesper-commons/config/mainnet/address.js
  vesper-commons/config/mainnet/strategyConfig.js
Due: eslint --cache --fix

Updated routing related configuration
  vesper-commons/config/mainnet/address.js
  vesper-commons/config/optimism/address.js
  vesper-commons/utils/swapHelper.js
Due: eslint --cache --fix

Remove remnants of Earn pool configuration
  vesper-commons/utils/setup.js
  vesper-deployments/deploy/deploy-strategy.js
  vesper-deployments/deploy/deploy-vpool.js
  vesper-deployments/deploy/migrate-strategy.js
  vesper-deployments/tasks/create-release.js
  vesper-deployments/tasks/deploy-core-contracts.js
  vesper-strategies/test/behavior/strategy.js
  vesper-strategies/test/behavior/vesper-pool.js
Due: eslint --cache --fix

Reuse configuration code
  vesper-commons/utils/poolOps.js
  vesper-commons/utils/setup.js
  vesper-erc4626-wrapper/test/vpool-wrapper.spec.js
  vesper-pools/test/live/local-to-mainnet-upgrade-test.js
  vesper-pools/test/live/mainnet-pool-upgrade-test.js
  vesper-pools/test/live/mainnet-test.js
  vesper-pools/test/live/strategy-test.js
  vesper-pools/test/pool-accountant-proxy.spec.js
  vesper-pools/test/pool-accountant.spec.js
  vesper-pools/test/pool-rewards.spec.js
  vesper-pools/test/vesper-pool-admin.spec.js
  vesper-pools/test/vesper-pool-behavior.js
  vesper-pools/test/vesper-pool-proxy.spec.js
  vesper-pools/test/vesper-pool-vaeth.spec.js
  vesper-strategies/test/behavior/alpaca.js
  vesper-strategies/test/behavior/compound-leverage.js
  vesper-strategies/test/behavior/compound-vesper-xy.js
  vesper-strategies/test/behavior/curve.js
  vesper-strategies/test/behavior/ellipsis.js
  vesper-strategies/test/behavior/maker.js
  vesper-strategies/test/behavior/strategy-underlying-vesper-pool.js
  vesper-strategies/test/behavior/vesper-pool.js
  vesper-utils/test/keeper.spec.js
  vesper-utils/test/maintainer.spec.js
  vesper-utils/test/revenue-splitter.js
Due: eslint --cache --fix

Using proper keyword for wrapped native tokens
  vesper-commons/config/arbitrum/address.js
  vesper-commons/config/avalanche/address.js
  vesper-commons/config/avalanche/poolConfig.js
  vesper-commons/config/bsc/address.js
  vesper-commons/config/mainnet/address.js
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-commons/config/optimism/address.js
  vesper-commons/config/optimism/strategyConfig.js
  vesper-commons/config/polygon/address.js
  vesper-commons/utils/balance.js
  vesper-commons/utils/swapHelper.js
  vesper-strategies/test/behavior/aavev3-sommelier-xy.js
  vesper-strategies/test/behavior/aavev3-vesper-xy.js
  vesper-utils/utils/util.js
Due: eslint --cache --fix

Added velodrome configuration in swapHelper
  vesper-commons/config/optimism/address.js
  vesper-commons/utils/swapHelper.js
Due: eslint --cache --fix

Address Curve rebalance slippage
  vesper-strategies/contracts/strategies/curve/CurveBase.sol
  vesper-strategies/contracts/strategies/curve/earn/CurveEarn.sol
Due: solhint

Extra Finance Lend Strategy
  .github/workflows/optimism-extra-finance.yml
  vesper-commons/config/optimism/address.js
  vesper-commons/config/optimism/strategyConfig.js
  vesper-commons/utils/balance.js
  vesper-commons/utils/strategyTypes.js
  vesper-strategies/contracts/interfaces/extra-finance/IEToken.sol
  vesper-strategies/contracts/interfaces/extra-finance/ILendingPool.sol
  vesper-strategies/contracts/interfaces/extra-finance/IStakingRewards.sol
  vesper-strategies/contracts/strategies/extra-finance/ExtraFinance.sol
  vesper-strategies/test/behavior/extra-finance.js
  vesper-strategies/test/behavior/strategy.js
  vesper-strategies/test/optimism/extra-finance/vaeth.spec.js
  vesper-strategies/test/optimism/extra-finance/vausdc.spec.js
Due: solhint, eslint --cache --fix

Transfer eToken when migrate strategy
  vesper-strategies/contracts/strategies/extra-finance/ExtraFinance.sol
Due: solhint

Implement migrateReserve
  vesper-commons/config/optimism/address.js
  vesper-commons/config/optimism/strategyConfig.js
  vesper-strategies/contracts/strategies/extra-finance/ExtraFinance.sol
  vesper-strategies/test/behavior/extra-finance.js
Due: solhint, eslint --cache --fix

Address review requests
  vesper-strategies/contracts/interfaces/extra-finance/ILendingPool.sol
  vesper-strategies/contracts/strategies/extra-finance/ExtraFinance.sol
  vesper-strategies/test/behavior/extra-finance.js
Due: solhint, eslint --cache --fix

Amend swapper config
  vesper-commons/utils/swapHelper.js
  vesper-strategies/test/behavior/extra-finance.js
Due: eslint --cache --fix

Address review request
  vesper-strategies/contracts/strategies/extra-finance/ExtraFinance.sol
Due: solhint

Write test case for Curve pool manipulation
  vesper-strategies/test/behavior/curve.js
Due: eslint --cache --fix

Remove BSC forked Curve strategies
  .github/workflows/bsc-dot-dot.yml
  .github/workflows/bsc-ellipsis.yml
  .github/workflows/bsc-wombat.yml
  vesper-commons/config/bsc/address.js
  vesper-commons/config/bsc/strategyConfig.js
  vesper-commons/utils/balance.js
  vesper-commons/utils/curvePoolTypes.js
  vesper-commons/utils/setup.js
  vesper-commons/utils/strategyTypes.js
  vesper-strategies/contracts/strategies/dot-dot/DotDot.sol
  vesper-strategies/contracts/strategies/ellipsis/Ellipsis.sol
  vesper-strategies/contracts/strategies/ellipsis/EllipsisBase.sol
  vesper-strategies/contracts/strategies/wombat/Wombat.sol
  vesper-strategies/test/behavior/dot-dot.js
  vesper-strategies/test/behavior/ellipsis.js
  vesper-strategies/test/behavior/strategy.js
  vesper-strategies/test/behavior/wombat.js
  vesper-strategies/test/bsc/dot-dot/3pool/tripool-busd.spec.js
  vesper-strategies/test/bsc/ellipsis/3pool/tripool-busd.spec.js
  vesper-strategies/test/bsc/wombat/vabusd.spec.js
Due: solhint, eslint --cache --fix

Address review requests
  vesper-strategies/contracts/strategies/curve/CurveBase.sol
Due: solhint

Deployed Extra finance strategies for vaUSDC and vaETH
  vesper-commons/config/optimism/strategyConfig.js
  vesper-deployments/contracts/test/Imports2.sol
  vesper-deployments/deployments/optimism/vaeth/ExtraFinance_ETH.json
  vesper-deployments/deployments/optimism/vaeth/solcInputs/b2a6a002ec771dd46d45b471ca4710f8.json
  vesper-deployments/deployments/optimism/vausdc/ExtraFinance_USDC.json
  vesper-deployments/deployments/optimism/vausdc/solcInputs/b2a6a002ec771dd46d45b471ca4710f8.json
  vesper-deployments/hardhat.config.js
  vesper-deployments/releases/5.1.0/contracts.json
Due: solhint, eslint --cache --fix

Updates to support vaOP pool
  vesper-commons/config/optimism/strategyConfig.js
  vesper-strategies/contracts/interfaces/extra-finance/IStakingRewards.sol
  vesper-strategies/contracts/strategies/extra-finance/ExtraFinance.sol
  vesper-strategies/test/behavior/extra-finance.js
  vesper-strategies/test/optimism/extra-finance/vaop.spec.js
Due: solhint, eslint --cache --fix

Deployed Extra Finance strategy for vaOP
  vesper-deployments/deployments/optimism/vaop/ExtraFinance_OP.json
  vesper-deployments/deployments/optimism/vaop/solcInputs/4fc14dc968580384a5b5c4d53a8fc6fe.json
  vesper-deployments/releases/5.1.0/contracts.json
Due: none

Deployed AaveV3 borrow for vawstETH on OP chain
  vesper-deployments/deployments/optimism/vawsteth/AaveV3_Vesper_Xy_wstETH_USDC.json
  vesper-deployments/deployments/optimism/vawsteth/solcInputs/38c03949f5e2239532d8d2b553f0f692.json
  vesper-deployments/releases/5.1.0/contracts.json
Due: none

Deployed new version of convex strategies
  vesper-deployments/deployments/mainnet/.migrations.json
  vesper-deployments/deployments/mainnet/vafrax/ConvexForFrax_dolafraxbp_FRAX.json
  vesper-deployments/deployments/mainnet/vafrax/ConvexForFrax_eusdfraxbp_FRAX.json
  vesper-deployments/deployments/mainnet/vafrax/solcInputs/38c03949f5e2239532d8d2b553f0f692.json
  vesper-deployments/deployments/mainnet/vausdc/ConvexForFrax_dolafraxbp_USDC.json
  vesper-deployments/deployments/mainnet/vausdc/ConvexForFrax_eusdfraxbp_USDC.json
  vesper-deployments/deployments/mainnet/vausdc/solcInputs/38c03949f5e2239532d8d2b553f0f692.json
  vesper-deployments/releases/5.1.0/contracts.json
Due: none

Updated scripts to add keeper and maintainer
  vesper-commons/config/mainnet/address.js
  vesper-commons/config/mainnet/poolConfig.js
  vesper-commons/config/optimism/address.js
  vesper-commons/config/optimism/poolConfig.js
  vesper-deployments/deploy/deploy-vpool.js
  vesper-deployments/tasks/deploy-core-contracts.js
Due: eslint --cache --fix

Deployed Morpho Aave for conservative pools
  vesper-commons/config/mainnet/address.js
  vesper-commons/config/mainnet/poolConfig.js
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-deployments/deployments/mainnet/veth/Morpho_AaveV3_WETH.json
  vesper-deployments/deployments/mainnet/veth/solcInputs/38c03949f5e2239532d8d2b553f0f692.json
  vesper-deployments/deployments/mainnet/vusdc/Morpho_AaveV2_USDC.json
  vesper-deployments/deployments/mainnet/vusdc/solcInputs/38c03949f5e2239532d8d2b553f0f692.json
  vesper-deployments/deployments/mainnet/vwbtc/Morpho_AaveV2_WBTC.json
  vesper-deployments/deployments/mainnet/vwbtc/solcInputs/38c03949f5e2239532d8d2b553f0f692.json
  vesper-deployments/releases/5.1.0/contracts.json
  vesper-strategies/test/mainnet/morpho/aave/vwbtc.spec.js
Due: eslint --cache --fix

Updated extra finance config and test
  vesper-commons/config/optimism/strategyConfig.js
  vesper-strategies/test/behavior/extra-finance.js
  vesper-strategies/test/optimism/extra-finance/vaeth.spec.js
  vesper-strategies/test/optimism/extra-finance/vausdc.spec.js
Due: eslint --cache --fix

Deployed Extra finance pool#1 for vaUSDC
  vesper-deployments/deployments/optimism/vausdc/ExtraFinance_USDC_1.json
  vesper-deployments/deployments/optimism/vausdc/solcInputs/4fc14dc968580384a5b5c4d53a8fc6fe.json
  vesper-deployments/releases/5.1.0/contracts.json
Due: none

Deployed Morpho AaveV2 for vaDAI
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-deployments/deployments/mainnet/vadai/Morpho_AaveV2_DAI.json
  vesper-deployments/deployments/mainnet/vadai/solcInputs/38c03949f5e2239532d8d2b553f0f692.json
  vesper-deployments/releases/5.1.0/contracts.json
  vesper-strategies/test/mainnet/morpho/aave/vadai.spec.js
Due: eslint --cache --fix

Added AaveV2SommelierStETH xy strategy and tests
  vesper-commons/config/mainnet/address.js
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-commons/utils/swapHelper.js
  vesper-strategies/contracts/strategies/aave/v3/AaveV3SommelierStETH.sol
  vesper-strategies/contracts/strategies/aave/v3/AaveV3Xy.sol
  vesper-strategies/test/mainnet/aave/v3/xy/sommelier/vareth.spec.js
  vesper-strategies/test/mainnet/aave/v3/xy/sommelier/vasteth.spec.js
Due: solhint, eslint --cache --fix

Deployed AaveV3SommelierStETH XY for vaStETH pool
  vesper-deployments/contracts/test/Imports.sol
  vesper-deployments/deployments/mainnet/vasteth/AaveV3_Sommelier_Xy_STETH_WETH.json
  vesper-deployments/deployments/mainnet/vasteth/solcInputs/f48fea1581713f585d8638eb04b1b57c.json
  vesper-deployments/releases/5.1.0/contracts.json
Due: solhint

Updates to fix failed tests
  vesper-commons/utils/balance.js
  vesper-commons/utils/swapHelper.js
Due: eslint --cache --fix

dummy strategy
  vesper-strategies/contracts/strategies/DummyStrategy.sol
  vesper-strategies/test/mainnet/vaDai-dummy-strategy-test.js
Due: solhint, eslint --cache --fix

Deployed dummy strategy for Rari vaDAI
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-commons/utils/strategyTypes.js
  vesper-deployments/contracts/test/Imports.sol
  vesper-deployments/deployments/mainnet/.migrations.json
  vesper-deployments/deployments/mainnet/vadai/Rari_Dummy_DAI.json
  vesper-deployments/deployments/mainnet/vadai/solcInputs/a9611bbb05c97d1ce07c8de98e25835e.json
  vesper-deployments/releases/5.1.0/contracts.json
Due: solhint, eslint --cache --fix

Fixed edge case in AaveV3XY for stETH
  vesper-commons/config/mainnet/address.js
  vesper-strategies/contracts/strategies/aave/v3/AaveV3Xy.sol
  vesper-strategies/test/mainnet/live/aavev3-vesper-steth-usdc.js
Due: solhint, eslint --cache --fix

Path conditions:
  solhint: any of: *.sol
  eslint --cache --fix: any of: *.js
