Repository vesperfi/vesper-contracts: changes, and which lint-staged commands are due for each by the changed paths.
All: solhint, eslint --cache --fix

Updated Curve strategy and tests
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-strategies/contracts/strategies/curve/CurveAaveLendingPool.sol
  vesper-strategies/test/behavior/curve.js
  vesper-strategies/test/mainnet/curve/3pool/earn/sbtc-wbtc-dai.spec.js
Due: solhint, eslint --cache --fix

Updated slippage in strategy config
  vesper-commons/config/mainnet/strategyConfig.js
Due: eslint --cache --fix

Fixed AaveV3 tests for OP chain
  vesper-strategies/test/behavior/aavev3-vesper-xy.js
  vesper-strategies/test/optimism/aave/v3/xy/vesper/vaop.spec.js
Due: eslint --cache --fix

Generated verify-admin script output
  vesper-deployments/verify-admin/5.1.0/output.json
Due: none

Deployed YearnStaking for vaUSDC on OP
  vesper-deployments/contracts/test/Imports.sol
  vesper-deployments/deployments/optimism/vausdc/Yearn_USDC.json
  vesper-deployments/deployments/optimism/vausdc/solcInputs/f79f3ae65b96a48bb177f51e4235cd0b.json
  vesper-deployments/releases/5.1.0/contracts.json
Due: solhint

Deployed Yearn staking for vaETH
  .github/workflows/optimism-yearn.yml
  vesper-commons/config/optimism/address.js
  vesper-commons/config/optimism/strategyConfig.js
  vesper-deployments/deployments/optimism/vaeth/Yearn_ETH.json
  vesper-deployments/deployments/optimism/vaeth/solcInputs/fb5ec8e75cc1aa615dde834a2cf1af59.json
  vesper-deployments/releases/5.1.0/contracts.json
  vesper-strategies/test/optimism/yearn/vaeth.spec.js
Due: eslint --cache --fix

Deployed FraxLend borrow for vaWBTC
  vesper-deployments/contracts/test/Imports.sol
  vesper-deployments/deployments/mainnet/vawbtc/FraxLend_Vesper_Xy_WBTC_FRAX.json
  vesper-deployments/deployments/mainnet/vawbtc/solcInputs/6dfbe19a7733b28acfa7b6409be85b3d.json
  vesper-deployments/releases/5.1.0/contracts.json
Due: solhint

Added config and tests for new ConvexForFrax strategies
  .github/workflows/mainnet-convex-for-frax-3pool.yml
  vesper-commons/config/mainnet/address.js
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-commons/utils/setup.js
  vesper-strategies/test/mainnet/convex/convex_for_frax/3pool/vafrax.spec.js
  vesper-strategies/test/mainnet/convex/convex_for_frax/3pool/vausdc.spec.js
Due: eslint --cache --fix

Deployed ConvexForFrax for vaFRAX and vaUSDC
  vesper-deployments/deploy/deploy-strategy.js
  vesper-deployments/deploy/gnosis-txn.js
  vesper-deployments/deployments/mainnet/vafrax/ConvexForFrax_eusdfraxbp_FRAX.json
  vesper-deployments/deployments/mainnet/vafrax/solcInputs/88b000dbfefecafd0ffab665c3a447f1.json
  vesper-deployments/deployments/mainnet/vausdc/ConvexForFrax_eusdfraxbp_USDC.json
  vesper-deployments/deployments/mainnet/vausdc/solcInputs/88b000dbfefecafd0ffab665c3a447f1.json
  vesper-deployments/releases/5.1.0/contracts.json
Due: eslint --cache --fix

Updated AaveV3 borrow to support wstETH
  vesper-commons/config/mainnet/address.js
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-strategies/contracts/strategies/aave/v3/AaveV3VesperStETH.sol
  vesper-strategies/contracts/strategies/aave/v3/AaveV3VesperXy.sol
  vesper-strategies/contracts/strategies/aave/v3/AaveV3Xy.sol
  vesper-strategies/test/behavior/aavev3-vesper-xy.js
  vesper-strategies/test/mainnet/aave/v3/xy/vesper/vasteth.spec.js
Due: solhint, eslint --cache --fix

Add support for a rewards delegate
  vesper-pools/contracts/interfaces/vesper/IPoolRewards.sol
  vesper-pools/contracts/pool/PoolRewards.sol
Due: solhint

Added Keeper contract address and BOT address
  vesper-commons/config/avalanche/address.js
  vesper-commons/config/bsc/address.js
  vesper-commons/config/mainnet/address.js
  vesper-commons/config/optimism/address.js
  vesper-commons/config/polygon/address.js
  vesper-commons/utils/poolOps.js
  vesper-erc4626-wrapper/test/vpool-wrapper.spec.js
Due: eslint --cache --fix

Deployed AaveV3 borrow USDC for vastETH
  .github/workflows/mainnet-aaveV3-xy.yml
  vesper-deployments/contracts/test/Imports.sol
  vesper-deployments/deployments/mainnet/vasteth/AaveV3_Vesper_Xy_STETH_USDC.json
  vesper-deployments/deployments/mainnet/vasteth/solcInputs/cc95d03a7aaae891ddc897f351922b1f.json
  vesper-deployments/releases/5.1.0/contracts.json
Due: solhint

Deployed AaveV3 borrow USDC for vacbETH
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-deployments/deployments/mainnet/vacbeth/AaveV3_Vesper_Xy_CBETH_USDC.json
  vesper-deployments/deployments/mainnet/vacbeth/solcInputs/65b8f13243d0e4d18a7c473e051c9d48.json
  vesper-deployments/releases/5.1.0/contracts.json
  vesper-strategies/test/mainnet/aave/v3/xy/vesper/vacbeth.spec.js
Due: eslint --cache --fix

Updated feeCollector address
  vesper-commons/config/avalanche/address.js
  vesper-commons/config/mainnet/address.js
  vesper-commons/config/optimism/address.js
  vesper-commons/config/polygon/address.js
Due: eslint --cache --fix

Added tests and deployed AaveV3 borrow for varETH
  .github/workflows/mainnet-aaveV3-xy.yml
  vesper-commons/config/mainnet/address.js
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-deployments/deployments/mainnet/vareth/AaveV3_Vesper_Xy_RETH_USDC.json
  vesper-deployments/deployments/mainnet/vareth/solcInputs/65b8f13243d0e4d18a7c473e051c9d48.json
  vesper-deployments/releases/5.1.0/contracts.json
  vesper-strategies/test/mainnet/aave/v3/xy/vesper/vareth.spec.js
Due: eslint --cache --fix

Updated BUSD whale address
  vesper-commons/utils/balance.js
Due: eslint --cache --fix

Bubble up error, removed tests of paused tokens
  .github/workflows/mainnet-aaveV2-xy.yml
  .github/workflows/mainnet-aaveV2.yml
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-strategies/contracts/strategies/aave/v2/AaveV2Core.sol
  vesper-strategies/test/mainnet/aave/v2/vauni.spec.js
  vesper-strategies/test/mainnet/aave/v2/xy/vesper/valink.spec.js
Due: solhint, eslint --cache --fix

Removed paused token tests for Compound
  .github/workflows/mainnet-compound-leverage.yml
  .github/workflows/mainnet-compound.yml
  vesper-commons/config/mainnet/address.js
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-strategies/test/mainnet/compound/leverage/vauni.spec.js
  vesper-strategies/test/mainnet/compound/valink.spec.js
  vesper-strategies/test/mainnet/compound/vauni.spec.js
Due: eslint --cache --fix

Mint more blocks in test
  vesper-strategies/test/behavior/compound-leverage.js
Due: eslint --cache --fix

Added Sommelier strategy
  .github/workflows/mainnet-sommelier.yml
  vesper-commons/config/mainnet/address.js
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-commons/utils/poolOps.js
  vesper-commons/utils/strategyTypes.js
  vesper-strategies/contracts/interfaces/sommelier/ISommelier.sol
  vesper-strategies/contracts/strategies/sommelier/Sommelier.sol
  vesper-strategies/test/behavior/vesper-pool.js
  vesper-strategies/test/mainnet/sommelier/vaeth.spec.js
  vesper-strategies/test/mainnet/sommelier/vausdc.spec.js
Due: solhint, eslint --cache --fix

Added Maintainer contract
  vesper-utils/contracts/Maintainer.sol
  vesper-utils/deploy/02_maintainer.js
  vesper-utils/deploy/scripts/03_pool_maintainer.js
  vesper-utils/test/maintainer.spec.js
Due: solhint, eslint --cache --fix

Removed Operator in favor of Keeper contract
  vesper-utils/contracts/Keeper.sol
  vesper-utils/deploy/helper.js
  vesper-utils/deploy/scripts/01_pool_keeper.js
  vesper-utils/deploy/scripts/02_strategy_keeper.js
  vesper-utils/hardhat.config.js
  vesper-utils/test/keeper.spec.js
Due: solhint, eslint --cache --fix

Updated dependency to be consistent
  vesper-utils/package-lock.json
  vesper-utils/package.json
Due: none

Deployed CompoundV3 for vaUSDC
  vesper-deployments/contracts/test/Imports.sol
  vesper-deployments/deployments/mainnet/vausdc/CompoundV3_USDC.json
  vesper-deployments/deployments/mainnet/vausdc/solcInputs/173c19433bc3966796d7d9624aa94a85.json
  vesper-deployments/releases/5.1.0/contracts.json
Due: solhint

Deployed AaveV2 and Compound borrow for vaETH
  vesper-deployments/deployments/mainnet/vaeth/AaveV2_Vesper_Xy_ETH_DAI.json
  vesper-deployments/deployments/mainnet/vaeth/Compound_Vesper_Xy_ETH_DAI.json
  vesper-deployments/deployments/mainnet/vaeth/solcInputs/045ebc1cbf5a57e283c018f8dda45bb9.json
  vesper-deployments/releases/5.1.0/contracts.json
Due: none

Deployed Keeper and Maintainer on mainnet
  vesper-utils/deploy/helper.js
  vesper-utils/deploy/scripts/01_pool_keeper.js
  vesper-utils/deploy/scripts/02_strategy_keeper.js
  vesper-utils/deploy/scripts/03_pool_maintainer.js
  vesper-utils/deployments/mainnet/.chainId
  vesper-utils/deployments/mainnet/DefaultProxyAdmin.json
  vesper-utils/deployments/mainnet/Keeper_Implementation.json
  vesper-utils/deployments/mainnet/Maintainer_Implementation.json
  vesper-utils/deployments/mainnet/PoolKeeper.json
  vesper-utils/deployments/mainnet/PoolKeeper_Proxy.json
  vesper-utils/deployments/mainnet/PoolMaintainer.json
  vesper-utils/deployments/mainnet/PoolMaintainer_Proxy.json
  vesper-utils/deployments/mainnet/StrategyKeeper.json
  vesper-utils/deployments/mainnet/StrategyKeeper_Proxy.json
  vesper-utils/deployments/mainnet/solcInputs/0e89febeebc7444140de8e67c9067d2c.json
  vesper-utils/deployments/mainnet/solcInputs/6f49a8247e1c7492fb09feb20407c1c1.json
  vesper-utils/releases/contracts.json
Due: eslint --cache --fix

Deployed keeper and maintainer on Optimism
  vesper-utils/deployments/optimism/Keeper_Implementation.json
  vesper-utils/deployments/optimism/Maintainer_Implementation.json
  vesper-utils/deployments/optimism/PoolKeeper.json
  vesper-utils/deployments/optimism/PoolKeeper_Proxy.json
  vesper-utils/deployments/optimism/PoolMaintainer.json
  vesper-utils/deployments/optimism/PoolMaintainer_Proxy.json
  vesper-utils/deployments/optimism/StrategyKeeper.json
  vesper-utils/deployments/optimism/StrategyKeeper_Proxy.json
  vesper-utils/deployments/optimism/solcInputs/6f49a8247e1c7492fb09feb20407c1c1.json
  vesper-utils/releases/contracts.json
Due: none

AaveV3-Sommelier-Strategy
  .github/workflows/mainnet-aaveV3-xy.yml
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-commons/utils/poolOps.js
  vesper-commons/utils/strategyTypes.js
  vesper-strategies/contracts/strategies/aave/v3/AaveV3SommelierXy.sol
  vesper-strategies/contracts/strategies/sommelier/SommelierBase.sol
  vesper-strategies/test/behavior/aavev3-sommelier-xy.js
  vesper-strategies/test/behavior/strategy-migration.js
  vesper-strategies/test/behavior/strategy.js
  vesper-strategies/test/mainnet/aave/v3/xy/sommelier/vacbeth.spec.js
Due: solhint, eslint --cache --fix

Using sommelier base contract
  vesper-strategies/contracts/strategies/sommelier/Sommelier.sol
  vesper-strategies/package-lock.json
Due: solhint

Fixed PR comments
  vesper-strategies/contracts/strategies/aave/v3/AaveV3SommelierXy.sol
Due: solhint

Deployed AaveV3SommelierXy
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-deployments/contracts/test/Imports.sol
  vesper-deployments/deployments/mainnet/vacbeth/AaveV3_Vesper_Xy_CBETH_WETH.json
  vesper-deployments/deployments/mainnet/vacbeth/solcInputs/8e4c5ad7b315c1b733d7965f6c9e4464.json
  vesper-strategies/contracts/strategies/aave/v3/AaveV3SommelierXy.sol
  vesper-strategies/test/mainnet/aave/v3/xy/sommelier/vacbeth.spec.js
Due: solhint, eslint --cache --fix

Sommelier strategy of varETH
  .github/workflows/mainnet-aaveV3-xy.yml
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-deployments/deployments/mainnet/vareth/AaveV3_Sommelier_Xy_RETH_WETH.json
  vesper-deployments/deployments/mainnet/vareth/solcInputs/8e4c5ad7b315c1b733d7965f6c9e4464.json
  vesper-strategies/test/mainnet/aave/v3/xy/sommelier/vareth.spec.js.js
Due: eslint --cache --fix

Rename new swapper setup
  vesper-commons/config/mainnet/address.js
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-commons/config/optimism/address.js
  vesper-commons/config/optimism/strategyConfig.js
  vesper-commons/utils/setup.js
Due: eslint --cache --fix

Added Morpho deposit strategy
  .github/workflows/mainnet-morpho.yml
  vesper-commons/config/mainnet/address.js
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-commons/utils/strategyTypes.js
  vesper-strategies/contracts/interfaces/morpho/IMorpho.sol
  vesper-strategies/contracts/strategies/morpho/Morpho.sol
  vesper-strategies/contracts/strategies/morpho/MorphoAave.sol
  vesper-strategies/contracts/strategies/morpho/MorphoCompound.sol
  vesper-strategies/test/mainnet/morpho/aave/v3/vaeth.spec.js
  vesper-strategies/test/mainnet/morpho/aave/vausdc.spec.js
  vesper-strategies/test/mainnet/morpho/compound/vausdc.spec.js
Due: solhint, eslint --cache --fix

Updated stargate strategy for Optimism
  vesper-commons/config/optimism/address.js
  vesper-commons/config/optimism/strategyConfig.js
  vesper-strategies/contracts/interfaces/stargate/IStargateLpStaking.sol
  vesper-strategies/contracts/strategies/stargate/Stargate.sol
  vesper-strategies/contracts/strategies/stargate/StargateTime.sol
  vesper-strategies/contracts/strategies/stargate/StargateTimeETH.sol
  vesper-strategies/test/behavior/stargate-rewards.js
  vesper-strategies/test/optimism/stargate/vaeth.spec.js
  vesper-strategies/test/optimism/stargate/vausdc.spec.js
Due: solhint, eslint --cache --fix

Deployed Stargate for vaETH and vaUSDC on OP chain
  vesper-deployments/contracts/test/Imports.sol
  vesper-deployments/deployments/optimism/vaeth/Stargate_ETH.json
  vesper-deployments/deployments/optimism/vaeth/solcInputs/b9de02b4fb56872fda7141fe276788a3.json
  vesper-deployments/deployments/optimism/vausdc/Stargate_USDC.json
  vesper-deployments/deployments/optimism/vausdc/solcInputs/b9de02b4fb56872fda7141fe276788a3.json
  vesper-deployments/releases/5.1.0/contracts.json
Due: solhint

Fixed Sonne leverage to claim OP tokens
  vesper-commons/utils/balance.js
  vesper-strategies/contracts/strategies/compound/optimism/SonneLeverage.sol
  vesper-strategies/test/behavior/compound-leverage.js
Due: solhint, eslint --cache --fix

Added fix when OP is collateral
  vesper-strategies/contracts/strategies/compound/optimism/SonneLeverage.sol
Due: solhint

Deployed Morpho AaveV2 strategy for vaUSDC
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-deployments/contracts/test/Imports.sol
  vesper-deployments/deployments/mainnet/vausdc/Morpho_AaveV2_USDC.json
  vesper-deployments/deployments/mainnet/vausdc/solcInputs/7aeae1ca9c77b4c3939ecb0d123e624c.json
  vesper-deployments/releases/5.1.0/contracts.json
  vesper-strategies/test/mainnet/morpho/aave/vausdc.spec.js
Due: solhint, eslint --cache --fix

Path conditions:
  solhint: any of: *.sol
  eslint --cache --fix: any of: *.js
