Repository vesperfi/vesper-contracts: changes, and which lint-staged commands are due for each by the changed paths.
All: solhint, eslint --cache --fix

.lintstagedrc.json:

{
  "*.sol": [
    "solhint"
  ],
  "*.js": [
    "eslint --cache --fix"
  ]
}

Added github actions
  .github/actions/setup-env/action.yml
  .github/workflows/mainnet-compound-xy.yml
  package.json
  patches/@ledgerhq+hw-transport-node-hid+5.26.0.patch
  vesper-commons/utils/balance.js
  vesper-strategies/test/behavior/compound-xy.js
  vesper-strategies/test/mainnet/compound-xy/vaeth.spec.js
  vesper-strategies/test/mainnet/compound-xy/vesper/vaeth.spec.js
  vesper-strategies/test/utils/setup.js
Due: eslint --cache --fix

Revert "Added shouldHarvest flag in rebalance"
  vesper-strategies/contracts/interfaces/vesper/IStrategy.sol
  vesper-strategies/contracts/strategies/Strategy.sol
  vesper-strategies/contracts/strategies/compound/CompoundXYCore.sol
  vesper-strategies/test/behavior/compound-xy.js
  vesper-strategies/test/behavior/strategy-migration.js
  vesper-strategies/test/behavior/strategy.js
  vesper-strategies/test/behavior/vesper-compound-xy.js
  vesper-strategies/test/behavior/vesper-pool.js
  vesper-strategies/test/utils/poolOps.js
Due: solhint, eslint --cache --fix

Restructured XYCore
  vesper-strategies/contracts/strategies/compound/CompoundXYCore.sol
Due: solhint

Updated contract compile cache command
  .github/actions/setup-env/action.yml
Due: none

Ported maker strategy in monorepo and redesigned rebalance method
  package.json
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-strategies/contracts/interfaces/maker/IMakerDAO.sol
  vesper-strategies/contracts/interfaces/vesper/ICollateralManager.sol
  vesper-strategies/contracts/interfaces/vesper/IPoolRewards.sol
  vesper-strategies/contracts/strategies/Strategy.sol
  vesper-strategies/contracts/strategies/maker/MakerStrategy.sol
  vesper-strategies/contracts/strategies/maker/VesperMakerStrategy.sol
  vesper-strategies/test/behavior/maker-common.js
  vesper-strategies/test/behavior/maker-strategy.js
  vesper-strategies/test/behavior/strategy-migration.js
  vesper-strategies/test/behavior/strategy.js
  vesper-strategies/test/behavior/vesper-pool.js
  vesper-strategies/test/mainnet/maker/vesper/vaeth.js
  vesper-strategies/test/mainnet/maker/vesper/vawbtc.js
  vesper-strategies/test/utils/setup.js
Due: solhint, eslint --cache --fix

Updated code structure and doc
  vesper-strategies/contracts/interfaces/vesper/IPoolRewards.sol
  vesper-strategies/contracts/strategies/maker/MakerStrategy.sol
  vesper-strategies/contracts/strategies/maker/VesperMakerStrategy.sol
Due: solhint

Used safeSwap and added tests
  .github/workflows/mainnet-compound-xy.yml
  vesper-strategies/contracts/strategies/compound/CompoundXYCore.sol
  vesper-strategies/contracts/strategies/compound/CompoundXYStrategy.sol
  vesper-strategies/contracts/strategies/compound/VesperCompoundXYStrategy.sol
  vesper-strategies/test/behavior/vesper-pool.js
  vesper-strategies/test/mainnet/compound-xy/vawbtc.spec.js
  vesper-strategies/test/mainnet/compound-xy/vesper/vawbtc.spec.js
  vesper-strategies/test/utils/setup.js
Due: solhint, eslint --cache --fix

Cleaned up poolOps.js, deleted market.js
  vesper-strategies/test/utils/market.js
  vesper-strategies/test/utils/poolOps.js
Due: eslint --cache --fix

Removed ANY_ERO20 logic and tokenSwapper
  vesper-commons/config/arbitrum/address.js
  vesper-commons/config/avalanche/address.js
  vesper-commons/config/mainnet/address.js
  vesper-commons/config/polygon/address.js
  vesper-strategies/test/behavior/strategy.js
  vesper-strategies/test/behavior/vesper-pool.js
  vesper-strategies/test/utils/tokenSwapper.js
Due: eslint --cache --fix

Added more addresses in balance.js
  vesper-commons/utils/balance.js
Due: eslint --cache --fix

Added setup and poolOps in commons
  vesper-commons/utils/poolOps.js
  vesper-commons/utils/setup.js
Due: eslint --cache --fix

Added pool related tests
  .github/workflows/pool.yml
  vesper-pools/contracts/test/TestVSP.sol
  vesper-pools/test/live/local-to-mainnet-upgrade-test.js
  vesper-pools/test/live/mainnet-pool-upgrade-test.js
  vesper-pools/test/live/mainnet-test.js
  vesper-pools/test/pool-accountant-proxy.spec.js
  vesper-pools/test/pool-accountant.spec.js
  vesper-pools/test/pool-rewards.spec.js
  vesper-pools/test/vesper-pool-admin.spec.js
  vesper-pools/test/vesper-pool-proxy.spec.js
Due: solhint, eslint --cache --fix

Updated README
  README.md
Due: none

Added AaveXY strategy and its tests
  .github/workflows/mainnet-aave-xy.yml
  package.json
  vesper-strategies/contracts/interfaces/aave/IAave.sol
  vesper-strategies/contracts/strategies/aave/AaveCore.sol
  vesper-strategies/contracts/strategies/aave/AaveXYStrategy.sol
  vesper-strategies/contracts/strategies/aave/VesperAaveXYStrategy.sol
  vesper-strategies/test/behavior/aave-reward.js
  vesper-strategies/test/behavior/vesper-aave-xy.js
  vesper-strategies/test/mainnet/aave-xy/vesper/vaeth.spec.js
  vesper-strategies/test/mainnet/aave-xy/vesper/vawbtc.spec.js
  vesper-strategies/test/utils/setup.js
Due: solhint, eslint --cache --fix

Using setup and poolOps from commons
  vesper-commons/utils/setup.js
  vesper-strategies/test/behavior/aave-reward.js
  vesper-strategies/test/behavior/compound-xy.js
  vesper-strategies/test/behavior/maker-common.js
  vesper-strategies/test/behavior/maker-strategy.js
  vesper-strategies/test/behavior/strategy-migration.js
  vesper-strategies/test/behavior/strategy.js
  vesper-strategies/test/behavior/vesper-aave-xy.js
  vesper-strategies/test/behavior/vesper-compound-xy.js
  vesper-strategies/test/behavior/vesper-multi-strategy-pool.js
  vesper-strategies/test/behavior/vesper-pool.js
  vesper-strategies/test/utils/poolOps.js
  vesper-strategies/test/utils/setup.js
  vesper-strategies/test/utils/testRunner.js
Due: eslint --cache --fix

Added method to update swapper, updated code doc
  vesper-strategies/contracts/strategies/Strategy.sol
  vesper-strategies/contracts/strategies/compound/CompoundXYCore.sol
Due: solhint

Restructure withdraw method
  vesper-pools/test/live/local-to-mainnet-upgrade-test.js
  vesper-strategies/contracts/strategies/Strategy.sol
  vesper-strategies/contracts/strategies/aave/AaveXYStrategy.sol
  vesper-strategies/contracts/strategies/compound/CompoundXYCore.sol
  vesper-strategies/contracts/strategies/maker/MakerStrategy.sol
Due: solhint, eslint --cache --fix

Using hardhat-toolbox
  package-lock.json
  package.json
  patches/hardhat+2.10.1.patch
  vesper-commons/utils/balance.js
  vesper-commons/utils/setup.js
  vesper-commons/utils/time.js
  vesper-pools/hardhat.config.js
  vesper-pools/package-lock.json
  vesper-pools/package.json
  vesper-pools/test/pool-rewards.spec.js
  vesper-strategies/hardhat.config.js
  vesper-strategies/package.json
  vesper-strategies/test/behavior/aave-reward.js
  vesper-strategies/test/behavior/compound-xy.js
  vesper-strategies/test/behavior/strategy.js
  vesper-strategies/test/behavior/vesper-aave-xy.js
  vesper-strategies/test/behavior/vesper-compound-xy.js
  vesper-strategies/test/behavior/vesper-pool.js
Due: eslint --cache --fix

Harvest VSP as separate external method
  vesper-strategies/contracts/strategies/Strategy.sol
  vesper-strategies/contracts/strategies/aave/AaveXYStrategy.sol
  vesper-strategies/contracts/strategies/aave/VesperAaveXYStrategy.sol
  vesper-strategies/contracts/strategies/compound/CompoundXYCore.sol
  vesper-strategies/contracts/strategies/compound/VesperCompoundXYStrategy.sol
  vesper-strategies/contracts/strategies/maker/VesperMakerStrategy.sol
Due: solhint

Moved IStrategy to commons package
  vesper-commons/contracts/interfaces/vesper/IStrategy.sol
  vesper-commons/package.json
  vesper-pools/contracts/interfaces/vesper/IStrategy.sol
  vesper-pools/contracts/pool/VPool.sol
  vesper-strategies/contracts/strategies/Strategy.sol
Due: solhint

Startgate strategy. Added tvl method in other strategy
  .github/workflows/mainnet-stargate.yml
  vesper-commons/config/mainnet/address.js
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-commons/utils/setup.js
  vesper-commons/utils/strategyTypes.js
  vesper-strategies/contracts/interfaces/stargate/IStargateFactory.sol
  vesper-strategies/contracts/interfaces/stargate/IStargateLpStaking.sol
  vesper-strategies/contracts/interfaces/stargate/IStargatePool.sol
  vesper-strategies/contracts/interfaces/stargate/IStargateRouter.sol
  vesper-strategies/contracts/strategies/Strategy.sol
  vesper-strategies/contracts/strategies/aave/AaveXYStrategy.sol
  vesper-strategies/contracts/strategies/compound/CompoundXYCore.sol
  vesper-strategies/contracts/strategies/maker/MakerStrategy.sol
  vesper-strategies/contracts/strategies/stargate/StargateStrategy.sol
  vesper-strategies/test/behavior/strategy-migration.js
  vesper-strategies/test/behavior/vesper-pool.js
  vesper-strategies/test/mainnet/stargate/vausdc.spec.js
Due: solhint, eslint --cache --fix

Added Pool deployment and upgrade, Strategy Deployment and create release
  lerna.json
  package-lock.json
  package.json
  vesper-commons/package-lock.json
  vesper-deployments/abis/gnosisAbi.json
  vesper-deployments/contracts/test/Imports.sol
  vesper-deployments/deploy/deploy-strategy.js
  vesper-deployments/deploy/deploy-vpool.js
  vesper-deployments/deploy/gnosis-txn.js
  vesper-deployments/deploy/upgrade-pool.js
  vesper-deployments/hardhat.config.js
  vesper-deployments/package-lock.json
  vesper-deployments/package.json
  vesper-deployments/releases/5.0.1/contracts.json
  vesper-deployments/tasks/create-release.js
  vesper-deployments/tasks/deploy-core-contracts.js
  vesper-deployments/tasks/hardhat-hook.js
  vesper-deployments/tasks/strategy-configuration.js
  vesper-deployments/tasks/upgrade-pool.js
  vesper-pools/package-lock.json
  vesper-pools/package.json
  vesper-strategies/package-lock.json
Due: solhint, eslint --cache --fix

Updated AaveXY for stETH, added/updated tests
  .github/workflows/mainnet-aave-xy.yml
  vesper-commons/config/mainnet/address.js
  vesper-commons/config/mainnet/poolConfig.js
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-commons/utils/balance.js
  vesper-commons/utils/poolOps.js
  vesper-strategies/contracts/strategies/aave/AaveCore.sol
  vesper-strategies/contracts/strategies/aave/AaveXYStrategy.sol
  vesper-strategies/test/behavior/vesper-pool.js
  vesper-strategies/test/mainnet/aave-xy/vesper/vasteth.spec.js
Due: solhint, eslint --cache --fix

Use actual repay amount for repay
  vesper-strategies/contracts/strategies/aave/AaveXYStrategy.sol
  vesper-strategies/contracts/strategies/aave/VesperAaveXYStrategy.sol
  vesper-strategies/test/behavior/strategy-migration.js
Due: solhint, eslint --cache --fix

Updated GH actions path
  .github/workflows/mainnet-aave-xy.yml
  .github/workflows/mainnet-compound-xy.yml
  .github/workflows/mainnet-stargate.yml
  vesper-deployments/package-lock.json
Due: none

Updated tests to check borrow debt
  vesper-strategies/test/behavior/compound-xy.js
  vesper-strategies/test/behavior/vesper-compound-xy.js
Due: eslint --cache --fix

Aave V2 supply strategy
  .github/workflows/mainnet-aave.yml
  vesper-strategies/contracts/strategies/aave/AaveStrategy.sol
  vesper-strategies/test/behavior/aave-reward.js
  vesper-strategies/test/behavior/strategy.js
  vesper-strategies/test/behavior/vesper-pool.js
  vesper-strategies/test/mainnet/aave/vadai.spec.js
  vesper-strategies/test/mainnet/aave/vauni.spec.js
  vesper-strategies/test/mainnet/aave/vausdc.spec.js
  vesper-strategies/test/mainnet/aave/vausdt.spec.js
Due: solhint, eslint --cache --fix

Removed V5 upgrade related code
  vesper-deployments/deploy/upgrade-pool.js
  vesper-pools/contracts/interfaces/vesper/IPoolAccountant.sol
  vesper-pools/contracts/pool/PoolAccountant.sol
  vesper-pools/contracts/pool/VPool.sol
  vesper-pools/package.json
Due: solhint, eslint --cache --fix

Aave v3 strategy
  .github/workflows/avalanche-aave-v3.yml
  vesper-commons/config/avalanche/address.js
  vesper-commons/config/avalanche/strategyConfig.js
  vesper-commons/utils/setup.js
  vesper-strategies/contracts/interfaces/aave/IAave.sol
  vesper-strategies/contracts/strategies/aave/AaveCore.sol
  vesper-strategies/contracts/strategies/aave/AaveIncentive.sol
  vesper-strategies/contracts/strategies/aave/AaveV3Strategy.sol
  vesper-strategies/test/avalanche/aave/vadai.spec.js
Due: solhint, eslint --cache --fix

Fixed liquidity check
  vesper-strategies/contracts/strategies/aave/AaveCore.sol
  vesper-strategies/contracts/strategies/aave/AaveXYStrategy.sol
Due: solhint

Fixed isReservedToken to exclude rewards
  vesper-strategies/contracts/strategies/aave/AaveCore.sol
  vesper-strategies/contracts/strategies/aave/AaveXYStrategy.sol
  vesper-strategies/contracts/strategies/compound/CompoundXYStrategy.sol
Due: solhint

Reordered function
  vesper-strategies/contracts/strategies/aave/VesperAaveXYStrategy.sol
  vesper-strategies/contracts/strategies/compound/VesperCompoundXYStrategy.sol
Due: solhint

Fixed naming and path
  .github/workflows/avalanche-aaveV3.yml
  .github/workflows/mainnet-aaveV2-xy.yml
  vesper-commons/config/avalanche/strategyConfig.js
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-commons/utils/strategyTypes.js
  vesper-strategies/contracts/strategies/aave/v2/AaveV2Core.sol
  vesper-strategies/contracts/strategies/aave/v2/AaveV2VesperXy.sol
  vesper-strategies/contracts/strategies/aave/v2/AaveV2Xy.sol
  vesper-strategies/contracts/strategies/aave/v3/AaveV3.sol
  vesper-strategies/contracts/strategies/aave/v3/AaveV3Incentive.sol
  vesper-strategies/test/avalanche/aave/v3/vadai.spec.js
  vesper-strategies/test/avalanche/aave/vadai.spec.js
  vesper-strategies/test/behavior/aave-vesper-xy.js
  vesper-strategies/test/behavior/strategy.js
  vesper-strategies/test/mainnet/aave-xy/vesper/vaeth.spec.js
  vesper-strategies/test/mainnet/aave-xy/vesper/vawbtc.spec.js
  vesper-strategies/test/mainnet/aave/v2/xy/vesper/vaeth.spec.js
  vesper-strategies/test/mainnet/aave/v2/xy/vesper/vasteth.spec.js
  vesper-strategies/test/mainnet/aave/v2/xy/vesper/vawbtc.spec.js
Due: solhint, eslint --cache --fix

Fixed reservedToken issue, updated version
  vesper-strategies/contracts/strategies/aave/AaveStrategy.sol
Due: solhint

Updated names according to new naming convention
  .github/workflows/mainnet-aaveV2.yml
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-strategies/contracts/strategies/aave/v2/AaveV2.sol
  vesper-strategies/test/mainnet/aave/v2/vadai.spec.js
  vesper-strategies/test/mainnet/aave/v2/vauni.spec.js
  vesper-strategies/test/mainnet/aave/v2/vausdc.spec.js
  vesper-strategies/test/mainnet/aave/v2/vausdt.spec.js
  vesper-strategies/test/mainnet/aave/vadai.spec.js
  vesper-strategies/test/mainnet/aave/vauni.spec.js
  vesper-strategies/test/mainnet/aave/vausdc.spec.js
  vesper-strategies/test/mainnet/aave/vausdt.spec.js
Due: solhint, eslint --cache --fix

Added Compound Strategy
  .github/workflows/mainnet-compound.yml
  vesper-strategies/contracts/strategies/compound/CompoundStrategy.sol
  vesper-strategies/contracts/strategies/compound/CompoundStrategyETH.sol
  vesper-strategies/test/behavior/compound.js
  vesper-strategies/test/behavior/strategy.js
  vesper-strategies/test/mainnet/compound/vadai.spec.js
  vesper-strategies/test/mainnet/compound/vaeth.spec.js
  vesper-strategies/test/mainnet/compound/valink.spec.js
  vesper-strategies/test/mainnet/compound/vauni.spec.js
  vesper-strategies/test/mainnet/compound/vausdc.spec.js
  vesper-strategies/test/mainnet/compound/vausdt.spec.js
  vesper-strategies/test/mainnet/compound/vawbtc.spec.js
Due: solhint, eslint --cache --fix

Set solc version on VSCode settings
  .vscode/settings.json
Due: none

fixed report earning issue
  vesper-strategies/contracts/strategies/aave/v2/AaveV2Xy.sol
Due: solhint

safe withdraw. withdraw min of available liquidity and amount requested
  vesper-strategies/contracts/strategies/aave/v2/AaveV2Xy.sol
Due: solhint
