Repository vesperfi/vesper-contracts: changes, and which lint-staged commands are due for each by the changed paths.
All: solhint, eslint --cache --fix

.lintstagedrc.json:

{
  "*.sol": [
    "solhint"
  ],
  "*.js": [
    "eslint --cache --fix"
  ]
}

Added support for ETH in stargate
  .github/workflows/mainnet-stargate.yml
  vesper-commons/config/bsc/address.js
  vesper-commons/config/bsc/strategyConfig.js
  vesper-commons/config/mainnet/address.js
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-strategies/contracts/strategies/stargate/Stargate.sol
  vesper-strategies/contracts/strategies/stargate/StargateETH.sol
  vesper-strategies/test/mainnet/stargate/vaeth.spec.js
Due: solhint, eslint --cache --fix

Rename variables
  vesper-strategies/contracts/strategies/stargate/Stargate.sol
Due: solhint

Deploy Stargate Strategy for vaETH
  vesper-deployments/contracts/test/Imports.sol
  vesper-deployments/deployments/mainnet/vaeth/Stargate_ETH.json
  vesper-deployments/deployments/mainnet/vaeth/solcInputs/7d147ba8d008517e8250ce5497ceef7b.json
  vesper-deployments/releases/5.0.2/contracts.json
Due: solhint

Updated test config
  vesper-commons/config/avalanche/strategyConfig.js
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-commons/utils/poolOps.js
  vesper-strategies/test/behavior/earn-vesper-strategy.js
  vesper-strategies/test/behavior/vesper-pool.js
Due: eslint --cache --fix

Deployed Euler_Vesper_Xy_ETH_DAI strategy for vaETH pool
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-deployments/deployments/mainnet/vaeth/Euler_Vesper_Xy_ETH_DAI.json
  vesper-deployments/deployments/mainnet/vaeth/solcInputs/265a3dd7cc28d808e4e1218c8b3e1cfe.json
  vesper-deployments/releases/5.0.2/contracts.json
  vesper-strategies/test/mainnet/euler/xy/vesper/vaeth.spec.js
Due: eslint --cache --fix

Deploy Stargate Strategy for vaFRAX
  .github/workflows/mainnet-stargate.yml
  vesper-commons/config/mainnet/address.js
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-deployments/deployments/mainnet/vafrax/Stargate_FRAX.json
  vesper-deployments/deployments/mainnet/vafrax/solcInputs/7d147ba8d008517e8250ce5497ceef7b.json
  vesper-deployments/releases/5.0.2/contracts.json
  vesper-strategies/test/mainnet/stargate/vafrax.spec.js
Due: eslint --cache --fix

Deploy Stargate Strategy for vaDAI
  .github/workflows/mainnet-stargate.yml
  vesper-commons/config/mainnet/address.js
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-deployments/deployments/mainnet/vadai/Stargate_DAI.json
  vesper-deployments/deployments/mainnet/vadai/solcInputs/7d147ba8d008517e8250ce5497ceef7b.json
  vesper-deployments/releases/5.0.2/contracts.json
  vesper-strategies/test/mainnet/stargate/vadai.spec.js
Due: eslint --cache --fix

Added AaveV3 XY strategy config for vaAVAX pool
  .github/workflows/avalanche-aaveV3-xy.yml
  vesper-commons/config/avalanche/address.js
  vesper-commons/config/avalanche/strategyConfig.js
  vesper-strategies/contracts/strategies/aave/v3/AaveV3Xy.sol
  vesper-strategies/test/avalanche/aave/v3/xy/vesper/vaavax.spec.js
Due: solhint, eslint --cache --fix

Added Alpaca strategy
  .github/workflows/bsc-alpaca.yml
  vesper-commons/config/bsc/address.js
  vesper-commons/config/bsc/strategyConfig.js
  vesper-commons/utils/balance.js
  vesper-commons/utils/strategyTypes.js
  vesper-strategies/contracts/interfaces/alpaca/IConfig.sol
  vesper-strategies/contracts/interfaces/alpaca/IFairLaunch.sol
  vesper-strategies/contracts/interfaces/alpaca/IVault.sol
  vesper-strategies/contracts/strategies/alpaca/Alpaca.sol
  vesper-strategies/contracts/strategies/alpaca/AlpacaBNB.sol
  vesper-strategies/test/behavior/alpaca.js
  vesper-strategies/test/behavior/strategy.js
  vesper-strategies/test/bsc/alpaca/vabnb.spec.js
  vesper-strategies/test/bsc/alpaca/vabusd.spec.js
Due: solhint, eslint --cache --fix

Deployed Aave v3 Borrow DAI Strategy to vaAVAX
  vesper-deployments/contracts/test/Imports.sol
  vesper-deployments/deployments/avalanche/vaavax/AaveV3_Vesper_Xy_AVAX_DAIe.json
  vesper-deployments/deployments/avalanche/vaavax/solcInputs/434ef3c4077e9e378e0827dcb90f0ccd.json
  vesper-deployments/releases/5.0.2/contracts.json
Due: solhint

Deployed Convex For Frax Strategy for vaFRAX
  vesper-deployments/deployments/mainnet/vafrax/ConvexForFrax_fraxusdc_FRAX.json
  vesper-deployments/deployments/mainnet/vafrax/solcInputs/caf516414c718a7bb5f917e902ec8ca1.json
  vesper-deployments/releases/5.0.2/contracts.json
Due: none

Deployed Convex For Frax Strategy for vaUSDC
  .github/workflows/mainnet-convex-for-frax-2pool.yml
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-deployments/deployments/mainnet/vausdc/ConvexForFrax_fraxusdc_USDC.json
  vesper-deployments/deployments/mainnet/vausdc/solcInputs/caf516414c718a7bb5f917e902ec8ca1.json
  vesper-deployments/releases/5.0.2/contracts.json
  vesper-strategies/test/mainnet/convex/convex_for_frax/2pool/fraxusdc-usdc.spec.js
Due: eslint --cache --fix

Deployed dolafraxbp for vaFRAX pool
  .github/workflows/mainnet-convex-for-frax-3pool.yml
  vesper-commons/config/mainnet/address.js
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-deployments/deployments/mainnet/vafrax/ConvexForFrax_dolafraxbp_FRAX.json
  vesper-deployments/deployments/mainnet/vafrax/solcInputs/caf516414c718a7bb5f917e902ec8ca1.json
  vesper-deployments/releases/5.0.2/contracts.json
  vesper-strategies/contracts/interfaces/curve/IDepositZap.sol
  vesper-strategies/contracts/strategies/curve/Curve.sol
  vesper-strategies/test/mainnet/convex/convex_for_frax/3pool/dolafraxbp-frax.spec.js
Due: solhint, eslint --cache --fix

Deployed dolafraxbp for vaFRAX pool
  .github/workflows/mainnet-convex-for-frax-3pool.yml
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-deployments/deployments/mainnet/vausdc/ConvexForFrax_dolafraxbp_USDC.json
  vesper-deployments/deployments/mainnet/vausdc/solcInputs/caf516414c718a7bb5f917e902ec8ca1.json
  vesper-deployments/releases/5.0.2/contracts.json
  vesper-strategies/test/mainnet/convex/convex_for_frax/3pool/dolafraxbp-usdc.spec.js
Due: eslint --cache --fix

Fixed unit tests
  vesper-commons/config/avalanche/strategyConfig.js
  vesper-commons/config/mainnet/strategyConfig.js
Due: eslint --cache --fix

Migrate convex Strategy for vaFEI to retire the pool
  vesper-deployments/deployments/mainnet/.migrations.json
  vesper-deployments/deployments/mainnet/vafei/Convex_d3pool_FEI.json
  vesper-deployments/deployments/mainnet/vafei/solcInputs/d73c3b155e6f26fbcbf4544981d091c7.json
  vesper-deployments/releases/5.0.2/contracts.json
Due: none

Added strategy fork testing script
  vesper-pools/test/live/strategy-test.js
Due: eslint --cache --fix

Deploy new convex strategy for vaALUSD pool and migration
  vesper-deployments/deployments/mainnet/.migrations.json
  vesper-deployments/deployments/mainnet/vaalusd/Convex_d3pool_AlUSD.json
  vesper-deployments/deployments/mainnet/vaalusd/solcInputs/ccf4d0cfa144a9dfcb402544460f4d45.json
  vesper-deployments/releases/5.0.2/contracts.json
Due: none

Updated depenendecies and patches
  package-lock.json
  package.json
  patches/hardhat+2.12.3.patch
  patches/hardhat-deploy+0.11.21.patch
Due: none

Removed renBTC 1.0 tests
  .github/workflows/avalanche-curve-2pool.yml
  .github/workflows/mainnet-convex-2pool.yml
  vesper-strategies/test/avalanche/curve/2pool/ren-pool-wbtce.spec.js
  vesper-strategies/test/mainnet/convex/2pool/ren-wbtc.spec.js
Due: eslint --cache --fix

Updates to fix tests
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-commons/utils/setup.js
  vesper-strategies/test/behavior/strategy.js
Due: eslint --cache --fix

Added Venus borrow strategy
  .github/workflows/bsc-venus-xy.yml
  vesper-commons/config/bsc/address.js
  vesper-commons/config/bsc/strategyConfig.js
  vesper-commons/utils/setup.js
  vesper-strategies/contracts/strategies/compound/bsc/VenusVesperXy.sol
  vesper-strategies/contracts/strategies/compound/bsc/VenusVesperXyBNB.sol
  vesper-strategies/contracts/strategies/compound/bsc/VenusXy.sol
  vesper-strategies/test/bsc/venus/xy/vesper/vabnb.spec.js
  vesper-strategies/test/bsc/venus/xy/vesper/vabusd.spec.js
Due: solhint, eslint --cache --fix

Added WSTETH support in Euler
  .github/workflows/mainnet-euler.yml
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-strategies/contracts/interfaces/external/lido/IWstETH.sol
  vesper-strategies/contracts/strategies/euler/Euler.sol
  vesper-strategies/contracts/strategies/euler/EulerSTETH.sol
  vesper-strategies/test/mainnet/euler/vasteth.spec.js
Due: solhint, eslint --cache --fix

Added 0 input check
  vesper-strategies/contracts/strategies/stargate/Stargate.sol
Due: solhint

Fixed failed test
  vesper-commons/config/avalanche/address.js
  vesper-commons/config/avalanche/strategyConfig.js
Due: eslint --cache --fix

Migrate stargate strategy for vafrax pool
  vesper-deployments/deployments/mainnet/.migrations.json
  vesper-deployments/deployments/mainnet/vafrax/Stargate_FRAX.json
  vesper-deployments/deployments/mainnet/vafrax/solcInputs/f50be24825a08c25d3a62ecca354e430.json
  vesper-deployments/releases/5.0.2/contracts.json
Due: none

Added claimAndSwapRewards function
  vesper-strategies/contracts/strategies/compound/CompoundLeverage.sol
  vesper-strategies/contracts/strategies/compound/CompoundLeverageBase.sol
  vesper-strategies/contracts/strategies/compound/avalanche/CompoundLikeLeverage.sol
Due: solhint

Deployed compound leverage strategy
  vesper-deployments/deployments/mainnet/.migrations.json
  vesper-deployments/deployments/mainnet/vadai/Compound_Leverage_DAI.json
  vesper-deployments/deployments/mainnet/vadai/solcInputs/d3b413495e2f0cbe702c35fea720267e.json
  vesper-deployments/releases/5.0.2/contracts.json
Due: none

Added edge case handling for Vesper Earn strategy
  vesper-strategies/contracts/strategies/vesper/Vesper.sol
Due: solhint

Vesper Earn Strategy migration for veWBTC-DAI
  vesper-deployments/deployments/mainnet/.migrations.json
  vesper-deployments/deployments/mainnet/vewbtc_dai/EarnVesperStrategyWBTCDAI.json
  vesper-deployments/deployments/mainnet/vewbtc_dai/Vesper_Earn_WBTC_DAI.json
  vesper-deployments/deployments/mainnet/vewbtc_dai/solcInputs/2135a712eed530e6700eb426cde29682.json
  vesper-deployments/releases/5.0.2/contracts.json
Due: none

Removed _approveToken(0)
  vesper-commons/utils/setup.js
  vesper-deployments/deploy/deploy-strategy.js
  vesper-deployments/deploy/migrate-strategy.js
  vesper-strategies/contracts/strategies/Strategy.sol
  vesper-strategies/test/behavior/strategy.js
  vesper-strategies/test/mainnet/maker/vesper/vasteth.spec.2.js
Due: solhint, eslint --cache --fix

Curve-Convex FraxBP-DOLA Strategies configurations and deployment
  .github/workflows/mainnet-convex-3pool.yml
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-commons/utils/setup.js
  vesper-deployments/deployments/mainnet/vafrax/Convex_dolafraxbp_FRAX.json
  vesper-deployments/deployments/mainnet/vafrax/solcInputs/ccf4d0cfa144a9dfcb402544460f4d45.json
  vesper-deployments/deployments/mainnet/vausdc/Convex_dolafraxbp_USDC.json
  vesper-deployments/deployments/mainnet/vausdc/solcInputs/ccf4d0cfa144a9dfcb402544460f4d45.json
  vesper-deployments/releases/5.0.2/contracts.json
  vesper-strategies/test/mainnet/convex/3pool/dolafraxbp-frax.spec.js
  vesper-strategies/test/mainnet/convex/3pool/dolafraxbp-usdc.spec.js
Due: eslint --cache --fix

Update mock usage
  vesper-pools/test/vesper-pool-admin.spec.js
Due: eslint --cache --fix

Updated dependencies and scripts
  package-lock.json
  package.json
  vesper-commons/package.json
  vesper-deployments/package-lock.json
  vesper-pools/package-lock.json
  vesper-pools/package.json
Due: none

Updated test/config to fix failed tests
  packages/misc/test/revenue-splitter.js
  vesper-commons/config/avalanche/strategyConfig.js
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-strategies/test/avalanche/benqi/leverage/vawbtce.spec.js
  vesper-strategies/test/avalanche/benqi/leverage/vawethe.spec.js
  vesper-strategies/test/behavior/vesper-pool.js
Due: eslint --cache --fix

Increased slippage to fix failed tests
  vesper-commons/config/mainnet/strategyConfig.js
Due: eslint --cache --fix

Deployed alphalend strategyfor vaDAI pool
  .github/workflows/mainnet-alpha.yml
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-deployments/contracts/test/Imports.sol
  vesper-deployments/deployments/mainnet/vadai/Alpha_Homora_DAI.json
  vesper-deployments/deployments/mainnet/vadai/solcInputs/bb302d0031fa4950b4b76f67087d7e42.json
  vesper-deployments/releases/5.0.2/contracts.json
  vesper-strategies/test/mainnet/alpha/vadai.spec.js
Due: solhint, eslint --cache --fix

Deploy ompound V3 straegy for vaLINK pool
  .github/workflows/mainnet-compoundV3-xy.yml
  vesper-commons/config/mainnet/strategyConfig.js
  vesper-deployments/contracts/test/Imports.sol
  vesper-deployments/deployments/mainnet/valink/CompoundV3_Vesper_Xy_LINK_USDC.json
  vesper-deployments/deployments/mainnet/valink/solcInputs/a2a668b1e7f33f49a90ab5710d971d2a.json
  vesper-deployments/releases/5.0.2/contracts.json
  vesper-deployments/tasks/strategy-configuration.js
  vesper-strategies/test/behavior/vesper-pool.js
  vesper-strategies/test/mainnet/compound/v3/xy/vesper/valink.spec.js
Due: solhint, eslint --cache --fix

Removed set-output from GH action
  .github/actions/setup-env/action.yml
Due: none
